<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,user-scalable=no">
    <%- include('includes/css.html') %>
    <title>在线充值</title>
</head>
<body ng-app="xw" ng-controller="chargeBalanceOnlineCtrl">

<nav class="nav">
    <back-button></back-button>
    <span>充值</span>
</nav>

<div class="charge-balance-online-main" ng-cloak>
    <div class="cur-balance clearfix">
        <span class="label-txt">现有余额</span>
        <span class="balance pull-right"><i>{{balance}}</i> 新味币</span>
    </div>

    <ul class="selections">
        <li><span>价格</span><span>充值</span></li>
        <li ng-repeat="item in chargeSelections" ng-click="chargeSelections.selected = $index">
            <span>¥ {{item.price}}</span><span>{{item.coin}} 新味币</span><span ng-if="$index == chargeSelections.selected" class="glyphicon glyphicon-ok"></span>
        </li>
    </ul>

    <div class="confirm" ng-click="chargeOnline()">确认</div>
</div>

</body>

<%- include('includes/js.html') %>
<!-- build-replace-->
<!-- build:chargeBalanceOnline(app/public/mobile/src) ../js/controllers/charge-balance-online.js -->
<script src="/mobile/src/js/controllers/charge-balance-online.js"></script>
<!-- endbuild -->
<!-- end-build-replace-->
</html>