<!DOCTYPE html>
<html ng-app="xw" ng-controller="eatCtrl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,user-scalable=no">

<% include includes/css.html %>
    <title ng-bind="path == '/eat' ? '新味便当' : '新味食材包'"></title>
    <script>var _hmt=_hmt||[];(function(){var hm=document.createElement("script");hm.src="//hm.baidu.com/hm.js?bd3701195d6b839a7858b504dea63bb5";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm,s);})();</script>
</head>
<body class="menu-body">

<div class="eat-list-wrapper" ng-cloak>
    <ul class="eat-list food-list">
        <li ng-repeat="dish in dishes | filter : {cookingType: path == '/eat' ? 'ready to eat' : 'ready to cook'} track by dish._id">
            <div class="dish-detail">
                <div class="img-group">
                    <a ng-href="{{dish.cookingType == 'ready to eat' ? '' : '/mobile/cook/' + dish.id}}">
                        <img img-lazy-load="dish.cover[0].zh | adapt"/>
                    </a>
                </div>
                <div class="detail">
                    <div class="caption">
                        <h3 class="title">{{::dish.title.zh}}</h3>
                        <div class="ingredient-group" ng-if="path == '/eat'">
                            <div class="brief">{{::dish.brief.zh}}</div>
                        </div>
                    </div>
                    <div class="user-actions tips">
                        <div ng-if="dish.cookingType == 'ready to cook'">
                            <span class="time-icon"></span>{{dish.time}}′
                            <span class="people-icon"></span>x{{dish.servings}}
                        </div>
                        <span class="like-icon" ng-class="{'like': dish.liked, eat: dish.cookingType == 'ready to eat'}" ng-click="likeDish(dish)"></span>
                    </div>
                    <!--<div class="buy">-->
                        <!--<span class="price">{{::dish.priceOriginal}}</span>-->
                        <!--<span class="button" ng-click="addDish(dish)" ng-if="!dish.outOfStock">购买</span>-->
                        <!--<span class="button out-of-stock" ng-if="dish.outOfStock">售罄</span>-->
                    <!--</div>-->
                    <div class="buy-button"
                         ng-class="{'out-of-stock': dish.outOfStock}"
                         ng-click="!dish.outOfStock && addDish(dish)">
                        <div class="price"><span>{{dish.priceOriginal}}</span></div>
                        <div class="text" ng-if="!dish.outOfStock">购买</div>
                        <div class="text" ng-if="dish.outOfStock">售罄</div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>


<add-dish-bar user="user" dish="curDish"></add-dish-bar>

<nav class="menu-nav empty" ng-class="{'empty': !storage.localBag.length}">
    <div><a href="me"><span>帐号</span></a></div>
    <div ng-class="{active: path == '/eat'}"><a href="#/eat"><span>便当</span></a></div>
    <div ng-class="{active: path == '/cook'}"><a href="#/cook"><span>食材包</span></a></div>

    <div class="go-to-cart" ng-click="goToCart()">
        <div class="icon bag-icon">
            <i class="number" ng-bind="storage.localBag.length"></i>
        </div>
        <span class="price" ng-bind="storage.localBag.price || 0 | number: 1"></span>
    </div>
</nav>

</body>
<%- include('includes/js.html') %>
<!-- build-replace-->
<!-- build:eatList(app/public/mobile/src) ../js/controllers/eat-list.js -->
<script src="/mobile/src/js/controllers/eat-list.js"></script>
<!-- endbuild -->
<!-- end-build-replace-->
</html>