
    <div ui-view>
    </div>
    <!--
            <form class="form-horizontal">
            <div class="form-group">
                <label for="" class="control-label col-lg-3 text-right"></label>
                <div class="col-lg-5">
                    <input type="text" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-6 col-lg-offset-3">
                    <button>保存</button>
                </div>
            </div>
            </form>
    -->

    <hr/>

    <div class="row dish-search">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-lg-3 text-right">关键字</label>
                <div class="col-lg-5">
                    <input type="text" class="form-control"/>
                </div>
            </div>


            <!--submit-->
            <div class="form-group">
                <div class="col-lg-6 col-lg-offset-3">
                    <button ng-click="search()">搜索</button>
                </div>
            </div>
        </form>
    </div>

    <hr/>

    <div class="row dish-list">
        <h3>菜品</h3>
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th>_id</th><th>Name</th><th>Public</th><th>Public Time</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dish in dishes">
                    <td><a href="#/dishDetail/{{dish._id}}">{{dish._id}}</a></td>
                    <td>{{dish.title.zh}}</td>
                    <td>{{dish.isPublished}}</td>
                    <td>{{dish.createdAt}}</td>
                </tr>
            </tbody>
        </table>
    </div>
