
<div class="col-lg-12">

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title panel-titlenew">Logs 日志列表
                <!--<a class="btn btn-sm btn-info pull-right" ui-sref="menu.addNewTag" role="button">新增</a>-->
            </h3>
        </div>

        <div class="panel-body">

            <form class="form-horizontal" name="searchForm" novalidate ng-cloak>
                <div class="form-group has-feedback" ng-class="{'has-success':searchForm.keyword.$dirty&&searchForm.keyword.$valid, 'has-error':searchForm.keyword.$dirty&&searchForm.keyword.$invalid}">
                    <label for="inputKeyword" class="col-lg-2 control-label" >关键字实时筛选</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" id="inputKeyword" placeholder="keyword" name="keyword" ng-model="data.searchFilter" required ng-minlength="2">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="searchForm.keyword.$dirty&&searchForm.keyword.$valid"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="searchForm.keyword.$dirty&&searchForm.keyword.$invalid"></span>
                    </div>
                    <div class="col-lg-6">
                        <span class="form-validation help-block" ng-if="searchForm.keyword.$dirty&&searchForm.keyword.$error.required">请填入信息！</span>
                        <span class="form-validation help-block" ng-if="searchForm.keyword.$dirty&&searchForm.keyword.$error.minlength || searchForm.keyword.$dirty&&searchForm.keyword.$error.maxlength">输入的信息长度错误！</span>
                    </div>
                </div>

                <div class="form-group has-feedback" ng-class="{'has-success':searchForm.logLevel.$dirty&&searchForm.logLevel.$valid, 'has-error':searchForm.logLevel.$dirty&&searchForm.logLevel.$invalid}">
                    <label  class="col-lg-2 control-label" >日志类型</label>
                    <div class="col-lg-8">
                        <label class="radio-inline">
                            <input type="radio" name="logLevel"  ng-value="''" ng-model="data.searchOptions.query.level">All
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="logLevel" ng-value="'error'" ng-model="data.searchOptions.query.level">error
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="logLevel" ng-value="'warn'" ng-model="data.searchOptions.query.level">warn
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-default" ng-click="searchLogCount(searchForm)">Search Logs</button>
                        <button type="submit" class="btn btn-default" ng-click="searchSetting(searchForm)">Search Settings</button>
                        <button class="btn btn-danger" ng-click="removesetting2()">删除微信缓存设置</button>
                        <button class="btn btn-danger" ng-click="removelog()">删除所有日志</button>
                    </div>
                </div>
            </form>

        </div>
    </div>



    <nav ng-if="css.showTable === 'logs'">
        <ul class="pagination">
            <li>
                <span aria-hidden="true"> 共{{data.logListCount}}条记录 </span>
            </li>

            <li>
                <a aria-label="Previous" ng-hide="data.logListCurrentPage==1"  ng-click="changePagination(data.logListCurrentPage - 1)"> <span aria-hidden="true">&laquo;</span></a>
            </li>
            <li ng-class="{active: data.logListCurrentPage == $index + 1}" ng-repeat="page in data.logListPagesArray"><a ng-click="changePagination(page.value)">{{page.value}}</a></li>
            <li>
                <a aria-label="Next" ng-hide="data.logListCurrentPage==data.logListTotalPages"  ng-click="changePagination(data.logListCurrentPage + 1)"><span aria-hidden="true">&raquo;</span> </a>
            </li>
        </ul>
    </nav>




    <table class="table table-striped table-bordered table-hover table-responsive" ng-if="css.showTable === 'logs'">
        <thead>
            <tr>
                <th>_id / 创建时间</th>
                <th>level</th>
                <th>host</th>
                <th >meta</th>
                <th>message</th>
                <th>timestamp</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="log in data.logList | filter: data.searchFilter">
                <!--<td><a ui-sref="menu.updateTag({ id: log._id })">{{log._id}}</a></td>-->
                <td>{{log._id}} <br/> {{log.timestamp | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                <td>{{log.level}}</td>
                <td>{{log.hostname}}</td>
                <td>
                    <div style="width: 30%;">
                        url : {{log.meta.url}} <br/><br/>
                        method : {{log.meta.method}} <br/><br/>
                        user : <a ui-sref="menu.updateUser({ id: log.meta.user })">{{log.meta.user}}</a>  <br/><br/>
                        <span ng-repeat="( key, value ) in log.meta.header">header : {{key}} : {{value}} <br/><br/></span>
                        <span ng-repeat="( key, value ) in log.meta.body">body : {{key}} : {{value}} <br/><br/></span>
                        <span ng-repeat="( key, value ) in log.meta.query">query : {{key}} : {{value}} <br/><br/></span>
                        <span ng-repeat="( key, value ) in log.meta.params">params : {{key}} : {{value}} <br/><br/></span>
                    </div>
                </td>
                <td>{{log.timestamp | date:'MM-dd HH:mm:ss'}} - {{log.meta.method}}: {{log.meta.url}} <br/> user : <a ui-sref="menu.updateUser({ id: log.meta.user })">{{log.meta.user}}</a> <pre>{{log.message}}</pre></td>
                <td>{{log.timestamp | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
            </tr>
        </tbody>
    </table>



    <table class="table table-striped table-bordered table-hover table-responsive" ng-if="css.showTable === 'settings'">
        <thead>
        <tr>
            <th>_id</th>
            <th>更新时间</th>
            <th>过期时间</th>
            <th>是否过期</th>
            <th>Name</th>
            <th>Key</th>
            <th>Value</th>

        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="setting in data.settingList | filter: data.searchFilter">
            <!--<td><a ui-sref="menu.updateTag({ id: log._id })">{{log._id}}</a></td>-->
            <td>{{setting._id}} </td>
            <td>{{setting.modifiedAt | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
            <td>{{setting.expiredDate | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
            <td>{{setting.isExpired }}</td>

            <td>{{setting.name}}</td>
            <td>{{setting.key}}</td>
            <td>{{setting.value}}</td>


        </tr>
        </tbody>
    </table>

</div>




