.menus, .eatlist, .img-wrapper {
  .plusok {
    z-index: 1;
    opacity: 0;
    display: block;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    position: absolute;
    color: white;
    font-size: 21px;
    text-align: center;
    text-indent: 2em;
    font-weight: 400;
    line-height: 95px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: 0.4s;
    background: url(../images/indexcartemp.png) 25%/40% $color_cart_bg no-repeat;
    &::before {
      content: '+'
    }
    &.show {
      opacity: 1;
    }
  }
}
.menus, .eatlist {
  margin: 32px auto 20px;
  width: $main-width;
  font-size: 14px;
  li {
    float: left;
    display: inline;
    width: 316px;
    height: 280px;
    margin-right: 26px;
    margin-bottom: 12px;
    position: relative;
    &:nth-child(3n) {
      margin-right: 0;
    }
    a, .img {
      width: 316px;
      height: 211px;
      overflow: hidden;
      display: block;
      position: relative;
      background-color: white;
      &.img-wrapper {
        font-size: 0;
      }
      &:hover {
        img {
          opacity: .9;
          transform: scale(1.05);
        }
      }
      .out-of-range, .sold-out {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.41);
        text-align: center;
        line-height: 211px;
        color: #EAEAEA;
        font-size: 20px;
        display: none;
      }
      img {
        width: 100%;
        opacity: 1;
        transition: opacity 0.2s, transform .65s;
      }
    }
    .info {
      height: 65px;
      padding: 6px 0 5px;
      overflow: hidden;
      .name-price {
        float: left;
        display: inline;
        width: 262px;
        .name {
          width: 100%;
          height: 25px;
          border-bottom: 1px solid $color_masala_approx;
          line-height: 20px;
          span.person {
            float: left;
            display: inline;
            height: 18px;
            background: $color_sunset_orange_approx;
            padding: 0 5px;
            font-size: 13px;
            line-height: 18px;
            margin-right: 5px;
            color: $white;
          }
          a.menuname {
            font-size: 13px;
            float: left;
            display: inline;
            width: 225px;
            height: 20px;
            cursor: pointer;
            color: $color_storm_dust_approx;
            &:hover {
              color: $color_sunset_orange_approx;
            }
          }
        }
        .price {
          font-size: 16px;
          line-height: 24px;
          letter-spacing: .1em;
        }
      }
      .btns {
        float: right;
        display: inline;
        width: 49px;
        height: 65px;
        margin-top: 15px;
        a {
          cursor: pointer;
          float: right;
          display: inline;
          background: $color_mine_shaft_approx;
          width: 22px;
          height: 22px;
          color: $white;
          //font-size: 22px;
          //line-height: 19px;
          font: 19px/19px verdana;
          text-align: center;
          &.mius {
            display: none;
            background-color: $color_sunset_orange_approx;
            margin-right: 5px;
          }
          &:active {
            background-color: $color_sunset_orange_approx;
          }
        }
      }
    }
  }
}
.eatlist {
  .out-of-range, .sold-out {
    line-height: 430px !important;
  }
}

.fade-in {
  opacity: 1 !important;
  transition: opacity ease-in .5s;
}

.fade-out {
  opacity: 0 !important;
  transition: opacity ease-out .5s;
}

.clone-dish {
  position: fixed;
  width: 50px;
  height: 50px;
  background: no-repeat center/cover;
  border-radius: 50%;
  z-index: 1000;
}

#xw-special-middle {
  z-index: 1000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.not-found {
  font-size: 25px;
  text-align: center;
  margin-top: 200px;
}
.gray-bg, .disabled-bg, .invalid-bg {
  background-color: $color_button_disabled;
}