.menu {
  width: 100%;
  margin: 0 auto;
  .tools {
    width: 100%;
    height: 58px;
    border-bottom: 1px solid $color_pumice_approx;
    position: fixed;
    z-index: 100;
    top: 68px;
    background: $white;
    .tools-main {
      width: 1024px;
      position: absolute;
      left: 50%;
      margin-left: -512px;
      font-size: 14px;
      div {
        height: 38px;
        overflow: hidden;
        line-height: 38px;
        float: left;
        display: inline;
        cursor: pointer;
        text-indent: 2em;
        margin-top: 10px;
      }
      .orders {
        width: 220px;
        border-right: 1px solid $color_pumice_approx;
      }
      .screen {
        width: 580px;
        border-right: 1px solid $color_pumice_approx;
      }
      .diy {
        width: 220px;
        a:hover {
          color: $color_sunset_orange_approx;
        }
      }
    }
  }
  .banner {
    display: block;
    width: 1024px;
    height: 348px;
    overflow: hidden;
    margin: 59px auto;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .menus {
    margin: 60px auto 20px;
    width: 1024px;
    overflow: hidden;
    font-size: 14px;
    li {
      float: left;
      display: inline;
      width: 330px;
      height: 280px;
      overflow: hidden;
      margin-right: 17px;
      margin-bottom: 30px;
      position: relative;
      &:nth-child(3n) {
        margin-right: 0;
      }
      a {
        display: block;
        width: 100%;
        height: 220px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .info {
        height: 65px;
        padding: 5px 0;
        overflow: hidden;
        .name-price {
          float: left;
          display: inline;
          width: 270px;
          .name {
            width: 100%;
            height: 25px;
            border-bottom: 1px solid $color_masala_approx;
            line-height: 20px;
            span.person {
              float: left;
              display: inline;
              height: 18px;
              background: $color_sunset_orange_approx;
              padding: 0 5px;
              font-size: 13px;
              line-height: 18px;
              margin-right: 5px;
              color: $white;
            }
            a.menuname {
              float: left;
              display: inline;
              width: 200px;
              height: 20px;
              cursor: pointer;
              color: $color_storm_dust_approx;
              &:hover {
                color: $color_sunset_orange_approx;
              }
            }
          }
          .price {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: .1em;
          }
        }
        .btns {
          float: right;
          display: inline;
          width: 49px;
          height: 65px;
          margin-top: 15px;
          a {
            cursor: pointer;
            float: left;
            display: inline;
            background: $color_sunset_orange_approx;
            width: 22px;
            height: 22px;
            color: $white;
            font-size: 22px;
            line-height: 19px;
            text-align: center;
            &.plus {
              margin-left: 5px;
              background: $color_masala_approx;
            }
          }
        }
      }
      img.plusok {
        display: block;
        width: 95px;
        height: 95px;
        position: absolute;
        top: 60px;
        left: 50%;
        margin-left: -42px;
        display: none;
      }
    }
  }
  .hl-menu {
    width: 1024px;
    height: 458px;
    margin: 0 auto;
    img {
      float: left;
      display: inline;
      width: 688px;
      height: 458px;
    }
    .info {
      float: right;
      display: inline;
      width: 300px;
      height: 446px;
      overflow: hidden;
      border-top: 1px solid $color_gondola_approx;
      border-bottom: 1px solid $color_gondola_approx;
      padding: 5px 0;
      .info-border {
        width: 300px;
        height: 440px;
        overflow: hidden;
        border-top: 3px solid $color_gondola_approx;
        border-bottom: 3px solid $color_gondola_approx;
        h3 {
          text-align: center;
          font-size: 19px;
          margin-top: 30px;
        }
        .chef {
          width: 130px;
          height: 33px;
          overflow: hidden;
          margin: 30px auto;
          img {
            float: left;
            display: inline;
            width: 33px;
            height: 33px;
          }
          h6 {
            float: right;
            display: inline;
            line-height: 33px;
            font-size: 14px;
          }
        }
        p {
          width: 100%;
          height: 250px;
          text-align: center;
          overflow: hidden;
          line-height: 25px;
          font-size: 15px;
        }
        .buy {
          width: 100%;
          height: 50px;
          border-top: 1px solid $color_celeste_approx;
          .price {
            float: left;
            display: inline;
            line-height: 50px;
          }
          a.plus {
            cursor: pointer;
            float: right;
            display: inline;
            width: 22px;
            height: 22px;
            color: $white;
            font-size: 22px;
            line-height: 19px;
            text-align: center;
            margin-top: 15px;
            background: $color_masala_approx;
          }
        }
      }
    }
  }
  img.pcg {
    display: block;
    width: 1024px;
    height: 355px;
    margin: 10px auto;
  }
}