.cook-banner {
  width: 1000px;
  margin: 0 auto 60px;
  height: 333px;
  background-color: #A5A6A8;
}
.cook {
  .pcg {
    display: block;
    width: $main-width;
    height: 355px;
    margin: 10px auto;
  }
}