.cook-banner {
  width: 1000px;
  margin: 0 auto 60px;
  height: 333px;
  background-color: #A5A6A8;
  display: none;
}
.cook {
  .pcg {
    display: block;
    width: $main-width;
    height: 355px;
    margin: 10px auto;
  }
}
.filter-nav {
  z-index: 100;
  background: white;
  position: fixed;
  transform: translateZ(0);
  top: 66px;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid $color_pumice_approx;
  font-size: 14px;
  h4, h5, li {
    font-size: 14px;
  }

  .content {
    width: 1000px;
    margin: auto;
    line-height: 40px;
    height: 54px;
    font-size: 0;
    white-space: nowrap;
    .sort-group, .filter-group {
      display: inline-block;
      position: relative;
      h4 {
        line-height: 54px;
        cursor: pointer;
        &::after {
          content: '';
          border: 2px solid;
          border-top: transparent;
          border-left: transparent;
          width: 6px;
          height: 6px;
          display: inline-block;
          transform: rotate(45deg);
          margin-bottom: 3px;
          margin-left: 5px;
        }
        &:not(.down) {
          &::after {
            margin-bottom: 0;
            transform: rotate(225deg);
          }
        }
      }
    }
    .sort-group {
      //border-right: 2px solid #D8D8D8;
      width: 180px;
      text-align: center;
    }
    .split {
      display: inline-block;
      height: 40px;
      border: 1px solid #D8D8D8;
      vertical-align: top;
      margin: 6px 0;
    }
    .filter-group {
      padding: 0 40px;
      h5, .filter-items {
        display: inline-block;
        height: 1em;
        line-height: 1em;
      }
      h5 {
        padding-right: 9px;
        border-right: 2px solid #E8E8E8;
        width: 56px;
        &.en {
          width: 91px;
        }
      }
    }
    .sort-items, .filters {
      display:none;
      background-color: white;
      position: absolute;
      top: 54px;
      border: 1px solid #d1d1d1;
      border-radius: 4px;
      > li:not(:last-child) {
        border-bottom: 1px solid #E8E8E8;
      }
      > li.act {
        color: $color_sunset_orange_approx;
      }
    }
    .sort-items {
      width: 179px;
      li {
        cursor: pointer;
      }
    }
    .filters {
      min-width: 352px;
      left: -1px;
      > li {
        padding-left: 40px;
      }
    }
    .filter-items li {
      cursor: pointer;
      margin-left: 9px;
      display: inline;
      padding: 2px 4px;
      &.act {
        color: white;
        background-color: $color_sunset_orange_approx
      }
      &:last-child {
        margin-right: 9px;
      }
    }
    .sort-items li, .filter-items li {
      &:hover:not(.act) {
        color: $color_hover_blue;
      }
    }
  }
}