@import "stick-footer";

@media (max-width: 1200px) {
  .header-main {
    width: 100% !important;
  }
}

header {
  position: fixed;
  // prevent scroll trembling for chrome
  // http://www.chenyudong.com/archives/chrome-position-fixed-shake.html
  transform: translateZ(0);
  top: 0;
  z-index: 100;
  width: 100%;
  height: 65px;
  background: $white;
  overflow: hidden;
  border-bottom: 1px solid $color_pumice_approx;
  transition: all ease .4s;
  font-size: 14px;
  .header-main {
    box-sizing: border-box;
    width: 1200px;
    height: 65px;
    margin: 0 auto;
    padding-top: 25px;
    position: absolute;
    left: 0;
    right: 0;
    .change-address {
      color: #656565;
    }
    * {
      display: inline-block;
      vertical-align: top;
    }
    .nav {
      top: 30px;
      // todo: uncomment
      //left: 560px;
      padding-right: 8px;
      border-right: 2px solid;
      li {
        display: inline-block;
        overflow: hidden;
        padding: 0 15px;
        text-align: center;
        cursor: pointer;
        a:hover {
          color: $color_sunset_orange_approx;
        }
        &.act {
          a {
            color: $color_sunset_orange_approx;
          }
        }
      }
    }
    .sign {
      padding: 0 14px;
      a:hover {
        color: $color_sunset_orange_approx;
      }
      a:not(:last-child) {
        padding-right: 10px;
      }
    }
    .cart {
      width: 24px;
      height: 22px;
      margin-top: -5px;
      background: url(../images/carticon.png) center/cover no-repeat;
      position: relative;
      .number {
        position: absolute;
        transition: all .4s ease;
        color: white;
        border-radius: 10px;
        display: none;
        height: 11px;
        min-width: 11px;
        text-align: center;
        right: -5px;
        top: -5px;
        padding: 2px;
        padding-left: 1px;
        font: 11px/11px verdana;
        border: 1px solid $color_sunset_orange_approx;
        overflow: hidden;
        background: $color_sunset_orange_approx
      }
      &:hover {
        .number {
          color: $color_sunset_orange_approx;
          background: white;
        }
      }
    }
    .lang {
      border-left: 2px solid;
      padding-left: 20px;
      margin-left: 20px;
      a {
        color: gray;
        &.act {
          color: inherit;
        }
      }
    }
    a.logo {
      margin-top: -12px;
      width: 107px;
      height: 39px;
      background: url(../images/logo.png) center/cover no-repeat;
      text-indent: -9999px;
    }
  }
  &.indexhd:not(.normal) {
    background: none;
    border-bottom: 0 none;
    color: $white;
    position: fixed;
    .header-main {
      .change-address {
        color: #DEDEDE;
      }
    }
    .sign:hover {
      color: $color_sunset_orange_approx
    }
    .lang {
      a {
        color: #C3C3C3;
        &.act {
          color: white;
        }
      }
    }
    a {
      color: white;
      &.logo {
        background: url(../images/indexlogo.png) center/cover no-repeat;
      }
      &.cart {
        background: url(../images/white-carticon.png) center/cover no-repeat;
      }
    }
  }
}
.headeremp {
  height: 68px;
  &.cook {
    margin-top: 46px;
  }
}

.site-footer{
  * {
    font-size: 12px;
  }
  width: $main-width;
  margin-left: auto;
  margin-right: auto;
  .footer-nav {
    border-bottom: 2px solid black;
    padding: 10px 0 13px;
    .copyright {
      float: left;
    }
    .icp {
      float: right;
    }
  }
  .footer-body {
    padding: 47px 0;
    font-size: 0;
    > * {
      display: inline-block;
      height: 100px;
      vertical-align: top;
    }
    .wrapper {
      width: 410px;
      position: relative;
    }
    .left {
      position: absolute;
      right: 0;
      li {
        line-height: 34px;
        &.download-link {
          margin-left: 25px;
          img {
            width: 105px;
            height: 31px; // for stupid ie
          }
        }
        img {
          vertical-align: text-bottom;
          width: 23px;
          margin-right: 4px;
        }
      }
    }
    > img {
      width: 100px;
      margin: 0 40px;
    }
    .contact {
      position: absolute;
      left: 0;
      line-height: 20px;
      li:first-child {
        font-weight: 600;
      }
      li {
        span {
          &.email {
            margin-right: 1px;
          }
          margin-right: 13px;
        }
      }
    }
  }
}