@import "stick-footer";

header {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 67px;
  background: $white;
  overflow: hidden;
  border-bottom: 1px solid $color_pumice_approx;
  font-size: 14px;
  .header-main {
    width: 1200px;
    height: 67px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    margin-left: -600px;
    .city {
      display: block;
      position: absolute;
      top: 30px;
      left: 470px;
      color: $color_sunset_orange_approx;
    }
    .nav {
      display: block;
      position: absolute;
      top: 30px;
      left: 560px;
      border-left: 2px solid $color_mine_shaft_approx;
      border-right: 2px solid $color_mine_shaft_approx;
      color: $color_sunset_orange_approx;
      li {
        float: left;
        display: inline-block;
        overflow: hidden;
        padding: 0 15px;
        text-align: center;
        cursor: pointer;
        a:hover {
          display: block;
          color: $color_sunset_orange_approx;
        }
        &.act {
          a {
            color: $color_sunset_orange_approx;
          }
        }
      }
    }
    .sign {
      display: block;
      position: absolute;
      top: 30px;
      left: 1070px;
    }
    .cart {
      display: block;
      position: absolute;
      width: 24px;
      height: 22px;
      top: 25px;
      right: 20px;
      background: url(../images/carticon.png) center center no-repeat;
      background-size: cover;
    }
    a.logo {
      display: block;
      position: absolute;
      top: 15px;
      left: 20px;
      width: 107px;
      height: 39px;
      background: url(../images/logo.png) center center no-repeat;
      background-size: cover;
      text-indent: -9999px;
    }
  }
  &.indexhd {
    background: none;
    border-bottom: 0 none;
    color: $white;
    position: absolute;
    .nav {
      border-color: $white;
      color: $white;
      a {
        color: $white;
      }
    }
    .sign {
      color: $white;
      &:hover {
        color: $color_sunset_orange_approx
      }
    }
    .city {
      color: $white !important;
      span {
        color: $white !important;
      }
    }
    a {
      &.logo {
        background: url(../images/indexlogo.png) center center no-repeat;
        background-size: cover;
      }
      &.cart {
        background: url(../images/indexcart.png) center center no-repeat;
        background-size: contain;
      }
    }
  }
}
.headeremp {
  height: 68px;
}

.site-footer{
  * {
    font-size: 12px;
  }
  width: $main-width;
  margin-left: auto;
  margin-right: auto;
  .footer-nav {
    border-bottom: 2px solid black;
    padding: 10px 0 13px;
    .copyright {
      float: left;
    }
    .icp {
      float: right;
    }
  }
  .footer-body {
    padding: 47px 0;
    font-size: 0;
    > * {
      display: inline-block;
      height: 100px;
      vertical-align: top;
    }
    .wrapper {
      width: 410px;
      position: relative;
    }
    .left {
      position: absolute;
      right: 0;
      li {
        line-height: 34px;
        &.download-link {
          margin-left: 25px;
          img {
            width: 105px;
            height: 31px; // for stupid ie
          }
        }
        img {
          vertical-align: text-bottom;
          width: 23px;
          margin-right: 4px;
        }
      }
    }
    > img {
      width: 100px;
      margin: 0 40px;
    }
    .contact {
      position: absolute;
      left: 0;
      line-height: 20px;
      li:first-child {
        font-weight: 600;
      }
      li {
        span {
          &.email {
            margin-right: 1px;
          }
          margin-right: 13px;
        }
      }
    }
  }
}