html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: 400;
  font-style: inherit;
  font-family: PingHei, 'PingFang SC', 'Helvetica Neue', Helvetica, Microsoft Yahei, STHeitiSC-Light, Arial, sans-serif;
  font-size: 15px;
  vertical-align: baseline;
}

a {
  transition: .4s;
}

body {
  line-height: 1;
  color: #000;
  background: #fff
}

ol, ul {
  list-style: none
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle
}

a img {
  border: none
}

input {
  outline: 0 none
}

a {
  text-decoration: none;
  color: #000
}