.why-us {
  text-align: center;
  margin: 40px auto 100px;
  h4 {
    margin-top: 100px;
    font-size: 41px;
    font-weight: 800;
  }
  p {
    font-weight: 500;
    width: 550px;
    margin: 22px auto 100px;
    font-size: 18px;
    line-height: 1.5;
  }
  img {
    padding-bottom: 8px;
  }
}