.why-us {
  text-align: center;
  margin: 40px auto 100px;
  h4 {
    margin-top: 100px;
    font-size: 41px;
    font-weight: 800;
  }
  p {
    font-weight: 500;
    width: 550px;
    margin: 22px auto 100px;
    font-size: 18px;
    line-height: 1.5;
  }
  img {
    padding-bottom: 8px;
  }
  .reason {
    width: 1040px;
    height: 437px;
    margin: 0 auto 8px;
    background: no-repeat;
    text-align: center;
    h5 {
      font-size: 27px;
      padding-top: 189px;
      font-weight: 600;
    }
    p {
      margin: 21px auto;
      font-size: 16px;
      font-weight: 300;
      width: 280px;
      text-align: justify;
    }
    &:nth-of-type(1) {
      background-image: url(../images/whyus/1.jpg)
    }
    &:nth-of-type(2) {
      background-image: url(../images/whyus/2.jpg)
    }
    &:nth-of-type(3) {
      background-image: url(../images/whyus/3.jpg)
    }
    &:nth-of-type(4) {
      background-image: url(../images/whyus/4.jpg)
    }

    &.en {
      h5 {
        font-size: 22px;
      }
    }
  }
}