$color_pumice_approx: #c9caca;
$color_sunset_orange_approx: #f44d4d;
$color_cart_bg: rgba(244, 77, 77, 0.87);
$color_mine_shaft_approx: #333;
$color_masala_approx: #3c3c3c;
$color_storm_dust_approx: #666;
$color_gondola_approx: #231815;
$color_celeste_approx: #ccc;
$black_45: rgba(0, 0, 0, 0.45);
$concrete: #f2f2f2;
$color_alto_approx: #ddd;
$color_silver_chalice_approx: #aaa;
$main-width: 1000px;
$width_cart_left_col: 495px;
$width_cart_col1_offset: 3px;
$width_cart_col1: 22px;
$width_cart_col2: 275px;
$width_cart_col3: 64px;
$width_cart_col4: 74px;
$width_cart_col3_4_offset: 24px;
$width_cart_col5: 20px;
$height_cart_dish: 47px;
$height_cart_address: 59px;
$color_cart_input_border: #898A8B;
$color_cart_price_border: #e8e8e8;
$color_cart_invalid_cover: rgba(0, 0, 0, 0.12);
$color_cart_invalid_font:  #D6D6D6;
$color_cart_checkbox: #777;

$time_global_transition: .4s;

@import "_reset.scss";
@import "base";
@import "componens";
@import "common";
@import "layout";
@import "index";
@import "cook-list";
@import "cook";
@import "eat-list";
@import "sign";
@import "user";
@import "cart";
@import "blog";
@import "me";