<div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
  <div class="col-xs-12">
    <alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
  </div>
</div>

<div class="row">
	<div class="col-lg-12">
		<!--<button class="btn btn-info" ng-click="inittag()">初始化Tag数据</button>-->
		<!--<button class="btn btn-info" ng-click="initolddish()">初始化菜品数据</button>-->
		<!--<button class="btn btn-info" ng-click="initdishtopping()">初始化菜品测试数据带属性和浇头参数</button>-->
		<!--<button class="btn btn-info" ng-click="initAdmin()">init admin user</button>-->
	</div>
	<div class="col-lg-12">
		<!--<button class="btn btn-danger" ng-click="removetag()">删除所有Tag</button>-->
		<!--<button class="btn btn-danger" ng-click="removedish()">删除所有菜品</button>-->
		<button class="btn btn-danger" ng-click="removeinventory()">删除所有测试库存记录</button>
		<!--<button class="btn btn-danger" ng-click="removeorder()">删除所有订单</button>-->
		<!--<button class="btn btn-danger" ng-click="removeuser()">删除所有用户</button>-->
		<button class="btn btn-danger" ng-click="removecoupon()">删除所有错误的优惠券</button>
		<button class="btn btn-danger" ng-click="removeaccountdetail()">删除所有未完成支付的在线充值记录</button>

		<!--<button class="btn btn-danger" ng-click="changeCouponStartDate()">修改108张TLC日期</button>-->
		<!--<button class="btn btn-danger" ng-click="addcoupons()">生成108张TLC 兑换券</button>-->
	</div>

</div>




<div class="row">
	<div class="span9">
		<div class="row">
			<highchart id="chart1" config="chartConfig" class="span9" ></highchart>
		</div>
		<div class="row-fluid">
			<label for="prettyJSON"><input id="prettyJSON" type="checkbox" ng-model="prettyJSON"> Pretty JSON</label>
		</div>
		<div class="row-fluid">
                    <pre ng-show="prettyJSON">
{{ chartConfig | json }}
                    </pre>
                    <pre ng-show="!prettyJSON">
{{ chartConfig }}
                    </pre>
		</div>
	</div>
	<div class="span4">
		<div class="row-fluid">Title <input ng-model="chartConfig.title.text"></div>
		<div class="row-fluid">Subtitle <input ng-model="chartConfig.subtitle.text"></div>
		<div class="row-fluid">Width <input ng-model="chartConfig.size.width"></div>
		<div class="row-fluid">Height <input ng-model="chartConfig.size.height"></div>
		<div class="row-fluid"><button ng-click="reflow()">reflow</button></div>
		<div class="row-fluid">Default Type <select ng-model="chartConfig.options.chart.type" ng-options="t.id as t.title for t in chartTypes"></select></div>
		<div class="row-fluid">Stack <select ng-model="chartConfig.options.plotOptions.series.stacking" ng-options="t.id as t.title for t in chartStack"></select></div>
		<div class="row-fluid"><label><input type="checkbox" ng-model="chartConfig.loading"> is loading</label></div>
		<div class="row-fluid"><label><input type="checkbox" ng-model="chartConfig.credits.enabled"> credits</label></div>
		<h4>Series</h4>
		<div class="row-fluid" ng-repeat="ser in chartSeries">
			<div class="span12 well">
				<div class="row-fluid">Title <input ng-model="ser.name"></div>
				<div class="row-fluid">Type <select ng-model="ser.type" ng-options="t.id as t.title for t in chartTypes"></select></div>
				<div class="row-fluid">Color <input ng-model="ser.color"></div>
				<div class="row-fluid">Width <input ng-model="ser.lineWidth"></div>
				<div class="row-fluid">Dash Style <select ng-model="ser.dashStyle" ng-options="ds.id as ds.title for ds in dashStyles"></select></div>
				<div class="row-fluid"><label><input type="checkbox" ng-model="ser.connectNulls"> interpolate</label></div>
				<div class="row-fluid"><button ng-click="removeSeries($index)">Delete</button></div>
			</div>
		</div>
		<div class="row-fluid"><button ng-click="addSeries()">Add Series</button></div>
		<div class="row-fluid"><button ng-click="addPoints()">Add Points to Random Series</button></div>
		<div class="row-fluid"><button ng-click="removeRandomSeries()">Remove Random Series</button></div>
		<div class="row-fluid"><button ng-click="toggleHighCharts()">HighChart/HighStock</button></div>
		<div class="row-fluid"><button ng-click="replaceAllSeries()">Replace all series</button></div>
		<div class="row-fluid">Min: <input type="number" ng-model="chartConfig.xAxis.currentMin"></div>
		<div class="row-fluid">Max: <input type="number" ng-model="chartConfig.xAxis.currentMax"></div>
	</div>
</div>


<div class="row">

	<!--<div class="col-lg-12">-->
        <!--<span ng-repeat="coupon in couponList">{{coupon}}, </span>-->
    <!--</div>-->

</div>

<div class="row">
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-users"></i>
				</div>
				<div class="title">80</div>
				<div class="comment">Users</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left">
					<i class="fa fa-tasks"></i>
				</div>
				<div class="title">16</div>
				<div class="comment">Servers</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon orange pull-left">
					<i class="fa fa-sitemap"></i>
				</div>
				<div class="title">225</div>
				<div class="comment">Documents</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon blue pull-left">
					<i class="fa fa-support"></i>
				</div>
				<div class="title">62</div>
				<div class="comment">Tickets</div>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<rd-widget>
      		<rd-widget-header icon="fa-tasks" title="Servers">
				<a href="#">Manage</a>
      		</rd-widget-header>
      		<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
						<tbody>
							<tr><td>RDVMPC001</td><td>238.103.133.37</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>RDVMPC002</td><td>68.66.63.170</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>RDVMPC003</td><td>76.117.212.33</td><td><span tooltip="Server Down!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
							<tr><td>RDPHPC001</td><td>91.88.224.5</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>RDESX001</td><td>197.188.15.93</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>RDESX002</td><td>168.85.154.251</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>RDESX003</td><td>209.25.191.61</td><td><span tooltip="Server Down!" class="text-danger"><i class="fa fa-warning"></i></span></td></tr>
							<tr><td>RDESX004</td><td>252.37.192.235</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>RDTerminal01</td><td>139.71.18.207</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
							<tr><td>RDTerminal02</td><td>136.80.122.212</td><td><span tooltip="Could not connect!" class="text-warning"><i class="fa fa-flash"></i></span></td></tr>
							<tr><td>RDDomainCont01</td><td>196.80.245.33</td><td><span class="text-success"><i class="fa fa-check"></i></span></td></tr>
						</tbody>
					</table>
				</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-users" title="Users">
				<input type="text" placeholder="Search" class="form-control input-sm" />
			</rd-widget-header>
			<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr><th class="text-center">ID</th><th>Username</th><th>Role</th><th>Account</th></tr>
						</thead>
						<tbody>
							<tr><td class="text-center">1</td><td>Joe Bloggs</td><td>Super Admin</td><td>AZ23045</td></tr>
							<tr><td class="text-center">2</td><td>Timothy Hernandez</td><td>Admin</td><td>AU24783</td></tr>
							<tr><td class="text-center">3</td><td>Joe Bickham</td><td>User</td><td>AM23781</td></tr>
						</tbody>
					</table>
        		</div>
			</rd-widget-body>
		<rd-widget>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
   		<rd-widget>
   			<rd-widget-header icon="fa-plus" title="Extras">
   				<button class="btn btn-sm btn-info">Button</button>
   			</rd-widget-header>
   			<rd-widget-body>
				<div class="message">
					This is a standard message which will also work the ".no-padding" class, I can also <span class="error">be an error message!</span>
				</div>
				<hr />
				<div class="message">
					<a href="http://angular-ui.github.io/bootstrap/" target="_blank">UI Bootstrap</a> is included, so you can use <a href="#" tooltip="I'm a tooltip!">tooltips</a> and all of the other native Bootstrap JS components!
				</div>
   			</rd-widget-body>
   		</rd-widget>
	</div>
	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-cog fa-spin" title="Loading Directive">
				<a href="http://tobiasahlin.com/spinkit/" target="_blank">SpinKit</a>
			</rd-widget-header>
			<rd-widget-body>
				<rd-loading></rd-loading>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>