<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar">
        <li class="sidebar-main">
            <a ng-click="toggleSidebar()">
                Dashboard
                <span class="menu-icon glyphicon glyphicon-transfer"></span>
            </a>
        </li>
        <li class="sidebar-title"><span>NAVIGATION</span></li>

        <li class="sidebar-list">
            <a ng-class="{active: path == '/users'}" title="用户列表" ui-sref="menu.users">用户列表 <span class="menu-icon fa fa-user"></span></a>
        </li>

        <li class="sidebar-list">
            <a ng-class="{active: path == '/dishes'}" title="菜品列表" ui-sref="menu.dishes">菜品列表 <span class="menu-icon fa fa-cutlery"></span></a>
        </li>

        <li class="sidebar-list">
            <a ng-class="{active: path == '/dishadd'}" title="添加菜品" ui-sref="menu.addNewDish">添加菜品 <span class="menu-icon fa fa-plus-circle"></span></a>
        </li>

        <li class="sidebar-list">
            <a ng-class="{active: path == '/tags'}" title="标签列表" ui-sref="menu.tags">标签列表 <span class="menu-icon fa fa-tags"></span></a>
        </li>

        <li class="sidebar-list">
            <a ng-class="{active: path == '/orders'}" title="订单管理" ui-sref="menu.orders">订单管理 <span class="menu-icon fa fa-list-alt"></span></a>
        </li>


        <li class="sidebar-list">
            <a ng-class="{active: path == '/coupons'}" title="优惠码管理" ui-sref="menu.coupons">优惠码管理 <span class="menu-icon fa fa-gift"></span></a>
        </li>

        <li class="sidebar-list">
            <a ng-class="{active: path == '/logs'}" title="网站错误日志管理" ui-sref="menu.logs">网站错误日志管理 <span class="menu-icon fa fa-exclamation-circle"></span></a>
        </li>

        <li class="sidebar-list">
            <a ng-class="{active: path == '/cronjobs'}" title="定时任务" ui-sref="menu.cronjobs">定时任务 <span class="menu-icon fa fa-clock-o"></span></a>
        </li>

        <li class="sidebar-list">
            <a ng-class="{active: path == '/logs'}" title="iOS设备ID" ui-sref="menu.deviceTokens">iOS设备ID <span class="menu-icon fa fa-comment-o"></span></a>
        </li>

        <li class="sidebar-list">
            <a href="#/dashboard">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
        <li class="sidebar-list">
            <a href="#/tables">Tables <span class="menu-icon fa fa-table"></span></a>
        </li>
    </ul>

    <div class="sidebar-footer">
        <div class="col-xs-4">
            <a href="https://github.com/rdash/rdash-angular" target="_blank"> Github </a>
        </div>
        <div class="col-xs-4">
            <a href="https://github.com/rdash/rdash-angular/README.md" target="_blank">About</a>
        </div>
        <div class="col-xs-4">
            <a href="#">Support</a>
        </div>
    </div>

</div>
<!-- End Sidebar -->


<!-- Page Content -->
<div id="content-wrapper">
    <div class="page-content">

        <!-- Header Bar -->
        <div class="row header">
            <div class="col-xs-12">
                <div class="user pull-right">
                    <div class="item dropdown" dropdown >
                        <a href="#" class="" dropdown-toggle>
                            <img src="img/avatar.jpg">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-header">XXXXXX</li>
                            <li class="divider"></li>
                            <li class="link"><a href="#"> Profile </a></li>
                            <li class="link"><a href="#"> Menu Item1</a></li>
                            <li class="link"><a href="#"> Menu Item2</a></li>
                            <li class="divider"></li>
                            <li class="link"><a href="#" ng-click="logout()"> Logout</a></li>
                        </ul>
                    </div>
                    <div class="item dropdown">
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-bell-o"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li class="dropdown-header"> Notifications</li>
                            <li class="divider"></li>
                            <li><a href="#">Server Down!</a></li>
                        </ul>
                    </div>
                </div>
                <div class="meta">
                    <div class="page"> {{title}} </div>
                    <div class="breadcrumb-links"> Home / {{title}}</div>
                </div>
            </div>
        </div>
        <!-- End Header Bar -->


        <!-- Main Content -->
        <div ui-view class="row main"></div>

    </div>
    <!-- End Page Content -->
</div><!-- End Content Wrapper -->