<div class="login-container">
    <div class="xinwei-banner text-center">
        <img src="img/xinweilogo.png" alt="xinwei cook"/>
    </div>
    <form class="form-horizontal center-block login-form">
        <div class="form-group">
            <label class="control-label col-lg-2 text-right">手机号</label>

            <div class="col-lg-10">
                <input type="text" class="form-control" ng-model="username">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-2 text-right">密码</label>

            <div class="col-lg-10">
                <input type="password" class="form-control" ng-model="password">
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-3">
                <input class="form-control btn btn-primary" type="submit" value="登陆" ng-click="login()"/>
            </div>
            <div class="col-lg-6">
                <span class="text-danger" ng-show="css">密码错误!!</span>
            </div>
        </div>
        <!--<script async  type="text/javascript" src="{{data.src}}"></script>-->
        <!--<script type="text/javascript" src="http://api.geetest.com/get.php?gt=ab95acaebd61c6ef7dc6e8a5493f4899" async=""></script>-->

        <div class="form-group">
            <label class="control-label col-lg-2 text-right">手机号</label>

            <div class="col-lg-10 geetest">

            </div>
        </div>

    </form>

</div>

