<div class="login-container">
    <div class="xinwei-banner text-center">
        <img src="img/xinweilogo.png" alt="xinwei cook"/>
    </div>
    <form class="form-horizontal center-block login-form">
        <div class="form-group">
            <label class="control-label col-lg-2 text-right">手机号</label>

            <div class="col-lg-10">
                <input type="text" class="form-control" ng-model="username">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-2 text-right">密码</label>

            <div class="col-lg-10">
                <input type="text" class="form-control" ng-model="password">
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <input class="form-control btn btn-primary" type="submit" value="登陆" ng-click="login()"/>
            </div>
        </div>
    </form>
</div>