<div>
    <form>
        <input type="text" placeholder="username" name="username" ng-model="username">
        <input type="password" name="password" ng-model="password">
        <input type="button" value="login" ng-click="login()">
    </form>

    <button ng-click="remove()">init remove</button>
    <button ng-click="inittag()">init tags</button>
    <button ng-click="initolddish()">init old dish</button>
    <button ng-click="initdishtopping()">init dish with topping</button>
    <button ng-click="initAdmin()">init admin user</button>
</div>