<div class="col-lg-12">

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title panel-titlenew">
                <span ng-show="css.isAddNewStatus">新增 Dish 菜品</span>
                <span ng-hide="css.isAddNewStatus">修改 Dish 菜品 - {{data.dish.name.zh}} - {{data.dish._id}}</span>
                <a class="btn btn-sm btn-info pull-right" ui-sref="menu.dishes" role="button">返回</a>
            </h3>
        </div>

        <div class="panel-body">
            <form class="form-horizontal" name="dishForm" role="form" novalidate ng-cloak>

                <div class="form-group has-feedback" ng-class="{'has-success':dishForm.dishTitleZh.$dirty&&dishForm.dishTitleZh.$valid, 'has-error':dishForm.dishTitleZh.$dirty&&dishForm.dishTitleZh.$invalid}">
                    <label for="inputDishTitleEn" class="col-lg-2 control-label" >菜品名称</label>

                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="inputDishTitleZh" placeholder="中文名称" name="dishTitleZh" ng-model="data.dish.name.zh" required ng-minlength="2" ng-maxlength="300">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="dishForm.dishTitleZh.$dirty&&dishForm.dishTitleZh.$valid"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="dishForm.dishTitleZh.$dirty&&dishForm.dishTitleZh.$invalid"></span>
                    </div>

                    <div class="col-lg-2">
                        <span class="form-validation help-block" ng-if="dishForm.dishTitleZh.$dirty&&dishForm.dishTitleZh.$error.required">请填入信息！</span>
                        <span class="form-validation help-block" ng-if="dishForm.dishTitleZh.$dirty&&dishForm.dishTitleZh.$error.minlength || dishForm.dishTitleZh.$dirty&&dishForm.dishTitleZh.$error.maxlength">字符长度错误！</span>
                    </div>
                </div>

                <div class="form-group has-feedback" ng-class="{'has-success':dishForm.dishTitleEn.$dirty&&dishForm.dishTitleEn.$valid, 'has-error':dishForm.dishTitleEn.$dirty&&dishForm.dishTitleEn.$invalid}">
                    <label for="inputDishTitleEn" class="col-lg-2 control-label" ></label>

                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="inputDishTitleEn" placeholder="英文名称" name="dishTitleEn" ng-model="data.dish.name.en" required ng-minlength="2" ng-maxlength="300">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="dishForm.dishTitleEn.$dirty&&dishForm.dishTitleEn.$valid"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="dishForm.dishTitleEn.$dirty&&dishForm.dishTitleEn.$invalid"></span>
                    </div>

                    <div class="col-lg-2">
                        <span class="form-validation help-block" ng-if="dishForm.dishTitleEn.$dirty&&dishForm.dishTitleEn.$error.required">请填入信息！</span>
                        <span class="form-validation help-block" ng-if="dishForm.dishTitleEn.$dirty&&dishForm.dishTitleEn.$error.minlength || dishForm.dishTitleEn.$dirty&&dishForm.dishTitleEn.$error.maxlength">字符长度错误！</span>
                    </div>
                </div>


                <div class="form-group has-feedback" ng-class="{'has-success':dishForm.dishBriefZh.$dirty&&dishForm.dishBriefZh.$valid, 'has-error':dishForm.dishBriefZh.$dirty&&dishForm.dishBriefZh.$invalid}">
                    <label for="inputDishBriefEn" class="col-lg-2 control-label" >菜品描述</label>

                    <div class="col-lg-8">
                        <textarea class="form-control" row="3" id="inputDishBriefZh" placeholder="中文名称" name="dishBriefZh" ng-model="data.dish.brief.zh" required ng-minlength="2" ng-maxlength="300"></textarea>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="dishForm.dishBriefZh.$dirty&&dishForm.dishBriefZh.$valid"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="dishForm.dishBriefZh.$dirty&&dishForm.dishBriefZh.$invalid"></span>
                    </div>

                    <div class="col-lg-2">
                        <span class="form-validation help-block" ng-if="dishForm.dishBriefZh.$dirty&&dishForm.dishBriefZh.$error.required">请填入信息！</span>
                        <span class="form-validation help-block" ng-if="dishForm.dishBriefZh.$dirty&&dishForm.dishBriefZh.$error.minlength || dishForm.dishBriefZh.$dirty&&dishForm.dishBriefZh.$error.maxlength">字符长度错误！</span>
                    </div>
                </div>

                <div class="form-group has-feedback" ng-class="{'has-success':dishForm.dishBriefEn.$dirty&&dishForm.dishBriefEn.$valid, 'has-error':dishForm.dishBriefEn.$dirty&&dishForm.dishBriefEn.$invalid}">
                    <label for="inputDishBriefEn" class="col-lg-2 control-label" ></label>

                    <div class="col-lg-8">
                        <textarea class="form-control" row="3" id="inputDishBriefEn" placeholder="英文名称" name="dishBriefEn" ng-model="data.dish.brief.en" required ng-minlength="2" ng-maxlength="300"></textarea>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="dishForm.dishBriefEn.$dirty&&dishForm.dishBriefEn.$valid"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="dishForm.dishBriefEn.$dirty&&dishForm.dishBriefEn.$invalid"></span>
                    </div>

                    <div class="col-lg-2">
                        <span class="form-validation help-block" ng-if="dishForm.dishBriefEn.$dirty&&dishForm.dishBriefEn.$error.required">请填入信息！</span>
                        <span class="form-validation help-block" ng-if="dishForm.dishBriefEn.$dirty&&dishForm.dishBriefEn.$error.minlength || dishForm.dishBriefEn.$dirty&&dishForm.dishBriefEn.$error.maxlength">字符长度错误！</span>
                    </div>
                </div>

                <div class="form-group has-feedback" >
                    <label class="col-lg-2 control-label" >菜品封面图</label>

                    <div ng-repeat="cover in data.dish.cover">
                        <div class="col-lg-9" ng-class="{'col-lg-offset-2':!$first}">
                            <input type="text" class="form-control" placeholder="图{{$index + 1}} 中文" name="dishCoverZh_{{$index}}" ng-model="cover.zh" ng-minlength="2" ng-maxlength="300">
                            <input type="text" class="form-control" placeholder="图{{$index + 1}} 英文" name="dishCoverEn_{{$index}}" ng-model="cover.en" ng-minlength="2" ng-maxlength="300">
                        </div>
                        <div class="col-lg-1">
                            <button type="button" class="btn btn-danger btn-sm" ng-show="data.dish.cover.length>1" ng-click="data.dish.cover.splice($index, 1)"> <span class="glyphicon glyphicon-trash"></span></button>
                        </div>
                    </div>
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="button" class="btn info btn-sm" ng-click="addNewCover(data.dish.cover)"> <span class="glyphicon glyphicon-plus"></span>多添加一组图片</button>
                    </div>
                </div>



                <div class="form-group has-feedback" ng-class="{'has-success':dishForm.dishDifficulty.$dirty&&dishForm.dishDifficulty.$valid, 'has-error':dishForm.dishDifficulty.$dirty&&dishForm.dishDifficulty.$invalid}">
                    <label for="inputDishDifficulty" class="col-lg-2 control-label" >菜品难度</label>

                    <div class="col-lg-2">
                        <input type="number" class="form-control" id="inputDishDifficulty" placeholder="难度" name="dishDifficulty" ng-model="data.dish.difficulty"  min="1" max="5" >
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="dishForm.dishDifficulty.$dirty&&dishForm.dishDifficulty.$valid"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="dishForm.dishDifficulty.$dirty&&dishForm.dishDifficulty.$invalid"></span>
                    </div>

                    <div class="col-lg-2">
                        <span class="form-validation help-block" ng-if="dishForm.dishDifficulty.$dirty&&dishForm.dishDifficulty.$error.required">请填入信息！</span>
                        <span class="form-validation help-block" ng-if="dishForm.dishDifficulty.$dirty&&dishForm.dishDifficulty.$error.min || dishForm.dishDifficulty.$dirty&&dishForm.dishDifficulty.$error.max">请输入1-5数字！</span>
                    </div>
                </div>

                <div class="form-group has-feedback" ng-class="{'has-success':dishForm.dishTime.$dirty&&dishForm.dishTime.$valid, 'has-error':dishForm.dishTime.$dirty&&dishForm.dishTime.$invalid}">
                    <label for="inputDishTime" class="col-lg-2 control-label" >烹饪时间(分钟)</label>

                    <div class="col-lg-2">
                        <input type="number" class="form-control" id="inputDishTime" placeholder="烹饪时间" name="dishTime" ng-model="data.dish.time"  min="1" max="960" >
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="dishForm.dishTime.$dirty&&dishForm.dishTime.$valid"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="dishForm.dishTime.$dirty&&dishForm.dishTime.$invalid"></span>
                    </div>

                    <div class="col-lg-2">
                        <span class="form-validation help-block" ng-if="dishForm.dishTime.$dirty&&dishForm.dishTime.$error.required">请填入信息！</span>
                        <span class="form-validation help-block" ng-if="dishForm.dishTime.$dirty&&dishForm.dishTime.$error.min || dishForm.dishTime.$dirty&&dishForm.dishTime.$error.max">请输入1-960数字！</span>
                    </div>
                </div>

                <div class="form-group has-feedback" ng-class="{'has-success':dishForm.dishServings.$dirty&&dishForm.dishServings.$valid, 'has-error':dishForm.dishServings.$dirty&&dishForm.dishServings.$invalid}">
                    <label for="inputDishServings" class="col-lg-2 control-label" >可供几人份</label>

                    <div class="col-lg-2">
                        <input type="number" class="form-control" id="inputDishServings" placeholder="几人份" name="dishServings" ng-model="data.dish.servings" required min="1" max="50" >
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="dishForm.dishServings.$dirty&&dishForm.dishServings.$valid"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="dishForm.dishServings.$dirty&&dishForm.dishServings.$invalid"></span>
                    </div>

                    <div class="col-lg-2">
                        <span class="form-validation help-block" ng-if="dishForm.dishServings.$dirty&&dishForm.dishServings.$error.required">请填入信息！</span>
                        <span class="form-validation help-block" ng-if="dishForm.dishServings.$dirty&&dishForm.dishServings.$error.min || dishForm.dishServings.$dirty&&dishForm.dishServings.$error.max">请输入1-50数字！</span>
                    </div>
                </div>

                <div class="form-group has-feedback" ng-class="{'has-success':dishForm.dishStorageLife.$dirty&&dishForm.dishStorageLife.$valid, 'has-error':dishForm.dishStorageLife.$dirty&&dishForm.dishStorageLife.$invalid}">
                    <label for="inputDishStorageLife" class="col-lg-2 control-label" >储藏保质期</label>

                    <div class="col-lg-2">
                        <input type="number" class="form-control" id="inputDishStorageLife" placeholder="保质期" name="dishStorageLife" ng-model="data.dish.storageLife"  min="1" max="96" >
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="dishForm.dishStorageLife.$dirty&&dishForm.dishStorageLife.$valid"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="dishForm.dishStorageLife.$dirty&&dishForm.dishStorageLife.$invalid"></span>
                    </div>

                    <div class="col-lg-2">
                        <span class="form-validation help-block" ng-if="dishForm.dishStorageLife.$dirty&&dishForm.dishStorageLife.$error.required">请填入信息！</span>
                        <span class="form-validation help-block" ng-if="dishForm.dishStorageLife.$dirty&&dishForm.dishStorageLife.$error.min || dishForm.dishStorageLife.$dirty&&dishForm.dishStorageLife.$error.max">请输入1-96数字！</span>
                    </div>
                </div>



                <div class="form-group has-feedback" >
                    <label class="col-lg-2 control-label" >制作所需工具</label>

                    <div ng-repeat="cover in data.dish.kitchenware">
                        <div class="col-lg-4" ng-class="{'col-lg-offset-2':!$first}">
                            <input type="text" class="form-control" placeholder="厨具{{$index + 1}} 中文" name="dishKitchenwareZh_{{$index}}" ng-model="cover.zh" ng-minlength="1" ng-maxlength="300">
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="厨具{{$index + 1}} 英文" name="dishKitchenwareEn_{{$index}}" ng-model="cover.en" ng-minlength="1" ng-maxlength="300">
                        </div>
                        <div class="col-lg-2">
                            <button type="button" class="btn btn-danger btn-sm" ng-show="data.dish.kitchenware.length>1" ng-click="data.dish.kitchenware.splice($index, 1)"> <span class="glyphicon glyphicon-trash"></span></button>
                        </div>
                    </div>
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="button" class="btn info btn-sm" ng-click="addNewCover(data.dish.kitchenware)"> <span class="glyphicon glyphicon-plus"></span>多添加一组厨具</button>
                    </div>
                </div>


                <div class="form-group has-feedback" >
                    <label class="col-lg-2 control-label" >菜品特色</label>

                    <div ng-repeat="feature in data.dish.infoUniqueFeature">
                        <div class="col-lg-8" ng-class="{'col-lg-offset-2':!$first}">
                            <label class="radio-inline" ng-repeat="contentType in data.contentTypeList">
                                <input type="radio" name="contentType_{{$parent.$index}}"  ng-value="contentType.value" ng-model="feature.contentType">{{contentType.name}}
                            </label>

                            <input type="text" class="form-control" placeholder="标题{{$index + 1}} 中文" name="dishUniqueFeatureTitleZh_{{$index}}" ng-model="feature.title.zh" ng-minlength="2" ng-maxlength="300">
                            <input type="text" class="form-control" placeholder="标题{{$index + 1}} 英文" name="dishUniqueFeatureTitleEn_{{$index}}" ng-model="feature.title.en" ng-minlength="2" ng-maxlength="300">
                            <input type="text" class="form-control" placeholder="内容, 链接地址或图片地址{{$index + 1}} 中文" name="dishUniqueFeatureValueZh_{{$index}}" ng-model="feature.value.zh" ng-minlength="2" ng-maxlength="9000">
                            <input type="text" class="form-control" placeholder="内容, 链接地址或图片地址{{$index + 1}} 英文" name="dishUniqueFeatureValueEn_{{$index}}" ng-model="feature.value.en" ng-minlength="2" ng-maxlength="9000">
                            <input type="text" class="form-control" placeholder="图片的链接地址{{$index + 1}} " name="dishUniqueFeatureLink_{{$index}}" ng-show="feature.contentType ==='pic'" ng-model="feature.linkTo" ng-minlength="2" ng-maxlength="300">
                        </div>
                        <div class="col-lg-2">
                            <input type="number" class="form-control" placeholder="排序顺序{{$index + 1}} " name="dishUniqueFeatureSort_{{$index}}" ng-model="feature.sortId" min="10" max="1000">
                            <button type="button" class="btn btn-danger btn-sm" ng-show="data.dish.infoUniqueFeature.length>1" ng-click="data.dish.infoUniqueFeature.splice($index, 1)"> <span class="glyphicon glyphicon-trash"></span></button>
                        </div>
                    </div>
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="button" class="btn info btn-sm" ng-click="addNewCover(data.dish.infoUniqueFeature)"> <span class="glyphicon glyphicon-plus"></span>增加一组内容</button>
                    </div>
                </div>


                <div class="form-group has-feedback" >
                    <label class="col-lg-2 control-label" >菜品原料</label>

                    <div ng-repeat="feature in data.dish.infoIngredient">
                        <div class="col-lg-8" ng-class="{'col-lg-offset-2':!$first}">
                            <label class="radio-inline" ng-repeat="contentType in data.contentTypeList">
                                <input type="radio" name="contentType_{{$parent.$index}}"  ng-value="contentType.value" ng-model="feature.contentType">{{contentType.name}}
                            </label>

                            <input type="text" class="form-control" placeholder="标题{{$index + 1}} 中文" name="dishIngredientTitleZh_{{$index}}" ng-model="feature.title.zh" ng-minlength="2" ng-maxlength="300">
                            <input type="text" class="form-control" placeholder="标题{{$index + 1}} 英文" name="dishIngredientTitleEn_{{$index}}" ng-model="feature.title.en" ng-minlength="2" ng-maxlength="300">
                            <input type="text" class="form-control" placeholder="内容, 链接地址或图片地址{{$index + 1}} 中文" name="dishIngredientValueZh_{{$index}}" ng-model="feature.value.zh" ng-minlength="2" ng-maxlength="9000">
                            <input type="text" class="form-control" placeholder="内容, 链接地址或图片地址{{$index + 1}} 英文" name="dishIngredientValueEn_{{$index}}" ng-model="feature.value.en" ng-minlength="2" ng-maxlength="9000">
                            <input type="text" class="form-control" placeholder="图片的链接地址{{$index + 1}} " name="dishIngredientLink_{{$index}}" ng-show="feature.contentType ==='pic'" ng-model="feature.linkTo" ng-minlength="2" ng-maxlength="300">
                        </div>
                        <div class="col-lg-2">
                            <input type="number" class="form-control" placeholder="排序顺序{{$index + 1}} " name="dishIngredientSort_{{$index}}" ng-model="feature.sortId" min="10" max="1000">
                            <button type="button" class="btn btn-danger btn-sm" ng-show="data.dish.infoIngredient.length>1" ng-click="data.dish.infoIngredient.splice($index, 1)"> <span class="glyphicon glyphicon-trash"></span></button>
                        </div>
                    </div>
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="button" class="btn info btn-sm" ng-click="addNewCover(data.dish.infoIngredient)"> <span class="glyphicon glyphicon-plus"></span>增加一组内容</button>
                    </div>
                </div>


                <div class="form-group has-feedback" >
                    <label class="col-lg-2 control-label" >菜品制作步骤</label>

                    <div ng-repeat="feature in data.dish.infoCookingStep">
                        <div class="col-lg-8" ng-class="{'col-lg-offset-2':!$first}">
                            <label class="radio-inline" ng-repeat="contentType in data.contentTypeList">
                                <input type="radio" name="contentType_{{$parent.$index}}"  ng-value="contentType.value" ng-model="feature.contentType">{{contentType.name}}
                            </label>

                            <input type="text" class="form-control" placeholder="标题{{$index + 1}} 中文" name="dishCookingStepTitleZh_{{$index}}" ng-model="feature.title.zh" ng-minlength="2" ng-maxlength="300">
                            <input type="text" class="form-control" placeholder="标题{{$index + 1}} 英文" name="dishCookingStepTitleEn_{{$index}}" ng-model="feature.title.en" ng-minlength="2" ng-maxlength="300">
                            <input type="text" class="form-control" placeholder="内容, 链接地址或图片地址{{$index + 1}} 中文" name="dishCookingStepValueZh_{{$index}}" ng-model="feature.value.zh" ng-minlength="2" ng-maxlength="9000">
                            <input type="text" class="form-control" placeholder="内容, 链接地址或图片地址{{$index + 1}} 英文" name="dishCookingStepValueEn_{{$index}}" ng-model="feature.value.en" ng-minlength="2" ng-maxlength="9000">
                            <input type="text" class="form-control" placeholder="图片的链接地址{{$index + 1}} " name="dishCookingStepLink_{{$index}}" ng-show="feature.contentType ==='pic'" ng-model="feature.linkTo" ng-minlength="2" ng-maxlength="300">
                        </div>
                        <div class="col-lg-2">
                            <input type="number" class="form-control" placeholder="排序顺序{{$index + 1}} " name="dishCookingStepSort_{{$index}}" ng-model="feature.sortId" min="10" max="1000">
                            <button type="button" class="btn btn-danger btn-sm" ng-show="data.dish.infoCookingStep.length>1" ng-click="data.dish.infoCookingStep.splice($index, 1)"> <span class="glyphicon glyphicon-trash"></span></button>
                        </div>
                    </div>
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="button" class="btn info btn-sm" ng-click="addNewCover(data.dish.infoCookingStep)"> <span class="glyphicon glyphicon-plus"></span>增加一组内容</button>
                    </div>
                </div>


                <div class="form-group has-feedback" ng-class="{'has-success':dishForm.tagGroup.$dirty&&dishForm.tagGroup.$valid, 'has-error':dishForm.tagGroup.$dirty&&dishForm.tagGroup.$invalid}">
                    <label class="col-lg-2 control-label" >标签组</label>

                    <div class="col-lg-5">
                        <select class="form-control" name="tagGroup" ng-model="data.dish.group" ng-options="group as group.zh for group in data.dishGroup">
                        </select>
                    </div>
                </div>

                <div class="form-group has-feedback" ng-class="{'has-success':dishForm.tagIsFilter.$dirty&&dishForm.tagIsFilter.$valid, 'has-error':dishForm.tagIsFilter.$dirty&&dishForm.tagIsFilter.$invalid}">
                    <label class="col-lg-2 control-label" >是否用于菜品筛选</label>

                    <div class="col-lg-4">
                        <label class="radio-inline">
                            <input type="radio" name="tagIsFilter" id="inlineRadio1" ng-value="true" ng-model="data.dish.isFilter">是
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="tagIsFilter" id="inlineRadio2" ng-value="false" ng-model="data.dish.isFilter">否
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-1">
                        <button type="submit" class="btn btn-primary" ng-show="css.isAddNewStatus" ng-disabled="dishForm.$invalid" ng-click="addNewTag(dishForm)">Save</button>
                        <button type="submit" class="btn btn-primary" ng-hide="css.isAddNewStatus" ng-disabled="dishForm.$invalid" ng-click="updateTag(dishForm)">Save</button>
                    </div>
                </div>
            </form>

        </div>
    </div>


</div>














<div class="row">
    <form class="form-horizontal">



        <hr/>
        <div class="form-group" ng-repeat="priceWholesale_ in dish.priceWholesale">
            <label class="control-label col-lg-2 text-right">批发价</label>
            <div class="col-lg-4">
                <div class="input-group">
                    <span class="input-group-addon">数量</span>
                    <input type="number" min="1" ng-model="priceWholesale_.quantity" class="form-control">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <span class="input-group-addon">价格</span>
                    <input type="number" min="0" step="0.01" ng-model="priceWholesale_.price" class="form-control">
                </div>
            </div>
            <div class="col-lg-1">
                <button class="form-control admin-button admin-button-del" ng-click="dish.priceWholesale.splice($index, 1)">删除</button>
            </div>
        </div>
        <div class="form-group add-button-wrapper">
            <label ng-if="!dish.priceWholesale.length" class="control-label col-lg-2 text-right">批发价</label>
            <div class="col-lg-1" ng-class="{'col-lg-offset-2': !!dish.priceWholesale.length}">
                <button class="form-control admin-button admin-button-add" ng-click="dish.priceWholesale.push({})">添加</button>
            </div>
        </div>
        <hr/>

        <div class="form-group">
            <label class="control-label col-lg-2 text-right">原价</label>
            <div class="col-lg-5">
                <div class="input-group">
                    <input type="number" min="0" step="0.01" ng-model="dish.priceOriginal" class="form-control">
                </div>
            </div>
        </div>

        <hr/>
        <div class="form-group" ng-repeat="infoUniqueFeature_ in dish.infoUniqueFeature">
            <label class="control-label col-lg-2 text-right">特色</label>
            <div class="col-lg-8">
                <div class="input-group">
                    <span class="input-group-addon">Title/EN</span>
                    <input type="text" ng-model="infoUniqueFeature_.title.en" class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Title/ZH</span>
                    <input type="text" ng-model="infoUniqueFeature_.title.zh" class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Content Type</span>
                    <select class="form-control" ng-model="infoUniqueFeature_.contentType" ng-options="type for type in ['pic', 'txt', 'url', 'vid']"></select>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Value/EN</span>
                    <input type="text" ng-model="infoUniqueFeature_.value.en" class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Value/ZH</span>
                    <input type="text" ng-model="infoUniqueFeature_.value.zh" class="form-control">
                </div>
            </div>
            <div class="col-lg-1">
                <button class="form-control admin-button admin-button-del" ng-click="dish.infoUniqueFeature.splice($index, 1)">删除</button>
            </div>
        </div>
        <div class="form-group add-button-wrapper">
            <label ng-if="!dish.infoUniqueFeature.length" class="control-label col-lg-2 text-right">特色</label>
            <div class="col-lg-1" ng-class="{'col-lg-offset-2': !!dish.infoUniqueFeature.length}">
                <button class="form-control admin-button admin-button-add" ng-click="dish.infoUniqueFeature.push({})">添加</button>
            </div>
        </div>

        <hr/>
        <div class="form-group" ng-repeat="infoIngredient_ in dish.infoIngredient">
            <label class="control-label col-lg-2 text-right">原料</label>
            <div class="col-lg-8">
                <div class="input-group">
                    <span class="input-group-addon">Title/EN</span>
                    <input type="text" ng-model="infoIngredient_.title.en" class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Title/ZH</span>
                    <input type="text" ng-model="infoIngredient_.title.zh" class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Content Type</span>
                    <select class="form-control" ng-model="infoIngredient_.contentType" ng-options="type for type in ['pic', 'txt', 'url', 'vid']"></select>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Value/EN</span>
                    <input type="text" ng-model="infoIngredient_.value.en" class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Value/ZH</span>
                    <input type="text" ng-model="infoIngredient_.value.zh" class="form-control">
                </div>
            </div>
            <div class="col-lg-1">
                <button class="form-control admin-button admin-button-del" ng-click="dish.infoIngredient.splice($index, 1)">删除</button>
            </div>
        </div>
        <div class="form-group add-button-wrapper">
            <label ng-if="!dish.infoIngredient.length" class="control-label col-lg-2 text-right">原料</label>
            <div class="col-lg-1" ng-class="{'col-lg-offset-2': !!dish.infoIngredient.length}">
                <button class="form-control admin-button admin-button-add" ng-click="dish.infoIngredient.push({})">添加</button>
            </div>
        </div>

        <hr/>
        <div class="form-group" ng-repeat="infoCookingStep_ in dish.infoCookingStep">
            <label class="control-label col-lg-2 text-right">制作步骤</label>
            <div class="col-lg-8">
                <div class="input-group">
                    <span class="input-group-addon">Title/EN</span>
                    <input type="text" ng-model="infoCookingStep_.title.en" class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Title/ZH</span>
                    <input type="text" ng-model="infoCookingStep_.title.zh" class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Content Type</span>
                    <select class="form-control" ng-model="infoCookingStep_.contentType" ng-options="type for type in ['pic', 'txt', 'url', 'vid']"></select>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Value/EN</span>
                    <textarea row="3" ng-model="infoCookingStep_.value.en" class="form-control"></textarea>
                </div>
                <div class="input-group">
                    <span class="input-group-addon">Value/ZH</span>
                    <textarea row="3" ng-model="infoCookingStep_.value.zh" class="form-control"></textarea>
                </div>
            </div>
            <div class="col-lg-1">
                <button class="form-control admin-button admin-button-del" ng-click="dish.infoCookingStep.splice($index, 1)">删除</button>
            </div>
        </div>
        <div class="form-group add-button-wrapper">
            <label ng-if="!dish.infoCookingStep.length" class="control-label col-lg-2 text-right">制作步骤</label>
            <div class="col-lg-1" ng-class="{'col-lg-offset-2': !!dish.infoCookingStep.length}">
                <button class="form-control admin-button admin-button-add" ng-click="dish.infoCookingStep.push({})">添加</button>
            </div>
        </div>

        <hr/>
        <div class="form-group">
            <label class="control-label col-lg-2 text-right">类别</label>
            <div class="col-lg-5">
                <select class="form-control" ng-model="dish.cookingType" ng-options="type for type in ['ready to cook', 'ready to eat']"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-2 text-right">主菜或配菜</label>
            <div class="col-lg-5">
                <select class="form-control" ng-model="dish.sideDishType" ng-options="type for type in ['main', 'topping', 'preferences', 'drink']"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-2 text-right">单品或套餐</label>
            <div class="col-lg-5">
                <select class="form-control" ng-model="dish.setType" ng-options="type for type in ['single', 'set']"></select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-2 text-right">几人份</label>
            <div class="col-lg-5">
                <div class="input-group">
                    <input type="number" ng-model="dish.servings" class="form-control">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-2 text-right">厨师点评</label>
            <div class="col-lg-8">
                <div class="input-group">
                    <span class="input-group-addon">user</span>
                    <input type="text" placeholder="id" ng-model="cook.user" class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">EN</span>
                    <input type="text" placeholder="tips" ng-model="infoCookingStep_.title.en" class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">ZH</span>
                    <input type="text" placeholder="tips" ng-model="infoCookingStep_.title.zh" class="form-control">
                </div>
            </div>
        </div>

        <hr/>
        <div class="form-group" ng-repeat="tagFilter_ in dish.tagFilter">
            <label class="control-label col-lg-2 text-right">标签</label>
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" placeholder="tag" ng-model="tagFilter_" class="form-control">
                </div>
            </div>
            <div class="col-lg-1">
                <button class="form-control admin-button admin-button-del" ng-click="dish.tagFilter.splice($index, 1)">删除</button>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2 text-right">标签</label>
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="text" ng-model="dummyDish.tagFilter" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group add-button-wrapper">
            <div class="col-lg-1 col-lg-offset-2">
                <button class="form-control admin-button admin-button-add" ng-click="dummyAdd('tagFilter')">添加</button>
            </div>
        </div>
        <hr/>

<!--        <div class="form-group" ng-repeat="topping_ in dish.topping">
            <label class="control-label col-lg-2 text-right">浇头</label>
            <div class="col-lg-8">
                <div class="input-group">
                    <input type="text" placeholder="topping" ng-model="topping_" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-2 text-right">浇头</label>
            <div class="col-lg-8">
                <div class="input-group">
                    <input type="text" ng-model="dummyDish.topping" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group add-button-wrapper">
            <div class="col-lg-offset-2 col-lg-10">
                <button ng-click="dummyAdd('topping')">添加</button>
            </div>
        </div>
        <hr/>

        <div class="form-group" ng-repeat="preferences_ in dish.preferences" >
            <label class="control-label col-lg-2 text-right">配菜</label>
            <div class="col-lg-8">
                <div class="input-group">
                    <span class="input-group-addon">EN</span>
                    <input type="text" placeholder="name" ng-model="preferences_.name.en" class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">ZH</span>
                    <input type="text" placeholder="name" ng-model="preferences_.name.zh" class="form-control">
                </div>
            </div>
            <div class="col-lg-offset-2 col-lg-8" ng-repeat="foodMaterial_ in preferences_.foodMaterial">
                <div class="input-group">
                    <span class="input-group-addon">dish</span>
                    <input type="text" placeholder="id" ng-model="foodMaterial_.dish" class="form-control">
                </div>
                <div class="input-group">
                    <span class="input-group-addon">default</span>
                    <input type="checkbox" ng-model="foodMaterial_.default" class="checkbox form-control">
                </div>
            </div>
            <div class="col-lg-offset-2 col-lg-10">
                <button ng-click="preferences_.foodMaterial.push({})">添加相似配菜</button>
            </div>
        </div>
        <div class="form-group add-button-wrapper">
            <div class="col-lg-offset-2 col-lg-10">
                <button ng-click="dish.preferences.push({foodMaterial: [{}]})">添加</button>
            </div>
        </div>
        <hr/>-->

        <div class="form-group">
            <label class="control-label col-lg-2 text-right">sortId</label>
            <div class="col-lg-5">
                <input class="form-control" type="number" ng-model="dish.sortId">
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-5 col-lg-offset-2">
                <input type="checkbox" ng-model="dish.isPublished">
                <label>上线</label>
            </div>
        </div>





        <!--submit-->
        <div class="form-group">
            <div class="col-lg-2 col-lg-offset-3">
                <button class="form-control" ng-click="save()">保存</button>
            </div>
        </div>
    </form>
</div>