<!-- BEGIN TRACKJS -->
<script type="text/javascript">window._trackJs = {
    token: '9369886ee04d44db80e93eca132e13b3',
    enabled: !(window.location.host.indexOf('localhost') >= 0),
    onError: function (payload) {
        return payload.message.indexOf("401 Unauthorized: GET /api/user")<0
    }
};
localStorage.uid&&(window._trackJs.userId=localStorage.uid);
</script>
<script type="text/javascript" src="/components/trackjs/tracker.js"></script>
<!-- END TRACKJS -->

<script src="/components/angular/angular.min.js"></script>
<script src="/components/ngstorage/ngStorage.min.js"></script>
<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>


<script src="/mobile/dist/js/app-06e1c481e7.min.js"></script>
