<script src="/components/angular/angular.min.js"></script>
<script src="/components/ngstorage/ngStorage.min.js"></script>
<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

<!-- build-replace-->
<!-- build:js(app/public/mobile/src) ../js/app.min.js -->
<script src="/mobile/src/js/modules-e04d37f1a1.js"></script>

<script src="/mobile/src/js/directives/add-dish-bar-9a1b1d3e91.js"></script>
<script src="/mobile/src/js/directives/auto-focus-9c4964431c.js"></script>
<script src="/mobile/src/js/directives/back-button-eb8cadf5c2.js"></script>
<script src="/mobile/src/js/directives/coupon-code-1b0454241f.js"></script>
<script src="/mobile/src/js/directives/geetest-sms-button-47b4c77d61.js"></script>
<script src="/mobile/src/js/directives/img-lazy-load-8728f392cf.js"></script>
<script src="/mobile/src/js/directives/shopping-progress-bar-455a98999e.js"></script>
<script src="/mobile/src/js/directives/sms-button-c0ab1da082.js"></script>

<script src="/mobile/src/js/service/address-9adc45a744.js"></script>
<script src="/mobile/src/js/service/alert-844568461c.js"></script>
<script src="/mobile/src/js/service/debug-addec6f01a.js"></script>
<script src="/mobile/src/js/service/map-5b3d8ada3e.js"></script>
<script src="/mobile/src/js/service/scope-decorator-c9a4f80035.js"></script>
<script src="/mobile/src/js/service/utils-9ed08b8212.js"></script>

<script src="/mobile/src/js/weixin-99e83d9b5c.js"></script>
<script src="/mobile/src/js/filters-493df975ec.js"></script>
<script src="/mobile/src/js/templates-a6c627ef43.js"></script>
<script src="/mobile/src/js/models-678d7d0c95.js"></script>
<script src="/mobile/src/js/config-8ec1c12e4f.js"></script>
<!-- endbuild -->
<!-- end-build-replace-->