<div class="col-lg-12">

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title panel-titlenew"><span ng-show="css.isAddNewStatus">新增 Order 订单</span> <span ng-hide="css.isAddNewStatus">修改 Order 订单 - {{data.order.orderNumber}} - {{data.order._id}}</span>
                <a class="btn btn-sm btn-info pull-right" ui-sref="menu.orders" role="button">返回</a>
            </h3>
        </div>


<!--

        <div class="panel-body">

            <table class="table table-striped table-bordered table-hover table-responsive">
                <thead>
                <tr>
                    <th>菜ID</th>
                    <th>菜名</th>
                    <th>类型</th>
                    <th>主菜配菜</th>
                    <th>价格</th>
                    <th>数量</th>
                    <th>菜品总价</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="dish in data.order.dishHistory ">
                    <td><a ui-sref="menu.updateDish({ id: dish.dish._id })">{{dish.dish._id}}</a></td>

                    <td>{{dish.dish.title.zh}}</td>
                    <td>{{dish.dish.cookingType}}</td>
                    <td>{{dish.dish.sideDishType}}</td>

                    <td>{{dish.dish.priceOriginal}}</td>
                    <td>{{dish.number}}</td>
                    <td>{{dish.dish.priceOriginal * dish.number}}</td>
                </tr>
                </tbody>
            </table>

        </div>
-->


        <div class="panel-body">

            <table class="table table-striped table-bordered table-hover table-responsive">
                <thead>
                <tr>
                    <th>菜ID</th>
                    <th>菜名</th>
                    <th>类型</th>
                    <th>主菜配菜</th>
                    <th>价格</th>
                    <th>数量</th>
                    <th>菜品总价</th>
                </tr>
                </thead>
                <tbody ng-repeat="dish in data.order.dishList ">
                <tr >
                    <td><a ui-sref="menu.updateDish({ id: dish.dish })">{{dish.dish}}</a></td>
                    <td>{{dish.detail.dish.title.zh}}</td>
                    <td>{{dish.detail.dish.cookingType}}</td>
                    <td>{{dish.detail.dish.sideDishType}}</td>

                    <td>{{dish.detail.dish.priceOriginal}}</td>
                    <td>{{dish.number}}</td>
                    <td>{{dish.detail.dish.priceOriginal * dish.number}}</td>
                </tr>

                <tr ng-repeat="subDish in dish.subDish">
                    <td> --->>> <a ui-sref="menu.updateDish({ id: subDish.dish })">{{subDish.dish}}</a></td>
                    <td> --->>> {{subDish.detail.dish.title.zh}}</td>
                    <td>{{subDish.detail.dish.cookingType}}</td>
                    <td>{{subDish.detail.dish.sideDishType}}</td>

                    <td>{{subDish.detail.dish.priceOriginal}}</td>
                    <td>{{subDish.number}}</td>
                    <td>{{subDish.detail.dish.priceOriginal * subDish.number}}</td>
                </tr>

                </tbody>
            </table>

        </div>


        <div class="panel-body">
            <form class="form-horizontal" name="orderForm" role="form" novalidate ng-cloak>

                <div class="form-group has-feedback" >
                    <label class="col-lg-2 control-label" >总价格:</label>

                    <div class="col-lg-1">
                        <span class="help-block" >{{data.order.totalPrice}}</span>
                    </div>

                    <div class="col-lg-9">
                        <span class="help-block" >菜品价格:{{data.order.dishesPrice}} + 运费:{{data.order.freight}} - 优惠码:{{data.order.promotionDiscount}} ({{data.order.promotionCode}}) - 优惠券:{{data.order.couponDiscount}} (<a ui-sref="menu.updateCoupon({ id: data.order.coupon })">{{data.order.coupon}}</a>) - 新味币余额:{{data.order.accountUsedDiscount}}</span>
                    </div>
                </div>


                <div class="form-group has-feedback" >
                    <label class="col-lg-2 control-label" >订单号:</label>

                    <div class="col-lg-10">
                        <span class="help-block">{{data.order.orderNumber}} -  创建时间:{{data.order.createdAt | date:'yyyy-MM-dd HH:mm:ss'}} </span>
                    </div>
                </div>

                <div class="form-group has-feedback" >
                    <label class="col-lg-2 control-label" >是否被拆单:</label>

                    <div class="col-lg-2">
                        <span class="help-block">{{data.order.isSplitOrder}}</span>
                    </div>

                    <label class="col-lg-2 control-label" >是否为子订单:</label>

                    <div class="col-lg-2">
                        <span class="help-block">{{data.order.isChildOrder}}</span>
                    </div>
                </div>

                <div class="form-group has-feedback" >
                    <label class="col-lg-2 control-label" >子订单列表:</label>

                    <div class="col-lg-10">
                        <span class="help-block" ng-repeat="childOrder in data.order.childOrderList"> <a ui-sref="menu.updateOrder({ id: childOrder })">{{childOrder}}</a> </span>
                    </div>
                </div>

                <div class="form-group has-feedback" >
                    <label class="col-lg-2 control-label" >订单来源:</label>

                    <div class="col-lg-10">
                        <span class="help-block">{{data.order.clientFrom}}</span>
                    </div>
                </div>

                <div class="form-group has-feedback" >
                    <label class="col-lg-2 control-label" >订单菜品类型:</label>

                    <div class="col-lg-10">
                        <span class="help-block">{{data.order.cookingType}}</span>
                    </div>
                </div>


                <div class="form-group has-feedback" >
                    <label class="col-lg-2 control-label" >订单所属用户ID:</label>

                    <div class="col-lg-10">
                        <span class="help-block"><a ui-sref="menu.updateUser({ id: data.order.user })">{{data.order.user}}</a></span>
                    </div>
                </div>

                <div class="form-group has-feedback" >
                    <label class="col-lg-2 control-label" >收货地址:</label>

                    <div class="col-lg-10">
                        <span class="help-block" >经度: {{data.order.address.geoLongitude}} / 纬度: {{data.order.address.geoLatitude}} / 距离: {{data.order.address.distanceFrom}}米</span>
                        <span class="help-block" > {{data.order.address.country}} / {{data.order.address.province}}  / {{data.order.address.city}}  / {{data.order.address.district}} / {{data.order.address.street}}</span>
                        <span class="help-block" >详细地址: {{data.order.address.address}} </span>
                        <span class="help-block" >联系人: {{data.order.address.contactPerson}} / {{data.order.address.mobile}} / {{data.order.address.remark}} </span>
                        <span class="help-block" > 客服验证该地址是否有效: {{data.order.address.isValid}} </span>
                    </div>
                </div>



                <div class="form-group has-feedback" >
                    <label class="col-lg-2 control-label" >支付状态:</label>

                    <div class="col-lg-2">
                        <span class="help-block">{{data.order.payment}}</span>
                    </div>
                    <div class="col-lg-2">
                        <span class="help-block" ng-show="data.order.isPaymentPaid">已完成在线支付</span>
                        <span class="help-block" ng-hide="data.order.isPaymentPaid">未完成在线支付</span>
                    </div>
                    <div class="col-lg-2" ng-if="data.order.payment=='cod'">
                        <span class="help-block" ng-show="data.order.paymentUsedCash">货到付款 现金</span>
                        <span class="help-block" ng-hide="data.order.paymentUsedCash">货到付款 刷卡</span>
                    </div>
                </div>



                <div class="form-group has-feedback" >
                    <label class="col-lg-2 control-label" >语言</label>

                    <div class="col-lg-10">
                        <label class="radio-inline" >
                            <input type="radio" name="orderLanguage"  ng-value="'zh'" ng-model="data.order.language">中文
                        </label>
                        <label class="radio-inline" >
                            <input type="radio" name="orderLanguage"  ng-value="'en'" ng-model="data.order.language">英文
                        </label>
                    </div>

                </div>

                
                <div class="form-group has-feedback" >
                    <label class="col-lg-2 control-label" >包装形式:</label>

                    <div class="col-lg-10">
                        <label class="radio-inline" >
                            <input type="radio" name="orderPackageType"  ng-value="'paperbox'" ng-model="data.order.packageType">纸盒箱
                        </label>
                        <label class="radio-inline" >
                            <input type="radio" name="orderPackageType"  ng-value="'foambox'" ng-model="data.order.packageType">泡沫箱
                        </label>
                    </div>

                </div>

                <div class="form-group has-feedback" >
                    <label class="col-lg-2 control-label" >配送物流:</label>

                    <div class="col-lg-10">
                        <label class="radio-inline" ng-repeat="express in data.expressList">
                            <input type="radio" name="orderExpress"  ng-value="express.name" ng-click="clickExpressRadio(express)">{{express.displayName.zh}}
                        </label>
                    </div>

                </div>

                <div class="form-group has-feedback" ng-class="{'has-success':orderForm.orderExpressDisplayNameZh.$dirty&&orderForm.orderExpressDisplayNameZh.$valid||orderForm.orderExpressDisplayNameEn.$dirty&&orderForm.orderExpressDisplayNameEn.$valid, 'has-error':orderForm.orderExpressDisplayNameZh.$dirty&&orderForm.orderExpressDisplayNameZh.$invalid||orderForm.orderExpressDisplayNameEn.$dirty&&orderForm.orderExpressDisplayNameEn.$invalid}">
                    <div class="col-lg-offset-2 col-lg-4">
                        <input type="text" class="form-control" placeholder="快递名称 中文" name="orderExpressDisplayNameZh" ng-model="data.order.express.displayName.zh"  ng-minlength="2" ng-maxlength="50">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="orderForm.orderExpressDisplayNameZh.$dirty&&orderForm.orderExpressDisplayNameZh.$valid"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="orderForm.orderExpressDisplayNameZh.$dirty&&orderForm.orderExpressDisplayNameZh.$invalid"></span>
                    </div>

                    <div class="col-lg-4">
                        <input type="text" class="form-control" placeholder="快递名称 英文" name="orderExpressDisplayNameEn" ng-model="data.order.express.displayName.en"  ng-minlength="2" ng-maxlength="50">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="orderForm.orderExpressDisplayNameEn.$dirty&&orderForm.orderExpressDisplayNameEn.$valid"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="orderForm.orderExpressDisplayNameEn.$dirty&&orderForm.orderExpressDisplayNameEn.$invalid"></span>
                    </div>

                    <div class="col-lg-2">
                        <span class= help-block" ng-if="orderForm.orderExpressDisplayNameZh.$dirty&&orderForm.orderExpressDisplayNameZh.$error.required">请填入信息！</span>
                        <span class= help-block" ng-if="orderForm.orderExpressDisplayNameZh.$dirty&&orderForm.orderExpressDisplayNameZh.$error.minlength || orderForm.orderExpressDisplayNameZh.$dirty&&orderForm.orderExpressDisplayNameZh.$error.maxlength">字符长度错误！</span>

                        <span class= help-block" ng-if="orderForm.orderExpressDisplayNameEn.$dirty&&orderForm.orderExpressDisplayNameEn.$error.required">请填入信息！</span>
                        <span class= help-block" ng-if="orderForm.orderExpressDisplayNameEn.$dirty&&orderForm.orderExpressDisplayNameEn.$error.minlength || orderForm.orderExpressDisplayNameEn.$dirty&&orderForm.orderExpressDisplayNameEn.$error.maxlength">字符长度错误！</span>
                    </div>
                </div>

                <div class="form-group has-feedback" ng-class="{'has-success':orderForm.orderExpressNo.$dirty&&orderForm.orderExpressNo.$valid, 'has-error':orderForm.orderExpressNo.$dirty&&orderForm.orderExpressNo.$invalid}">

                    <div class="col-lg-offset-2 col-lg-8">
                        <input type="text" class="form-control" placeholder="快递单号" name="orderExpressNo" ng-model="data.order.express.number"  ng-minlength="6" ng-maxlength="50">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="orderForm.orderExpressNo.$dirty&&orderForm.orderExpressNo.$valid"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="orderForm.orderExpressNo.$dirty&&orderForm.orderExpressNo.$invalid"></span>
                    </div>

                    <div class="col-lg-2">
                        <span class= help-block" ng-if="orderForm.orderExpressNo.$dirty&&orderForm.orderExpressNo.$error.required">请填入信息！</span>
                        <span class=" help-block" ng-if="orderForm.orderExpressNo.$dirty&&orderForm.orderExpressNo.$error.minlength || orderForm.orderExpressNo.$dirty&&orderForm.orderExpressNo.$error.maxlength">字符长度错误！</span>
                    </div>
                </div>



                <div class="form-group has-feedback" ng-class="{'has-success':orderForm.orderExpressPersonMobile.$dirty&&orderForm.orderExpressPersonMobile.$valid||orderForm.orderExpressPersonName.$dirty&&orderForm.orderExpressPersonName.$valid, 'has-error':orderForm.orderExpressPersonMobile.$dirty&&orderForm.orderExpressPersonMobile.$invalid||orderForm.orderExpressPersonName.$dirty&&orderForm.orderExpressPersonName.$invalid}">
                    <label class="col-lg-2 control-label" >配送人员姓名:</label>
                    <div class="col-lg-2">
                        <input type="text" class="form-control" placeholder="配送人员姓名" name="orderExpressPersonName" ng-model="data.order.expressPersonName"  ng-minlength="2" ng-maxlength="10">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="orderForm.orderExpressPersonName.$dirty&&orderForm.orderExpressPersonName.$valid"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="orderForm.orderExpressPersonName.$dirty&&orderForm.orderExpressPersonName.$invalid"></span>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" placeholder="配送人员手机" name="orderExpressPersonMobile" ng-model="data.order.expressPersonMobile"  ng-minlength="11" ng-maxlength="16">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="orderForm.expressPersonMobile.$dirty&&orderForm.expressPersonMobile.$valid"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="orderForm.expressPersonMobile.$dirty&&orderForm.expressPersonMobile.$invalid"></span>
                    </div>

                    <div class="col-lg-2">
                        <span class= help-block" ng-if="orderForm.orderExpressPersonName.$dirty&&orderForm.orderExpressPersonName.$error.required">请填入姓名！</span>
                        <span class= help-block" ng-if="orderForm.orderExpressPersonName.$dirty&&orderForm.orderExpressPersonName.$error.minlength || orderForm.orderExpressPersonName.$dirty&&orderForm.orderExpressPersonName.$error.maxlength">姓名字符长度错误！</span>
                    </div>

                    <div class="col-lg-2">
                        <span class= help-block" ng-if="orderForm.expressPersonMobile.$dirty&&orderForm.expressPersonMobile.$error.required">请填入手机！</span>
                        <span class= help-block" ng-if="orderForm.expressPersonMobile.$dirty&&orderForm.expressPersonMobile.$error.minlength || orderForm.expressPersonMobile.$dirty&&orderForm.expressPersonMobile.$error.maxlength">手机字符长度错误！</span>
                    </div>
                </div>


                <div class="form-group has-feedback" >
                    <label class="col-lg-2 control-label" >预计送货时间:</label>

                    <div class="col-lg-10">
                        <span class="help-block" >{{data.order.deliveryDateTime | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
                    </div>
                </div>

                <div class="form-group has-feedback" >
                    <label class="col-lg-2 control-label" >用户留言:</label>

                    <div class="col-lg-10">
                        <span class="help-block" >{{data.order.userComment}}</span>
                    </div>
                </div>

                <div class="form-group has-feedback" ng-class="{'has-success':orderForm.orderCSComment.$dirty&&orderForm.orderCSComment.$valid, 'has-error':orderForm.orderCSComment.$dirty&&orderForm.orderCSComment.$invalid}">
                    <label class="col-lg-2 control-label" for="inputOrderCSComment" >客服备注:</label>

                    <div class="col-lg-8">
                        <textarea class="form-control" row="3" id="inputOrderCSComment" placeholder="客服备注" name="orderCSComment" ng-model="data.order.csComment" ng-minlength="2" ng-maxlength="500"></textarea>
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="orderForm.orderCSComment.$dirty&&orderForm.orderCSComment.$valid"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="orderForm.orderCSComment.$dirty&&orderForm.orderCSComment.$invalid"></span>
                    </div>

                    <div class="col-lg-2">
                        <span class=" help-block" ng-if="orderForm.orderCSComment.$dirty&&orderForm.orderCSComment.$error.required">请填入信息！</span>
                        <span class=" help-block" ng-if="orderForm.orderCSComment.$dirty&&orderForm.orderCSComment.$error.minlength || orderForm.orderCSComment.$dirty&&orderForm.orderCSComment.$error.maxlength">字符长度错误！</span>
                    </div>
                </div>





                <div class="form-group has-feedback" ng-class="{'has-success':orderForm.orderStatus.$dirty&&orderForm.orderStatus.$valid, 'has-error':orderForm.orderStatus.$dirty&&orderForm.orderStatus.$invalid}">
                    <label class="col-lg-2 control-label" >订单状态:</label>

                    <div class="col-lg-2">
                        <select class="form-control" name="orderStatus" ng-model="data.order.status" ng-options="status.value as status.name for status in data.orderStatusListDetail">
                        </select>
                    </div>

                    <div class="col-lg-6">
                        <span class="help-block ">保存为 已发货 会短信通知用户, 多次保存会多次发送短信</span>
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-2">
                        <button type="submit" class="btn btn-primary" ng-show="css.isAddNewStatus" ng-disabled="orderForm.$invalid" ng-click="addNewTag(orderForm)">Save</button>
                        <button type="submit" class="btn btn-primary" ng-hide="css.isAddNewStatus" ng-disabled="orderForm.$invalid" ng-click="updateOrder(orderForm)">Save</button>
                    </div>
                    <div class="col-lg-4">
                        <button type="submit" class="btn btn-info" ng-hide="css.isAddNewStatus" ng-disabled="orderForm.$invalid" ng-click="updateOrderDeliveryKSuDi(orderForm)">生成快速递发货单</button>
                    </div>
                </div>
            </form>

        </div>
    </div>


</div>