<!DOCTYPE html>
<html>
<head><title>xinwei</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no">
    <link rel="stylesheet" href="/pc/src/css/style.css">
    <script type="text/javascript" src="../public/javascripts/libs/jquery-2.1.1.min.js"></script>
</head>
<body>
<header>
    <div class="header-main"><a href="index.html" class="logo"></a>

        <div class="city">城市：<span>上海</span></div>
        <ul class="nav">
            <li><a href="javascript:;">食材包</a></li>
            <li class="act"><a href="javascript:;">即食包</a></li>
            <li><a href="javascript:;">为什么选择我们</a></li>
            <li><a href="javascript:;">关于新味</a></li>
            <li><a href="javascript:;">Q & A</a></li>
            <li><a href="javascript:;">BLOG </a></li>
        </ul>
        <a href="javascript:;" class="sign">登陆</a><a href="javascript:;" class="cart"></a></div>
</header>
<div class="headeremp"></div>
<div class="cart">
    <div src="../public/images/carttitle.png" class="carttitle"></div>
    <h5>由于配送的方式与可选择时间不同，<br>食材包与即食包需分开确认订单,敬请谅解！</h5>

    <div class="tabbtn clearfix"><a href="javascript:;" class="cook act">食材包</a><a href="javascript:;" class="eatcart">即食包</a></div>
    <div class="tabs">
        <div class="cart-main cook clearfix act">
            <div class="products">
                <div class="tabletitle clearfix"><input type="checkbox"></div>
            </div>
            <div class="userinfos"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../public/javascripts/main.js"></script>
</body>
</html>