<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,user-scalable=no">
    <% include includes/css.html %>
    <title>账户余额</title>
    <script>var _hmt=_hmt||[];(function(){var hm=document.createElement("script");hm.src="//hm.baidu.com/hm.js?bd3701195d6b839a7858b504dea63bb5";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm,s);})();</script>
</head>
<body ng-app="xw" ng-controller="balanceCtrl">

<nav class="balance-nav nav">
    <back-button></back-button>
    <span>账户余额</span>
</nav>

<div class="balance-main text-center" ng-cloak>
    <div class="wrapper">
        <div class="center-block balance-big-icon"></div>
        <h4 class="title">我的新味币</h4>
        <p class="balance">{{balance}}</p>
        <div class="charge-group">
            <a class="online-charge" href="/mobile/chargebalanceonline">在线充值</a>
            <a class="code-charge" href="/mobile/chargebalance">充值码充值</a>
        </div>
    </div>

    <a class="charge-history" href="/mobile/balancerecords">充值消费记录</a>
</div>

</body>

<% include includes/js.html %>


<!--<script src="/mobile/src/js/controllers/balance.js"></script>-->
<script src="/mobile/<%= rev('js/controllers/balance.js') %>"></script>


</html>