<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,user-scalable=no">
    <%- include('includes/css.html') %>
    <title>购物袋</title>
    <script>var _hmt=_hmt||[];(function(){var hm=document.createElement("script");hm.src="//hm.baidu.com/hm.js?bd3701195d6b839a7858b504dea63bb5";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm,s);})();</script>
</head>
<body class="cart-body" ng-app="xw" ng-controller="cartCtrl">

<div class="cart-main" ng-cloak>

    <div ng-repeat="(listName, list) in dishList" class="cart-block" ng-if="list.length">
        <!--<div ng-if="listName == 'eatList' && !isInRange" class="no-delivery-tip">-->
            <!--您当前的配送地址不在便当的配送范围内-->
        <!--</div>-->
        <h4 ng-if="listName == 'noReachList'">当前地址无法配送以下商品</h4>
        <h4 ng-if="listName != 'noReachList'"><span class="icon select" ng-class="{active: list.selectedAll}" ng-click="selectAll(listName)"></span> {{listName == 'cookList' ? '食材包' : '便当'}}
            <span class="total">已选中 {{list.selectedLength}}份{{listName == 'cookList' ? '食材包' : '便当'}}, 小计 ¥{{totalPrice(listName)|number:1}}</span></h4>
        <ul class="cart-list" ng-class="{'no-reach-list': listName == 'noReachList'}">
            <li ng-repeat="item in list" ng-class="{'out-of-stock': item.outOfStock}">
                <div class="select" ng-if="listName != 'noReachList'" ng-class="{active: item.selected}" ng-click="select(item)"></div>
                <div class="dish-wrapper">
                    <a ng-href="{{listName == 'eatList' ? '/mobile/' : ('/mobile/cook/' + item.dish._id)}}">
                        <span class="dish-img" ng-style="{'background-image': 'url('+ imgAdapt(item.dish.cover[0].zh) + ')'}"></span>
                    </a>
                    <div class="dish-detail">
                        <h5>{{item.dish.title.zh}}<br>
                            <span class="sub-name" ng-repeat="el in item.subDish">{{el.dish.title.zh + ($last ? '': ' ')}}</span>
                        </h5>
                        <span class="stock" ng-class="{'out-of-stock': item.outOfStock}">
                            {{item.outOfStock ? '卖光了' : '有货'}}
                        </span>
                        <span class="rmb-char">
                            {{item|dishPrice}}
                        </span>
                    </div>
                    <div class="counter">
                        <span ng-click="decrease(item, $index)">-</span>
                        <span class="number">{{item.number}}</span><!-- todo: dish.number是否合适 -->
                        <span ng-click="increase(item)">+</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <confirm show="confirm">确定删除该商品吗?</confirm>
    <div ng-if="!dishList['cookList'].length && !dishList['eatList'].length  && !dishList['noReachList'].length" class="empty-cart text-center">
        <div class="icon"></div>
        <p class="text">空着呢, 快把我填满吧</p>
    </div>

</div>

<footer ng-cloak class="cart-bar2">
    <a href="/mobile" class="back-to-menu"><span class="back-to-menu">返回菜单</span></a>
    <span class="next" ng-click="next()">下一步</span>
</footer>

</body>

<%- include('includes/js.html') %>

<script src="/mobile/dist/js/controllers/cart-661e0296d1.js"></script>

</html>