<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="/components/normalize.css/normalize.css"/>
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/mobile/src/css/main.css"/>
    <title>在线充值</title>
</head>
<body ng-app="xw" ng-controller="chargeBalanceOnlineCtrl">

<nav class="nav">
    <back-button></back-button>
    <span>充值</span>
</nav>

<div class="charge-balance-online-main" ng-cloak>
    <div class="cur-balance">
        <span class="label-txt">现有余额</span>
        <span class="balance"><i>{{balance}}</i>新味币</span>
    </div>

    <ul class="selections">
        <li><span>价格</span><span>充值</span></li>
        <li ng-repeat="item in chargeSelections">
            <span>¥ {{item.price}}</span><span>{{item.coin}} 新味币</span><span class="glyphicon glyphicon-ok"></span>
        </li>
    </ul>

    <div class="confirm">确认</div>
</div>

</body>

<script src="/components/angular/angular.min.js"></script>
<script src="/components/ngstorage/ngStorage.min.js"></script>

<script src="/mobile/src/js/modules.js"></script>
<script src="/mobile/src/js/models.js"></script>
<script src="/mobile/src/js/config.js"></script>
<script src="/mobile/src/js/service/debug.js"></script>
<script src="/mobile/src/js/service/alert.js"></script>
<script src="/mobile/src/js/directives/back-button.js"></script>
<script src="/mobile/src/js/controllers/charge-balance-online.js"></script>
</html>