<!DOCTYPE html>
<html ng-app="xw" ng-controller="cookCtrl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="/components/normalize.css/normalize.css"/>
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/mobile/src/css/main.css"/>
    <title ng-bind="title"></title>
</head>
<body>

<nav style="display:none;" class="cook-nav nav">
    <div class="back-icon" ng-click="back()"></div>
    <span>赞过的菜</span>
</nav>


<div ng-cloak>

</div>

<footer>

</footer>

</body>

<script src="/components/angular/angular.min.js"></script>
<script src="/components/ngstorage/ngStorage.min.js"></script>

<script src="/mobile/src/js/modules.js"></script>
<script src="/mobile/src/js/models.js"></script>
<script src="/mobile/src/js/config.js"></script>
<script src="/mobile/src/js/service/scope-decorator.js"></script>
<script src="/mobile/src/js/controllers/fav-list.js"></script>
</html>