<!DOCTYPE html>
<html ng-app="xw" ng-controller="cookCtrl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="/components/normalize.css/normalize.css"/>
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/mobile/src/css/main.css"/>
    <title ng-bind="dish.title.zh"></title>
    <script>var _hmt=_hmt||[];(function(){var hm=document.createElement("script");hm.src="//hm.baidu.com/hm.js?bd3701195d6b839a7858b504dea63bb5";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm,s);})();</script>
</head>
<body>

<nav style="display:none;" class="cook-nav nav">
    <div class="back-icon" ng-click="back()"></div>
    <span>{{::dish.title.zh}}</span>
</nav>


<div class="main cook-main" ng-cloak>
    <div class="dish-brief">
        <img ng-src="{{dish.cover[0].zh | adapt}}"/>
        <div class="detail">
            <h5>{{dish.title.zh}}</h5>
            <div class="tips">
                <span class="like-icon" ng-class="{'like': dish.liked}" ng-click="likeDish(dish)"></span>
            </div>
            <div class="buy-button"
                 ng-class="{'out-of-stock': dish.outOfStock}"
                 ng-click="!dish.outOfStock && addDish(dish)">
                <div class="price"><span>{{dish.priceOriginal}}</span></div>
                <div class="text" ng-if="!dish.outOfStock">购买</div>
                <div class="text" ng-if="dish.outOfStock">售罄</div>
            </div>
            <p class="brief">{{dish.brief.zh}}</p>
        </div>
    </div>

    <div class="info">
        <div class="info-block feature-block" ng-if="dish.infoUniqueFeature.length">
            <h5>你知道吗?</h5>
            <ul class="features">
                <li class="feature" ng-repeat="feature in dish.infoUniqueFeature">
                    <p ng-if="feature.contentType == 'txt'">{{feature.value.zh}}</p>
                    <img img-lazy-load="feature.value.zh | adapt" ng-if="feature.contentType == 'pic'"/>
                </li>
            </ul>
        </div>

        <div class="ingredient-block info-block" ng-if="dish.infoIngredient.length">
            <h5>原料</h5>
            <ul class="ingredients row">
                <li class="col-xs-6" ng-repeat="ingredient in dish.infoIngredient"
                    ng-class="{img: ingredient.contentType == 'pic'}">
                    <span ng-if="!ingredient.contentType || ingredient.contentType == 'txt'">{{ingredient.value.zh | fraction}}</span>
                    <img img-lazy-load="ingredient.value.zh | adapt:0.4" ng-if="ingredient.contentType == 'pic'" alt=""/>
                </li>
            </ul>
        </div>

        <div class="step-block info-block" ng-if="dish.infoCookingStep.length">
            <h5>菜谱</h5>
            <ul class="ingredients">
                <li ng-repeat="step in dish.infoCookingStep">
                    <img img-lazy-load="step.value.zh | adapt" ng-if="step.contentType == 'pic'"/>
                    <div class="txt-info" ng-if="step.contentType == 'txt'">
                        <h6>{{($index + 1) / 2 + '.' + step.title.zh}}</h6>
                        <p>{{step.value.zh}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<add-dish-bar cart="cart" user="user" dish="curDish"></add-dish-bar>

<nav class="menu-nav">
    <div><a href="/mobile/me"><span>帐号</span></a></div>
    <div><a href="/mobile#/eat"><span>便当</span></a></div>
    <div class="active"><a href="#/cook"><span>食材包</span></a></div>

    <div class="go-to-cart" ng-click="goToCart()">
        <div class="icon bag-icon">
            <i class="number" ng-bind="cart.length"></i>
        </div>
        <span class="price" ng-bind="cart.price || 0"></span>
    </div>
</nav>

<!--<footer class="cook-footer row">-->
    <!--<div class="col-xs-2">-->
        <!--<div class="cart" ng-click="goToCart()">-->
            <!--<span class="total-count" ng-if="cart.length">{{cart.length}}</span>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="col-xs-4 text-center">-->
        <!--<span class="like-icon" ng-class="{'like': dish.liked}" ng-click="likeDish(dish)"></span>-->
    <!--</div>-->

    <!--<div class="col-xs-5 pull-right add-to-cart-container" ng-click="addDish(dish)">-->
        <!--加入购物袋-->
    <!--</div>-->

<!--</footer>-->

</body>

<script src="/components/angular/angular.min.js"></script>
<script src="/components/ngstorage/ngStorage.min.js"></script>

<script src="/mobile/dist/js/modules-e04d37f1a1.js"></script>
<script src="/mobile/dist/js/models-e8ffe5b4f3.js"></script>
<script src="/mobile/dist/js/config-6315525f3c.js"></script>
<script src="/mobile/dist/js/filters-493df975ec.js"></script>
<script src="/mobile/dist/js/directives/add-dish-bar-454e689292.js"></script>
<script src="/mobile/dist/js/directives/img-lazy-load-8728f392cf.js"></script>
<script src="/mobile/dist/js/templates-a334d37484.js"></script>
<script src="/mobile/dist/js/service/scope-decorator-c9a4f80035.js"></script>
<script src="/mobile/dist/js/service/debug-addec6f01a.js"></script>
<script src="/mobile/dist/js/controllers/cook-157c00752d.js"></script>
</html>