<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,user-scalable=no">
    <% include includes/css.html %>
    <style>
        [ng-cloak] {display:none;}
    </style>
    <title>优惠券</title>
    <script>var _hmt=_hmt||[];(function(){var hm=document.createElement("script");hm.src="//hm.baidu.com/hm.js?bd3701195d6b839a7858b504dea63bb5";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm,s);})();</script>
</head>
<body ng-app="xw" ng-controller="couponsCtrl">

<nav class="order-nav nav">
    <div class="back-icon" ng-click="back()"></div>
    <span class="no-bottom-border">优惠券</span>
</nav>

<div ng-cloak class="coupons-main">
    <form name="codeForm" class="form-horizontal">
        <div class="form-block">
            <div class="form-group promotion-group">
                <label for="invitationCode" class="control-label col-xs-3">朋友的邀请码</label>
                <div class="col-xs-7">
                    <input required name="invitationCode" maxlength="8" minlength="8" ng-model="invitationCode" id="invitationCode" placeholder="8位邀请码" type="text" class="form-control"/>
                </div>
                <span class="flat-button"
                      ng-class="{invalid: codeForm.invitationCode.$invalid}"
                      ng-click="codeForm.invitationCode.$valid && apply()">兑换</span>
            </div>
        </div>
    </form>

    <div class="cards" ng-if="goodCards.length">
        <h5>可用</h5>
        <ul class="card-list">
            <li class="card-item" ng-repeat="card in goodCards">
                <span class="price rmb-char-top">{{card.price}}</span>
                <div>
                    <h6>{{card.name.zh}}</h6>
                    <div>消费满{{card.priceLimit}}元可用</div>
                    <div>有效期至: {{card.endDate | date:'yyyy/MM/dd'}}</div>
                </div>
            </li>
        </ul>
    </div>
    <div class="cards" ng-if="badCards.length">
        <h5>不可用</h5>
        <ul class="card-list">
            <li class="card-item invalid" ng-repeat="card in badCards">
                <span class="price rmb-char-top">{{card.price}}</span>
                <div>
                    <h6>{{card.name.zh}}</h6>
                    <div>消费满{{card.priceLimit}}元可用</div>
                    <div>有效期至: {{card.endDate | date:'yyyy/MM/dd'}}</div>
                </div>
            </li>
        </ul>
    </div>
</div>

</body>

<% include includes/js.html %>

<!--<script src="/mobile/src/js/controllers/coupons.js"></script>-->
<script src="/mobile/<%= rev('js/controllers/coupons.js') %>"></script>


</html>