<!DOCTYPE html>
<html ng-app="xw" ng-controller="eatCtrl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="/components/normalize.css/normalize.css"/>
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/mobile/src/css/main.css"/>
    <title ng-bind="path == '/eat' ? '新味便当' : '新味食材包'"></title>
    <script>var _hmt=_hmt||[];(function(){var hm=document.createElement("script");hm.src="//hm.baidu.com/hm.js?bd3701195d6b839a7858b504dea63bb5";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm,s);})();</script>
</head>
<body class="menu-body">
<!--<nav class="eat-nav nav">-->
    <!--<a href="#/eat"><span ng-class="{active: path == '/eat'}">便当</span></a>-->
    <!--<a href="#/cook"><span ng-class="{active: path == '/cook'}">食材包</span></a>-->
    <!--<a href="me"><span class="profile-icon icon"></span></a>-->
<!--</nav>-->

<div class="eat-list-wrapper" ng-cloak>
    <ul class="eat-list food-list">
        <li ng-repeat="dish in dishes | filter : {cookingType: path == '/eat' ? 'ready to eat' : 'ready to cook'} track by dish._id">
            <div class="dish-detail">
                <div class="img-group">
                    <a ng-href="{{dish.cookingType == 'ready to eat' ? '' : '/mobile/cook/' + dish.id}}">
                        <img img-lazy-load="dish.cover[0].zh | adapt"/>
                    </a>
                </div>
                <div class="detail">
                    <div class="caption">
                        <h3 class="title">{{::dish.title.zh}}</h3>
                        <div class="ingredient-group" ng-if="path == '/eat'">
                            <div class="brief">{{::dish.brief.zh}}</div>
                        </div>
                    </div>
                    <div class="user-actions tips">
                        <div ng-if="dish.cookingType == 'ready to cook'">
                            <span class="time-icon"></span>{{dish.time}}′
                            <span class="people-icon"></span>x{{dish.servings}}
                        </div>
                        <span class="like-icon" ng-class="{'like': dish.liked, eat: dish.cookingType == 'ready to eat'}" ng-click="likeDish(dish)"></span>
                    </div>
                    <!--<div class="buy">-->
                        <!--<span class="price">{{::dish.priceOriginal}}</span>-->
                        <!--<span class="button" ng-click="addDish(dish)" ng-if="!dish.outOfStock">购买</span>-->
                        <!--<span class="button out-of-stock" ng-if="dish.outOfStock">售罄</span>-->
                    <!--</div>-->
                    <div class="buy-button"
                         ng-class="{'out-of-stock': dish.outOfStock}"
                         ng-click="!dish.outOfStock && addDish(dish)">
                        <div class="price"><span>{{dish.priceOriginal}}</span></div>
                        <div class="text" ng-if="!dish.outOfStock">购买</div>
                        <div class="text" ng-if="dish.outOfStock">售罄</div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>


<add-dish-bar cart="cart" user="user" dish="curDish"></add-dish-bar>

<nav class="menu-nav empty" ng-class="{'empty': !cart.length}">
    <div><a href="me"><span>帐号</span></a></div>
    <div ng-class="{active: path == '/eat'}"><a href="#/eat"><span>便当</span></a></div>
    <div ng-class="{active: path == '/cook'}"><a href="#/cook"><span>食材包</span></a></div>

    <div class="go-to-cart" ng-click="goToCart()">
        <div class="icon bag-icon">
            <i class="number" ng-bind="cart.length"></i>
        </div>
        <span class="price" ng-bind="cart.price || 0"></span>
    </div>
</nav>

</body>

<script src="/components/angular/angular.min.js"></script>
<script src="/components/ngstorage/ngStorage.min.js"></script>
<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

<script src="/mobile/dist/js/modules-e04d37f1a1.js"></script>

<script src="/mobile/dist/js/service/debug-addec6f01a.js"></script>
<script src="/mobile/dist/js/service/map-d4c4f4fed5.js"></script>
<script src="/mobile/dist/js/service/scope-decorator-c9a4f80035.js"></script>
<script src="/mobile/dist/js/service/utils-9ed08b8212.js"></script>
<script src="/mobile/dist/js/directives/img-lazy-load-8728f392cf.js"></script>
<script src="/mobile/dist/js/directives/add-dish-bar-454e689292.js"></script>
<script src="/mobile/dist/js/weixin-99e83d9b5c.js"></script>
<script src="/mobile/dist/js/filters-493df975ec.js"></script>
<script src="/mobile/dist/js/templates-a334d37484.js"></script>
<script src="/mobile/dist/js/models-678d7d0c95.js"></script>
<script src="/mobile/dist/js/config-6f8236c645.js"></script>
<script src="/mobile/dist/js/controllers/eat-b669ab9199.js"></script>
</html>