<!DOCTYPE html>
<html ng-app="xw" ng-controller="eatCtrl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,user-scalable=no">

<% include includes/css.html %>
    <title ng-bind="path == '/eat' ? '新味便当' : '新味食材包'"></title>
    <script>var _hmt=_hmt||[];(function(){var hm=document.createElement("script");hm.src="//hm.baidu.com/hm.js?bd3701195d6b839a7858b504dea63bb5";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm,s);})();</script>
</head>
<body class="menu-body">

<address-selection animate-trigger="addressCount" show="addressLoaded" path="{{path}}"
                   address="address" no-address="!addresses.length"></address-selection>

<div flash-class="{exp: css.showCouponTip, duration: css.couponDuration}"  class="coupon-tip">
    <i class="icon sounder"></i>
    <span class="content">
        您有
        <strong>{{coupon.expiringCount}}</strong>张优惠券将在
        <strong>{{coupon.expiringDays + 1}}</strong>天后过期,请立即使用
        <!--<i class="icon entry"></i>-->
    </span>
    <!--<i class="icon close"></i>-->
</div>

<div class="eat-list-wrapper" ng-cloak>
    <ul class="eat-list food-list" ng-repeat="(name, dishes) in dishList track by name" ng-if="(path == '/eat' && name == 'eatList') || (path == '/cook' && name == 'cookList')">
        <li ng-repeat="dish in dishes track by dish._id">
            <div class="dish-detail">
                <div class="img-group">
                    <a ng-href="{{dish.cookingType == 'ready to eat' ? '' : '/mobile/cook/' + dish.id}}">
                        <img img-lazy-load="dish.cover[0].zh | adapt"/>
                    </a>
                </div>
                <div class="detail">
                    <div class="caption">
                        <h3 class="title">{{::dish.title.zh}}</h3>
                        <div class="ingredient-group" ng-if="path == '/eat'">
                            <div class="brief">{{::dish.brief.zh}}</div>
                        </div>
                    </div>
                    <div class="user-actions tips">
                        <div ng-if="dish.cookingType == 'ready to cook'">
                            <span class="time-icon"></span>{{dish.time}}′
                            <span class="people-icon"></span>x{{dish.servings}}
                        </div>
                        <span class="like-icon" ng-class="{'like': dish.liked, eat: dish.cookingType == 'ready to eat'}" ng-click="likeDish(dish)"></span>
                    </div>
                    <div class="buy-button"
                         ng-class="{'out-of-stock': outOfStock(dish) || !isAddressOk()}"
                         ng-click="(!outOfStock(dish) && isAddressOk(true)) && addDish(dish)">
                        <div class="price"><span>{{dish.priceOriginal}}</span></div>
                        <div class="text" ng-if="!warehouse || !outOfStock(dish)">购买</div>
                        <div class="text" ng-if="warehouse && outOfStock(dish)">售罄</div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>


<add-dish-bar user="user" dish="curDish" local-bag="localBag"></add-dish-bar>

<menu-nav path="{{path}}" local-bag="localBag" is-address-ok="isAddressOk(isClick)"></menu-nav>
<!---->
<modal class="announce" default="<%= Date.now() > new Date('Fri Mar 21 2016 00:00:00 GMT+0800 (CST)') ? 'show' : 'close' %>">
    <div class="farewell-announce">
        <span class="close fa fa-times"></span>
        <h5>亲爱的新味用户:</h5>
        <p>为了给广大消费者提供更好的产品和服务，新味将进行业务全面升级，即日起暂停营业，会尽快回归。给您带来的不便，我们表示深深的歉意！希望升级后的新味能得到您一如既往的喜爱与支持！</p>
        <p class="tr">新味<br/>
            2016年3月21日
        </p>
    </div>
</modal>

</body>
<% include includes/js.html %>

<!--<script src="/mobile/src/js/controllers/eat-list.js"></script>-->
<script src="/mobile/<%= rev('js/controllers/eat-list.js') %>"></script>



</html>