<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="/components/normalize.css/normalize.css"/>
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/mobile/src/css/main.css"/>
    <title>赞过的菜</title>
    <script>var _hmt=_hmt||[];(function(){var hm=document.createElement("script");hm.src="//hm.baidu.com/hm.js?bd3701195d6b839a7858b504dea63bb5";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm,s);})();</script>
</head>
<body ng-app="xw" ng-controller="favCtrl">

<nav class="fav-nav nav">
    <div class="back-icon" ng-click="back()"></div>
    <span>赞过的菜</span>
</nav>

<div ng-cloak>
    <div class="fav-block" ng-if="cookList.length">
        <h4>食材包</h4>
        <ul class="fav-list">
            <li ng-repeat="dish in cookList">
                <div class="dish-wrapper">
                    <a ng-href="{{dish.outOfStock ? 'javascript:;' : '/mobile/cook/' + dish._id}}">
                        <span class="dish-img" ng-style="{'background-image': 'url(' + imgAdapt(dish.cover[0].zh ) + ')'}"></span>
                        <div class="dish-detail">
                            <h5>{{dish.title.zh}}</h5>
                            <span class="stock" ng-class="{'out-of-stock': dish.outOfStock}">{{dish.outOfStock ? '无货' : '有货'}}</span>
                            <span class="rmb-char">{{dish.priceOriginal}}</span>
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <div class="fav-block" ng-if="eatList.length">
        <h4>便当</h4>
        <ul class="fav-list">
            <li ng-repeat="dish in eatList">
                <div class="dish-wrapper">
                    <a ng-href="{{dish.outOfStock ? 'javascript:;' : '/mobile/#/eat'}}">
                        <span class="dish-img" ng-style="{'background-image': 'url(' + imgAdapt(dish.cover[0].zh ) + ')'}"></span>
                        <div class="dish-detail">
                            <h5>{{dish.title.zh}}</h5>
                            <span class="stock" ng-class="{'out-of-stock': dish.outOfStock}">{{dish.outOfStock ? '无货' : '有货'}}</span>
                            <span class="rmb-char">{{dish.priceOriginal}}</span>
                        </div>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>

<script src="/components/angular/angular.min.js"></script>
<script src="/components/ngstorage/ngStorage.min.js"></script>

<script src="/mobile/dist/js/modules-e04d37f1a1.js"></script>
<script src="/mobile/dist/js/models-2c4d216f51.js"></script>
<script src="/mobile/dist/js/config-6315525f3c.js"></script>
<script src="/mobile/dist/js/filters-493df975ec.js"></script>
<script src="/mobile/dist/js/service/scope-decorator-c9a4f80035.js"></script>
<script src="/mobile/dist/js/controllers/fav-list-1f8f81e0f9.js"></script>
</html>