<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="/components/normalize.css/normalize.css"/>
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/mobile/src/css/main.css"/>
    <style>
        [ng-cloak] {display:none;}
    </style>
    <title>邀请好友</title>
</head>
<body ng-app="xw" ng-controller="inviteCtrl">

<nav class="order-nav nav">
    <div class="back-icon" ng-click="back()"></div>
    <span class="no-bottom-border">邀请好友</span>
</nav>

<div ng-cloak>
    <a ng-click="showShareGroup = true" class="login-button form-control text-center">邀请好友</a>
    <div class="shareGroup" ng-if="showShareGroup">
        <button class="login-button" ng-click="share2Friends()">分享至朋友圈</button>
        <button class="login-button" ng-click="share2Friend()">分享给朋友</button>
    </div>
</div>
</body>

<script src="/components/angular/angular.min.js"></script>
<script src="/components/ngstorage/ngStorage.min.js"></script>
<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

<script src="/mobile/src/js/modules.js"></script>
<script src="/mobile/src/js/models.js"></script>
<script src="/mobile/src/js/service/debug.js"></script>
<script src="/mobile/src/js/config.js"></script>
<script src="/mobile/src/js/weixin.js"></script>
<script src="/mobile/src/js/controllers/invite.js"></script>
</html>