<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="/components/normalize.css/normalize.css"/>
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/mobile/src/css/main.css"/>
    <title>新味</title>
    <script>var _hmt=_hmt||[];(function(){var hm=document.createElement("script");hm.src="//hm.baidu.com/hm.js?bd3701195d6b839a7858b504dea63bb5";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm,s);})();</script>
</head>
<body ng-app="xw" ng-controller="loginCtrl">
<nav class="login-nav nav">
    <a href="#/login"><span ng-if="path !== '/resetpwd'" ng-class="{active: path == '/login'}">登录</span></a>
    <a href="#/signup"><span ng-if="path !== '/resetpwd'" ng-class="{active: path == '/signup'}">注册</span></a>
    <a href="#/resetpwd" ng-cloak><span ng-if="path == '/resetpwd'" style="border-color: transparent" class="no-bottom-border" ng-class="{active: path == '/resetpwd'}">重置密码</span></a>
</nav>

<!-- login form -->
<div class="login-form" ng-if="path == '/login'" ng-cloak>
    <form class="form-horizontal" name="signInForm">
        <div class="login-form-group">
            <input type="tel" class="form-control" placeholder="手机号" name="username"
                   ng-minlength="11" required maxlength="11"
                   ng-model="loginData.username"/>
            <hr class="form-line"/>
            <input type="password" class="form-control" placeholder="密码" name="password"
                   ng-minlength="6" required
                   ng-model="loginData.password"/>
        </div>

        <div class="forget-pwd-container">
            <a class="forget-pwd" href="#/resetpwd">忘记密码了?</a>
        </div>

        <button class="form-control login-button"
                ng-class="{invalid: !signInForm.$valid}"
                ng-disabled="!signInForm.$valid"
                ng-click="login()">登录</button>
    </form>
</div>

<!-- sign up form -->
<div class="signup-form" ng-if="path == '/signup'" ng-cloak>
    <form class="form-horizontal" name="signUpForm">
        <div class="login-form-group">
            <input type="tel" class="form-control" placeholder="手机号" name="mobile"
                   ng-minlength="11" required maxlength="11"
                   ng-model="signupData.mobile"/>
            <hr class="form-line"/>
            <input type="number" class="form-control" placeholder="验证码" name="code"
                   required
                   ng-model="signupData.code"/>
            <sms-button type="signUp" mobile="{{signupData.mobile}}" valid="{{signUpForm.$valid}}" ></sms-button>
            <hr class="form-line"/>
            <input type="password" class="form-control" placeholder="密码" name="pwd"
                   required ng-minlength="6"
                   ng-model="signupData.pwd"/>
        </div>

        <button class="form-control login-button"
                ng-class="{invalid: !signUpForm.$valid}"
                ng-disabled="!signUpForm.$valid"
                ng-click="signup()">注册</button>
    </form>
</div>

<div class="signup-form" ng-if="path == '/resetpwd'" ng-cloak>
    <form class="form-horizontal" name="resetPwdForm">
        <div class="login-form-group">
            <input type="tel" class="form-control" placeholder="手机号" name="mobile"
                   ng-minlength="11" required maxlength="11"
                   ng-model="resetPwdData.mobile"/>
            <hr class="form-line"/>
            <input type="number" class="form-control" placeholder="验证码" name="code"
                   required
                   ng-model="resetPwdData.code"/>
            <sms-button type="resetPassword" mobile="{{resetPwdData.mobile}}" valid="{{resetPwdForm.$valid}}" ></sms-button>
            <hr class="form-line"/>
            <input type="password" class="form-control" placeholder="密码" name="pwd"
                   required ng-minlength="6"
                   ng-model="resetPwdData.pwd"/>
        </div>

        <button class="form-control login-button"
                ng-class="{invalid: !resetPwdForm.$valid}"
                ng-disabled="!resetPwdForm.$valid"
                ng-click="resetPwd()">重置密码</button>
    </form>
</div>

</body>

<script src="/components/angular/angular.min.js?v=8"></script>
<script src="/components/ngstorage/ngStorage.min.js?v=8"></script>

<script src="/mobile/src/js/modules.js?v=8"></script>
<script src="/mobile/src/js/directives/sms-button.js"></script>
<script src="/mobile/src/js/templates.js"></script>
<script src="/mobile/src/js/service/debug.js"></script>
<script src="/mobile/src/js/service/alert.js"></script>
<script src="/mobile/src/js/config.js?v=8"></script>
<script src="/mobile/src/js/models.js?v=8"></script>
<script src="/mobile/src/js/controllers/login.js?v=8"></script>
</html>