<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,user-scalable=no">
    <%- include('includes/css.html') %>
    <title>新味</title>
    <script>var _hmt=_hmt||[];(function(){var hm=document.createElement("script");hm.src="//hm.baidu.com/hm.js?bd3701195d6b839a7858b504dea63bb5";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm,s);})();</script>
</head>
<body ng-app="xw" ng-controller="loginCtrl">
<nav class="login-nav nav">
    <a href="#/login"><span ng-class="{active: path == '/login'}">登录</span></a>
    <a href="#/signup"><span ng-class="{active: path == '/signup'}">注册</span></a>
</nav>

<!-- login form -->
<div class="login-form" ng-if="path == '/login'" ng-cloak>
    <form novalidate class="form-horizontal" name="signInForm">
        <div class="login-form-group">
            <div class="group">
                <input type="tel" class="form-control" placeholder="手机号" name="username"
                       minlength="11" required maxlength="11"
                       ng-model="loginData.username"/>
                <span ng-if="(signInForm.username.$dirty||signInForm.$submitted) && signInForm.username.$invalid"
                      class="err-tip">请填写11位手机号</span>
            </div>
            <hr class="form-line"/>
            <div class="group">
                <input type="password" class="form-control" placeholder="密码" name="password"
                       minlength="6" required
                       ng-model="loginData.password"/>
                <span ng-if="(signInForm.password.$dirty||signInForm.$submitted) && signInForm.password.$invalid"
                      class="err-tip">密码至少为6位</span>
            </div>
        </div>

        <div class="forget-pwd-container">
            <a class="forget-pwd" href="/mobile/resetpwd">忘记密码了?</a>
        </div>

        <button class="form-control login-button"
                ng-if="!css.pending"
                ng-class="{invalid: !signInForm.$valid}"
                ng-click="signInForm.$valid && login()">登录</button>
        <button class="form-control login-button invalid"
                ng-if="css.pending">登录中···</button>
    </form>
</div>

<!-- sign up form -->
<div class="signup-form" ng-show="path == '/signup'" ng-cloak>
    <form novalidate class="form-horizontal" name="signUpForm">
        <div class="login-form-group">
            <div class="group">
                <input type="tel" class="form-control" placeholder="请先填写手机号" name="mobile"
                   minlength="11" required maxlength="11"
                   ng-model="signupData.mobile"/>
                <span ng-if="(signUpForm.mobile.$dirty||signUpForm.$submitted) && signUpForm.mobile.$invalid"
                      class="err-tip">请填写11位手机号</span>
            </div>
            <hr class="form-line"/>

            <geetest-sms-button type="signUp" mobile="{{signupData.mobile}}" valid="{{signUpForm.mobile.$valid}}"></geetest-sms-button>

            <div class="group">
                <input type="number" class="form-control" placeholder="请填写收到的验证码" name="code"
                       required
                       ng-model="signupData.code"/>
                <span ng-if="(signUpForm.code.$dirty||signUpForm.$submitted) && signUpForm.code.$invalid"
                      class="err-tip">请填写短信验证码</span>
            </div>
            <!--<sms-button type="signUp" mobile="{{signupData.mobile}}" valid="{{signUpForm.$valid}}" ></sms-button>-->
            <hr class="form-line"/>

            <div class="group">
                <input type="password" class="form-control" placeholder="请填写密码" name="pwd"
                       required minlength="6"
                       ng-model="signupData.pwd"/>
                <span ng-if="(signUpForm.pwd.$dirty||signUpForm.$submitted) && signUpForm.pwd.$invalid"
                      class="err-tip">密码至少为6位</span>
            </div>

        </div>

        <button class="form-control login-button"
                ng-if="!css.pending"
                ng-class="{invalid: !signUpForm.$valid}"
                ng-click="signUpForm.$valid && signup()">注册</button>
        <button class="form-control login-button invalid"
                ng-if="css.pending">注册中···</button>
    </form>
</div>

<!--<div class="signup-form" ng-if="path == '/resetpwd'" ng-cloak>-->
    <!--<form class="form-horizontal" name="resetPwdForm">-->
        <!--<div class="login-form-group">-->
            <!--<input type="tel" class="form-control" placeholder="手机号" name="mobile"-->
                   <!--ng-minlength="11" required maxlength="11"-->
                   <!--ng-model="resetPwdData.mobile"/>-->
            <!--<hr class="form-line"/>-->
            <!--<input type="number" class="form-control" placeholder="验证码" name="code"-->
                   <!--required-->
                   <!--ng-model="resetPwdData.code"/>-->
            <!--<sms-button type="resetPassword" mobile="{{resetPwdData.mobile}}" valid="{{resetPwdForm.$valid}}" ></sms-button>-->
            <!--<hr class="form-line"/>-->
            <!--<input type="password" class="form-control" placeholder="密码" name="pwd"-->
                   <!--required ng-minlength="6"-->
                   <!--ng-model="resetPwdData.pwd"/>-->
        <!--</div>-->

        <!--<button class="form-control login-button"-->
                <!--ng-class="{invalid: !resetPwdForm.$valid}"-->
                <!--ng-disabled="!resetPwdForm.$valid"-->
                <!--ng-click="resetPwd()">重置密码</button>-->
    <!--</form>-->
<!--</div>-->

</body>

<%- include('includes/js.html') %>

<script src="/mobile/dist/js/controllers/login-45a99d7d1e.js"></script>

</html>