<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,user-scalable=no">
    <%- include('includes/css.html') %>
    <title>新味 / 支付</title>
    <script>var _hmt=_hmt||[];(function(){var hm=document.createElement("script");hm.src="//hm.baidu.com/hm.js?bd3701195d6b839a7858b504dea63bb5";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm,s);})();</script>
</head>
<body class="white-body" ng-app="xw" ng-controller="orderPayCtrl">

<div class="order-pay-main" ng-cloak>
    <form name="form">

        <div class="block" ng-repeat="(name, list) in data.cart">
            <h4>{{name == 'cookList' ? '食材包' : '便当'}}</h4>
            <div ng-repeat="item in list">
                <span class="dish-title">{{item.dish.title.zh}}{{item | subDishTitle}}</span>
                <span class="quantity">x{{item.number}}</span>
                <span class="rmb-char fee">
                    {{item | dishPrice | number:1}}
                </span>
            </div>

            <div class="border select" ng-if="name == 'eatList'" ng-click="toggleEatTime()">
                <modal class="xw-modal time-picker" toggle="toggleEatTime" default="show">
                    <h5>请选择便当配送时间<span ng-click="close()" class="button close-button"></span></h5>
                    <ul>
                        <li ng-repeat="date in data.time.eat" ng-click="model.time.eat = date">
                            {{date.hour}}
                        </li>
                    </ul>
                </modal>
                <span class="placeholder" ng-if="!model.time.eat">请选择送货时间</span>
                <span ng-if="model.time.eat">{{model.time.eat.hour}}</span>
                <input type="hidden" ng-model="model.time.eat" required/>
            </div>

            <div class="border select" ng-if="name == 'cookList'" ng-click="toggleCookTime()">
                <modal class="xw-modal time-picker" toggle="toggleCookTime" default="show">
                    <h5>请选择食材包配送时间<span ng-click="close()" class="button close-button"></span></h5>
                    <ul>
                        <li ng-repeat="date in data.time.cook" ng-click="model.time.cook = date">
                            {{date.day + ' ' + date.segment.text}}
                        </li>
                    </ul>
                </modal>
                <span class="placeholder" ng-if="!model.time.cook">请选择送货时间</span>
                <span ng-if="model.time.cook">{{model.time.cook.day + ' ' + model.time.cook.segment.text}}</span>
                <input type="hidden" ng-model="model.time.cook" required/>
            </div>

            <!--<div class="select-group" ng-if="name == 'cookList'" ng-class="{'one-time': !data.time.cook[1].segment}">-->
                <!--<div class="border select">-->
                    <!--<select ng-model="model.time.cook.day" required-->
                            <!--ng-options="day|cookTimeDisplay for day in data.time.cook"></select>-->
                <!--</div>-->
                <!--<div class="border select" ng-if="data.time.cook[1].segment">-->
                    <!--<select ng-model="model.time.cook.time" required-->
                            <!--ng-options="(time.text+ ' 送达') for time in model.time.cook.day.segment | filter: {status: true}">-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
        </div>

        <div class="block" ng-init="data.form = form">
            <h4>备注</h4>
            <!-- todo: 有没有至少2个字符的限制-->
            <textarea ng-model="model.userComment" class="border" name="userComment" rows="2"></textarea>
        </div>

        <div class="block">
            <h4>优惠 & 支付</h4>
            <div class="border">
                <input type="text" placeholder="优惠码" name="couponcode"
                       coupon-code="data.coupon.codePrice"
                       coupon-code-type="data.coupon.codeType"
                       ng-model="model.coupon.code"
                       pattern="^1a\w{6}$|^\w{10}$" />
                <span class="err-tip" ng-if="form.couponcode.$viewValue.length < 10 && form.couponcode.$viewValue.length !=8 && form.couponcode.$error.pattern">优惠码长度为8或10位</span>
                <span class="err-tip exchange-invite-code" ng-if="form.couponcode.$viewValue.length == 8 && form.couponcode.$error.pattern">优惠码无效<a ng-href="/mobile/coupons?code={{form.couponcode.$viewValue}}">(兑换邀请码?)</a></span>
                <span class="err-tip" ng-if="form.$error.couponCode">优惠码无效</span>
            </div>
            <div class="border select" ng-if="data.coupon.cardList.length">
                <select name="couponCard" id="couponCard"
                        ng-model="model.coupon.card"
                        ng-options="(item.name.zh + '(¥' + item.price + ')') for item in data.coupon.cardList">
                </select>
            </div>
            <div class="border has-icon coupon-group" ng-if="data.balance.total">
                <span class="checkbox icon"
                      ng-click="data.balance.enabled = !data.balance.enabled"
                      ng-class="{inactive: !data.balance.enabled}"></span>
                <span ng-if="!data.balance.enabled">使用新味币(剩余 ¥{{data.balance.total|number:1}})支付此订单</span>
                <span ng-if="data.balance.enabled">使用新味币抵扣¥{{usedBalance()|number:1}} (抵扣后剩余 ¥{{data.balance.total - usedBalance()|number:1}})</span>
            </div>
        </div>

        <div class="block price-group">
            <div>订单金额:<span class="rmb-char fee">{{data.orderPrice}}</span></div>
            <div>优惠金额:<span class="rmb-char fee negative">{{couponPrice()|number:1}}</span></div>
            <div>运费:<span class="rmb-char fee">{{data.freight}}</span></div>
            <div ng-if="data.balance.total">新味币:<span class="rmb-char fee negative">{{usedBalance()|number:1}}</span></div>
            <div class="total">应付总额<span class="rmb-char fee">{{payPrice()|number:1}}</span></div>
        </div>

    </form>
</div>

<footer ng-cloak class="cart-bar2 row">
    <a href="/mobile" class="back-to-menu"><span class="back-to-menu">返回菜单</span></a>
    <span class="next" ng-click="order(data.form)">{{payment(true)}} <i class="rmb-char">{{(payment() == 'account balance') ? usedBalance() : payPrice() | number:1}}</i></span>
</footer>

</body>

<%- include('includes/js.html') %>

<script src="/mobile/dist/js/controllers/order-pay-af45a4feaa.js"></script>

</html>