<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="/components/normalize.css/normalize.css"/>
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/mobile/src/css/main.css"/>
    <title>新味 结算订单.</title>
</head>
<body ng-app="xw" ng-controller="orderCtrl">

<nav class="order-nav nav">
    <div class="back-icon" ng-click="back()"></div>
    <span class="no-bottom-border">结算订单</span>
</nav>

<div class="contact-form-wrapper" ng-cloak>
    <form name="contactForm" class="form-horizontal">
        <div class="form-block">
            <div class="form-group">
                <label for="address" class="col-xs-3 control-label">收货地址:</label>
                <div class="col-xs-9">
                    <p class="form-control-static" style="text-indent: 12px;">
                        {{address.city + address.district + address.street}}
                    </p>
                    <!--<input type="text" required ng-model="address.district" class="form-control" id="district" placeholder="区"/>-->
                    <!--<input type="text" required ng-model="address.street" class="form-control" id="street" placeholder="街道"/>-->
                    <input type="text" required ng-model="address.address" class="form-control" id="address" placeholder="门牌号信息"/>
                </div>
            </div>
            <div class="form-group">
                <label for="contactPerson" class="col-xs-3 control-label">收货人:</label>
                <div class="col-xs-9">
                    <input type="text" required ng-model="address.contactPerson" class="form-control" id="contactPerson" placeholder="收货人姓名(至少2个字符)"/>
                </div>
            </div>
            <div class="form-group">
                <label for="mobile" class="col-xs-3 control-label">联系电话:</label>
                <div class="col-xs-9">
                    <input type="text" ng-model="address.mobile" class="form-control" id="mobile" placeholder="联系电话"/>
                </div>
            </div>
        </div>

        <div class="form-block dish-list" ng-repeat="(name, list) in dishList" ng-if="list.length">
            <h5>{{name == 'cookList' ? '食材包' : '便当'}}</h5>
            <hr class="form-line"/>
            <div class="row order-list" ng-repeat-start="dish in list">
                <span class="col-xs-7 text-left title">{{dish.title.zh}}</span>
                <span class="col-xs-2 text-center plus-char">{{dish.number}}</span>
                <span class="col-xs-3 text-center rmb-char">{{dish.priceOriginal * dish.number | number:1}}</span>
                <!--<span class="col-xs-2 text-center select">备</span>-->
            </div>
            <hr class="form-line" ng-repeat-end/>
<!--            <div class="row text-left time-btn-group">
                <div class="col-xs-12">
                    <span ng-click="" class="active time-btn text-center">马上送出</span>
                    <span class="time-btn">预约送达</span>
                </div>

            </div>-->
            <div class="form-group remark">
                <!-- time selection for eat -->
                <div class="col-xs-12" ng-if="name == 'eatList'">
                    <select class="form-control" ng-model="eatTime.selectTime" ng-options="date.hour for date in eatTime"></select>
                </div>

                <!-- time selection for cook -->
                <div class="col-xs-6" ng-if="name == 'cookList'">
                    <select class="form-control" ng-model="cookTime.selectDay" ng-options="day.day for day in cookTime"></select>
                </div>
                <div class="col-xs-6 no-padding-left" ng-if="name == 'cookList' && cookTime[0].segment">
                    <select class="form-control" ng-model="cookTime.selectTime" ng-options="time.text for time in cookTime.selectDay.segment | filter: {status: true}"></select>
                </div>
            </div>
        </div>

        <div class="form-block">
            <h5>备注</h5>
            <div class="form-group">
                <div class="col-xs-12">
                    <textarea ng-model="userComment" class="form-control" name="userComment" id="userComment" rows="2"></textarea>
                </div>
            </div>
        </div>

        <div class="form-block">
            <h5>优惠</h5>
            <div class="coupons" ng-if="user.couponList.length">
                <hr class="form-line"/>
                <div class="row">
                    <span class="col-xs-6 text-left">使用优惠券</span>
                    <span ng-if="coupon.code2" class="col-xs-6 text-right rmb-char negative">{{coupon.code2.price}}</span>
                </div>
                <div class="form-group">
                    <div class="col-xs-8">
                        <select name="coupon" id="coupon" class="form-control"
                                ng-model="coupon.code2"
                                ng-options="(item.name.zh + '(¥' + item.price + ')') for item in user.couponList"></select>
                    </div>
                    <!--<label class="control-label col-xs-5" ng-repeat="item in user.couponList">-->
                    <!--<input ng-model="coupon.code2" ng-value="item" name="coupon" type="radio" />{{item.name.zh}}-->
                    <!--</label>-->
                    <div class="col-xs-4 text-right">
                        <span ng-if="coupon.code2" class="cancel-code2 flat-button" ng-click="coupon.code2 = null">取消</span>
                    </div>
                </div>
            </div>
            <hr class="form-line"/>
            <div class="form-group promotion-group">
                <label for="promotionCode" class="control-label col-xs-3">优惠代码</label>
                <div class="col-xs-7">
                    <input ng-model="coupon.code" id="promotionCode" placeholder="优惠代码" type="text" class="form-control"/>
                </div>
                <span ng-if="coupon.code" class="flat-button" ng-click="cancelApplyCoupon()">取消</span>
            </div>
        </div>

        <div class="form-block pay">
            <h5>支付方式</h5>
            <hr class="form-line"/>
            <div class="row" ng-if="isWeixin">
                <span class="col-xs-1 icon active"></span>
                <span class="col-xs-5">微信支付</span>
            </div>
            <div class="row" ng-if="!isWeixin">
                <span class="col-xs-1 icon active"></span>
                <span class="col-xs-5">支付宝支付</span>
            </div>
            <div class="form-group balance-group" ng-if="balance.totalBalance">
                <div class="checkbox">
                    <label>
                        <input ng-model="balance.enabled" type="checkbox" ng-click="useBalance()">
                        <span ng-if="!balance.enabled">使用新味币(剩余 ¥{{balance.totalBalance}})支付此订单</span>
                        <span ng-if="balance.enabled">使用新味币支付 ¥{{balance.usedBalance}} (支付后剩余 ¥{{balance.totalBalance - balance.usedBalance}})</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="form-block price-block">
            <div class="row">
                <span class="col-xs-6">订单金额</span>
                <span class="col-xs-2 price pull-right rmb-char">{{orderPrice()}}</span>
            </div>
            <div class="row">
                <span class="col-xs-6">运费</span>
                <span class="col-xs-2 price pull-right rmb-char">{{deliveryFee}}</span>
            </div>
            <div class="row group-on">
                <span class="col-xs-6">优惠金额</span>
                <span class="col-xs-2 price pull-right rmb-char">{{couponPrice + coupon.code2.price}}</span>
                <span class="col-xs-1 pull-right text-right sign">-</span>
            </div>
            <div class="row group-on">
                <span class="col-xs-6">新味币</span>
                <span class="col-xs-2 price pull-right rmb-char">{{balance.usedBalance}}</span>
                <span class="col-xs-1 pull-right text-right sign">-</span>
            </div>
            <div class="row">
                <span class="col-xs-6">应付总额</span>
                <span class="col-xs-2 price pull-right rmb-char">{{orderPrice() + deliveryFee - couponPrice - coupon.code2.price | number:1}}</span>
            </div>
        </div>

        <button ng-class="{valid: contactForm.$valid, invalid: !contactForm.$valid}" class="confirm-button form-control" ng-if="!orderSuccess" ng-click="submitOrder()">确认</button>
        <!--<a class="confirm-button form-control text-center" ng-if="orderSuccess">使用微信支付</a>-->

        <div class="pay-window" style="display: none;">
            <div class="order-success-tip">订单生成成功</div>
            <a class="confirm-button form-control" id="weixinPay" ng-href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx37a1323e488cef84&redirect_uri=http%3A%2F%2Fm.xinweicook.com%2Fapi%2Forders%2Fpayment%2Fweixinpay%2Fopenid&response_type=code&scope=snsapi_base&state={{wxstate}}#wechat_redirect">
                使用微信支付
            </a>
            <a id="directPay" ng-href="/mobile/wxpay/{{wxstate}}"></a>
            <a id="alipayPay" ng-href="{{alipayLink}}"></a>
        </div>
    </form>
</div>
</body>

<script src="/components/angular/angular.min.js?v=12"></script>
<script src="/components/ngstorage/ngStorage.min.js?v=12"></script>
<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

<script src="/mobile/src/js/modules.js?v=12"></script>
<script src="/mobile/src/js/service/debug.js?v=12"></script>
<script src="/mobile/src/js/service/alert.js"></script>
<script src="/mobile/src/js/models.js?v=12"></script>
<script src="/mobile/src/js/config.js?v=12"></script>
<script src="/mobile/src/js/weixin.js?v=12"></script>
<script src="/mobile/src/js/controllers/order.js?v=12"></script>
</html>