<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="/components/normalize.css/normalize.css"/>
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/mobile/src/css/main.css"/>
    <title>新味 / 支付</title>
    <script>var _hmt=_hmt||[];(function(){var hm=document.createElement("script");hm.src="//hm.baidu.com/hm.js?bd3701195d6b839a7858b504dea63bb5";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm,s);})();</script>
</head>
<body class="white-body" ng-app="xw" ng-controller="orderPayCtrl">

<shopping-progress-bar></shopping-progress-bar>

<div class="order-pay-main" ng-cloak>
    <form>
        <div class="block">
            <h4>食材包</h4>
            <div>七夕情人节套餐 <span class="rmb-char fee">83</span></div>
            <div class="border select">
                <select name="time" id="time">
                    <option value="hehe">今天下午5点送达</option>
                    <option value="huhu">hiha</option>
                </select>
            </div>
        </div>

        <div class="block">
            <h4>优惠 & 支付</h4>
            <div class="border">
                <input type="text" placeholder="优惠码"/>
                <span></span>
            </div>
            <div class="border select">
                <select name="couponCard" id="couponCard">
                    <option value="hehe">haha</option>
                    <option value="huhu">hiha</option>
                </select>
            </div>
            <div class="border has-icon">
                <span class="select icon"></span>
                使用新味币抵扣¥83 (抵扣后剩余¥83)
            </div>
        </div>

        <div class="block">
            <div>订单金额:<span class="rmb-char fee">84</span></div>
            <div>运费:<span class="rmb-char fee">8</span></div>
            <div>新味币:<span class="rmb-char fee negative">4</span></div>
            <div class="total">应付总额<span class="rmb-char fee">84</span></div>
        </div>
    </form>
</div>

<footer ng-cloak class="cart-bar2 row">
    <span class="back-to-menu">返回菜单</span>
    <span class="next">微信支付</span>
</footer>

</body>

<script src="/components/angular/angular.min.js"></script>
<script src="/components/ngstorage/ngStorage.min.js"></script>

<script src="/mobile/src/js/modules.js"></script>
<script src="/mobile/src/js/models.js"></script>
<script src="/mobile/src/js/config.js"></script>
<script src="/mobile/src/js/filters.js"></script>
<script src="/mobile/src/js/directives/shopping-progress-bar.js"></script>
<script src="/mobile/src/js/templates.js"></script>
<script src="/mobile/src/js/service/scope-decorator.js"></script>
<script src="/mobile/src/js/controllers/order-pay.js"></script>
</html>