<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="/components/normalize.css/normalize.css"/>
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/mobile/src/css/main.css"/>
    <title>新味 / 支付</title>
    <script>var _hmt=_hmt||[];(function(){var hm=document.createElement("script");hm.src="//hm.baidu.com/hm.js?bd3701195d6b839a7858b504dea63bb5";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm,s);})();</script>
</head>
<body class="white-body" ng-app="xw" ng-controller="orderPayCtrl">

<shopping-progress-bar></shopping-progress-bar>

<div class="order-pay-main" ng-cloak>
    <form name="form">

        <div class="block" ng-repeat="(name, list) in data.cart">
            <h4>{{name == 'cookList' ? '食材包' : '便当'}}</h4>
            <div ng-repeat="item in list">
                <span class="dish-title">{{item.dish.title.zh}}{{item | subDishTitle}}</span>
                <span class="quantity">x{{item.number}}</span>
                <span class="rmb-char fee">
                    {{item | dishPrice | number:1}}
                </span>
            </div>

            <div class="border select" ng-if="name == 'eatList'">
                <select ng-model="model.time.eat" required ng-options="date|eatTimeDisplay for date in data.time.eat"></select>
            </div>

            <div class="select-group" ng-if="name == 'cookList'" ng-class="{'one-time': !data.time.cook[1].segment}">
                <div class="border select">
                    <select ng-model="model.time.cook.day" required
                            ng-options="day|cookTimeDisplay for day in data.time.cook"></select>
                </div>
                <div class="border select" ng-if="data.time.cook[1].segment">
                    <select ng-model="model.time.cook.time" required
                            ng-options="(time.text+ ' 送达') for time in model.time.cook.day.segment | filter: {status: true}">
                    </select>
                </div>
            </div>
        </div>

        <div class="block" ng-init="data.form = form">
            <h4>备注</h4>
            <!-- todo: 有没有至少2个字符的限制-->
            <textarea ng-model="model.userComment" class="border" name="userComment" rows="2"></textarea>
        </div>

        <div class="block">
            <h4>优惠 & 支付</h4>
            <div class="border">
                <input type="text" placeholder="优惠码" name="couponcode"
                       coupon-code="data.coupon.codePrice"
                       ng-model="model.coupon.code"
                       pattern="^1a\w{6}$|^\w{10}$" />
                <span class="err-tip" ng-if="form.couponcode.$viewValue.length < 10 && form.couponcode.$viewValue.length !=8 && form.couponcode.$error.pattern">优惠码长度为8或10位</span>
                <span class="err-tip exchange-invite-code" ng-if="form.couponcode.$viewValue.length == 8 && form.couponcode.$error.pattern">优惠码无效<a ng-href="/mobile/coupons?code={{form.couponcode.$viewValue}}">(兑换邀请码?)</a></span>
                <span class="err-tip" ng-if="form.$error.couponCode">优惠码无效</span>
            </div>
            <div class="border select" ng-if="data.coupon.cardList.length">
                <select name="couponCard" id="couponCard"
                        ng-model="model.coupon.card"
                        ng-options="(item.name.zh + '(¥' + item.price + ')') for item in data.coupon.cardList">
                </select>
            </div>
            <div class="border has-icon coupon-group" ng-if="data.balance.total">
                <span class="checkbox icon"
                      ng-click="data.balance.enabled = !data.balance.enabled"
                      ng-class="{inactive: !data.balance.enabled}"></span>
                <span ng-if="!data.balance.enabled">使用新味币(剩余 ¥{{data.balance.total|number:1}})支付此订单</span>
                <span ng-if="data.balance.enabled">使用新味币抵扣¥{{usedBalance()|number:1}} (抵扣后剩余 ¥{{data.balance.total - usedBalance()|number:1}})</span>
            </div>
        </div>

        <div class="block price-group">
            <div>订单金额:<span class="rmb-char fee">{{data.orderPrice}}</span></div>
            <div>优惠金额:<span class="rmb-char fee negative">{{couponPrice()}}</span></div>
            <div>运费:<span class="rmb-char fee">{{data.deliveryFee}}</span></div>
            <div ng-if="data.balance.total">新味币:<span class="rmb-char fee negative">{{usedBalance()|number:1}}</span></div>
            <div class="total">应付总额<span class="rmb-char fee">{{payPrice()|number:1}}</span></div>
        </div>

    </form>
</div>

<footer ng-cloak class="cart-bar2 row">
    <a href="/mobile" class="back-to-menu"><span class="back-to-menu">返回菜单</span></a>
    <span class="next" ng-click="order(data.form)">{{payment(true)}} <i class="rmb-char">{{(payment() == 'account balance') ? usedBalance() : payPrice()}}</i></span>
</footer>

</body>

<script src="/components/angular/angular.min.js"></script>
<script src="/components/ngstorage/ngStorage.min.js"></script>

<script src="/mobile/dist/js/modules-e04d37f1a1.js"></script>
<script src="/mobile/dist/js/models-2503ae32fa.js"></script>
<script src="/mobile/dist/js/config-6315525f3c.js"></script>
<script src="/mobile/dist/js/filters-493df975ec.js"></script>
<script src="/mobile/dist/js/directives/shopping-progress-bar-455a98999e.js"></script>
<script src="/mobile/dist/js/directives/coupon-code-1b0454241f.js"></script>
<script src="/mobile/dist/js/templates-a334d37484.js"></script>
<script src="/mobile/dist/js/service/scope-decorator-c9a4f80035.js"></script>
<script src="/mobile/dist/js/service/debug-addec6f01a.js"></script>
<script src="/mobile/dist/js/service/alert-844568461c.js"></script>
<script src="/mobile/dist/js/service/utils-9ed08b8212.js"></script>
<script src="/mobile/dist/js/weixin-99e83d9b5c.js"></script>
<script src="/mobile/dist/js/controllers/order-pay-dc18e6c248.js"></script>
</html>