<!DOCTYPE html>
<html class="order-address-html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="/components/normalize.css/normalize.css"/>
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/mobile/dist/css/main.css"/>
    <title>新味 / 地址</title>
    <script>var _hmt=_hmt||[];(function(){var hm=document.createElement("script");hm.src="//hm.baidu.com/hm.js?bd3701195d6b839a7858b504dea63bb5";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm,s);})();</script>
</head>
<body class="white-body" ng-app="xw" ng-controller="orderAddressCtrl">

<shopping-progress-bar ng-show="!css.showSearchAddress"></shopping-progress-bar>

<div class="order-address-main" ng-show="!css.showSearchAddress" ng-click="saveAndLeave()" ng-cloak>
    <ul class="address-list">
        <li ng-repeat="addr in address"
            ng-class="{cur: css.cur == $index}"
            ng-click="choose($index, $event)">
            <span class="deliverable-tag" ng-if="addr.isInRange">便当可送达</span>
            <div>{{addr.contactPerson}}</div>
            <div class="cur-show">{{addr.mobile | beautifyMobile}}</div>
            <div class="cur-show">{{addr.province + ' ' + addr.city + ' ' + addr.district}}</div>
            <div>{{addr.street}}</div>
            <div class="cur-show">{{addr.address}}</div>

            <form ng-if="css.edit == $index" name="form">
                <div ng-init="initForm(form, addr)" ng-class="{'with-tag': addr.isInRange}">
                    <input name="contactPerson" type="text" placeholder="收货人"
                           ng-model="addr.contactPerson" auto-focus
                           minlength="2" required/>
                    <span class="err-tip" ng-if="form.contactPerson.$error.required">必填</span>
                    <span class="err-tip" ng-if="form.contactPerson.$error.minlength">联系人姓名至少2个字</span>
                </div>
                <div>
                    <input name="mobile" type="tel" placeholder="手机号"
                           ng-model="addr.mobile"
                           minlength="11" maxlength="11" required/>
                    <span class="err-tip" ng-if="form.mobile.$error.required">必填</span>
                    <span class="err-tip"
                          ng-if="form.mobile.$error.maxlength || form.mobile.$error.minlength">手机号码长度为11位</span>
                </div>

                <div ng-if="!css.showFakeInput" class="selects">
                    <select required name="province" id="province"
                            ng-options="province for province in options()"
                            ng-model="addr.province"></select>

                    <select required name="city" id="city"
                            ng-options="city for city in options(addr.province)"
                            ng-model="addr.city"></select>

                    <select required name="district" id="district"
                            ng-options="district for district in options(addr.province, addr.city)"
                            ng-model="addr.district"></select>
                </div>
                <div ng-if="css.showFakeInput">
                    <input type="text" placeholder="省、市、区"  ng-click="css.showFakeInput = false"/>
                </div>

                <div ng-click="showSearchAddress()">
                    {{addr.street}}
                    <input type="hidden" name="street" ng-model="addr.street" required/>
                    <span class="tip" ng-if="form.street.$error.required">必填</span>
                </div>
                <div>
                    <input name="address" type="text" placeholder="楼层、门牌号" required ng-model="addr.address">
                    <span class="err-tip" ng-if="form.address.$error.required">必填</span>
                </div>
            </form>
        </li>

        <li class="new" ng-class="{cur: css.cur == -2}" ng-click="choose(-2, $event)">
            <div>新增收货人</div>
            <div>手机号</div>
            <div>省、市、区</div>
            <div>街道</div>
            <div>楼层、门牌号</div>
            <form name="newForm" ng-if="css.cur == -2">
                <div ng-init="initForm(newForm)" ng-class="{'with-tag': newAddr.isInRange}">
                    <input name="contactPerson" type="text" placeholder="收货人"
                           ng-model="newAddr.contactPerson"
                           minlength="2" required/>
                    <span class="err-tip" ng-if="newForm.contactPerson.$dirty && newForm.contactPerson.$error.required">必填</span>
                    <span class="err-tip" ng-if="newForm.contactPerson.$error.minlength">联系人姓名至少2个字</span>
                </div>
                <div>
                    <input name="mobile" type="tel" placeholder="手机号"
                           ng-model="newAddr.mobile"
                           minlength="11" maxlength="11" required/>
                    <span class="err-tip" ng-if="newForm.mobile.$dirty && newForm.mobile.$error.required">必填</span>
                    <span class="err-tip"
                          ng-if="newForm.mobile.$error.maxlength || form.mobile.$error.minlength">手机号码长度为11位</span>
                </div>

                <div ng-if="!css.showFakeInput" class="selects">
                    <select required name="province"
                            ng-options="province for province in options()"
                            ng-model="newAddr.province"></select>

                    <select required name="city"
                            ng-options="city for city in options(newAddr.province)"
                            ng-model="newAddr.city"></select>

                    <select required name="district"
                            ng-options="district for district in options(newAddr.province, newAddr.city)"
                            ng-model="newAddr.district"></select>
                </div>
                <div ng-if="css.showFakeInput">
                    <input type="text" placeholder="省、市、区"  ng-click="css.showFakeInput = false"/>
                </div>

                <div ng-click="showSearchAddress()">
                    {{newAddr.street}}
                    <input ng-if="!newAddr.street" type="text" placeholder="街道" name="street" ng-model="newAddr.street" required/>
                    <span class="err-tip" ng-if="newForm.street.$dirty && newForm.street.$error.required">必填</span>
                    <span ng-if="::isWeixin" ng-click="locate($event)" class="location">定位</span>
                </div>
                <div>
                    <input name="address" type="text" placeholder="楼层、门牌号" required ng-model="newAddr.address">
                    <span class="err-tip" ng-if="newForm.address.$dirty && newForm.address.$error.required">必填</span>
                </div>
            </form>
        </li>
    </ul>
</div>

<div class="search-address-main" ng-if="css.showSearchAddress" ng-cloak>
    <form id="address-form">
        <span ng-click="confirmStreet()" class="confirm">确定</span>
        <div><input type="text" placeholder="小区、写字楼、地标名称" id="address"
                    ng-model="data.street"
                    ng-model-options="{debounce: 400}"
                    ng-change="searchAddress()"/></div>
    </form>

    <ul class="results">
        <li ng-click="confirmStreet(street)" ng-repeat="street in data.streetList">
            <h4>{{street.name}}</h4>
            <p>{{street.city + street.district}}</p>
        </li>
    </ul>
</div>

<footer ng-if="!css.showSearchAddress" ng-cloak class="cart-bar2">
    <a href="/mobile" class="back-to-menu"><span class="back-to-menu">返回菜单</span></a>
    <span class="next" ng-click="next()">下一步</span>
</footer>

</body>



<script src="/components/angular/angular.min.js"></script>
<script src="/components/ngstorage/ngStorage.min.js"></script>
<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

<script src="/mobile/dist/js/modules-e04d37f1a1.js"></script>
<script src="/mobile/dist/js/models-e8ffe5b4f3.js"></script>
<script src="/mobile/dist/js/config-6315525f3c.js"></script>
<script src="/mobile/dist/js/filters-10f4136739.js"></script>
<script src="/mobile/dist/js/directives/shopping-progress-bar-455a98999e.js"></script>
<script src="/mobile/dist/js/directives/auto-focus-9c4964431c.js"></script>
<script src="/mobile/dist/js/templates-a334d37484.js"></script>
<script src="/mobile/dist/js/service/scope-decorator-c9a4f80035.js"></script>
<script src="/mobile/dist/js/service/map-d157873b08.js"></script>
<script src="/mobile/dist/js/service/debug-addec6f01a.js"></script>
<script src="/mobile/dist/js/service/address-9adc45a744.js"></script>
<script src="/mobile/dist/js/weixin-7ad381f4a6.js"></script>
<script src="/mobile/dist/js/controllers/order-address-99fa8d4c39.js"></script>


</html>