<!DOCTYPE html>
<html class="order-address-html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,user-scalable=no">
    <%- include('includes/css.html') %>
    <title>新味 / 地址</title>
    <script>var _hmt=_hmt||[];(function(){var hm=document.createElement("script");hm.src="//hm.baidu.com/hm.js?bd3701195d6b839a7858b504dea63bb5";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm,s);})();</script>
</head>
<body class="white-body order-address-body" ng-app="xw" ng-controller="orderAddressCtrl">

<address-list addresses="addresses" range="range" save="save" editing="editing"></address-list>

<footer ng-if="!css.showSearchAddress" ng-cloak class="cart-bar2">
    <a href="/mobile" class="back-to-menu"><span class="back-to-menu">返回菜单</span></a>
    <span ng-if="!editing()" class="next" ng-click="next($event)">确定</span>
    <span ng-if="editing()" class="next" ng-click="next($event)">保存</span>
</footer>

</body>



<%- include('includes/js.html') %>

<script src="/mobile/dist/js/controllers/order-address-bb1ca21e08.js"></script>


</html>