<!DOCTYPE html>
<html ng-app="xw" ng-controller="promotion01">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,user-scalable=no">
    <%- include('includes/css.html') %>
    <title>新味 / 优惠券</title>
    <script>var _hmt=_hmt||[];(function(){var hm=document.createElement("script");hm.src="//hm.baidu.com/hm.js?bd3701195d6b839a7858b504dea63bb5";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm,s);})();</script>
</head>
<body>


<div class="main promotion01-main" ng-cloak>
    <ul class="card-list">
        <li class="card-item" ng-class="{exchanged: card.exchanged}" ng-repeat="card in cards">
            <span class="price rmb-char">{{card.price}}</span>
            <span class="name">{{card.name}}</span>
            <span class="xw-btn" ng-click="exchange(card.code)">{{card.exchanged ? '已领取' : '领取'}}</span>
        </li>
    </ul>
</div>

</body>

<%- include('includes/js.html') %>

<script src="/mobile/dist/js/controllers/promotion01-1442108621.js"></script>


</html>
