<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,user-scalable=no">
    <%- include('includes/css.html') %>
    <title>新味/重置密码</title>
    <script>var _hmt=_hmt||[];(function(){var hm=document.createElement("script");hm.src="//hm.baidu.com/hm.js?bd3701195d6b839a7858b504dea63bb5";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm,s);})();</script>
</head>
<body ng-app="xw" ng-controller="resetPasswordCtrl">
<nav class="login-nav nav">
    <a><span style="border-color: transparent" class="no-bottom-border active">重置密码</span></a>
</nav>

<div class="signup-form" ng-cloak>
    <form class="form-horizontal" name="resetPwdForm" novalidate>
        <div class="login-form-group">
            <div class="group">
                <input type="tel" class="form-control" placeholder="手机号" name="mobile"
                       minlength="11" required maxlength="11"
                       ng-model="resetPwdData.mobile"/>
                <span ng-if="(resetPwdForm.mobile.$dirty||resetPwdForm.$submitted) && resetPwdForm.mobile.$invalid"
                      class="err-tip">请填写11位手机号</span>
            </div>

            <hr class="form-line"/>

            <geetest-sms-button triggered="css.triggered" type="resetPassword" mobile="{{resetPwdData.mobile}}"
                                valid="{{resetPwdForm.mobile.$valid}}"></geetest-sms-button>

            <div class="group">
                <input type="number" class="form-control" placeholder="验证码" name="code"
                       required
                       ng-model="resetPwdData.code"/>
                <span ng-if="(resetPwdForm.code.$dirty||resetPwdForm.$submitted) && resetPwdForm.code.$invalid"
                      class="err-tip">请填写短信验证码</span>
            </div>


            <hr class="form-line"/>
            <div class="group">
                <input type="password" class="form-control" placeholder="密码" name="pwd"
                       required minlength="6"
                       ng-model="resetPwdData.pwd"/>
                <span ng-if="(resetPwdForm.pwd.$dirty||resetPwdForm.$submitted) && resetPwdForm.pwd.$invalid"
                      class="err-tip">密码至少为6位</span>
            </div>
        </div>

        <button class="form-control login-button"
                ng-if="!css.pending"
                ng-class="{invalid: !resetPwdForm.$valid}"
                ng-click="resetPwdForm.$valid && resetPwd()">重置密码</button>
        <button class="form-control login-button invalid"
                ng-if="css.pending">重置中···</button>

        <span class="voice-sms"
              ng-class="{active: css.triggered}"
              ng-click="getVoiceSms()"
              flash-class="{exp: css.triggered, duration: 400}"
              ng-bind="css.hasVoiceSent ? '请准备接收语音验证码' : '收不到验证码? 发送语音验证码'"></span>
    </form>
</div>

</body>

<%- include('includes/js.html') %>

<script src="/mobile/dist/js/controllers/reset-password-dc75cbbe5a.js"></script>

</html>