<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="/components/normalize.css/normalize.css"/>
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/mobile/src/css/main.css"/>
    <title>结算订单</title>
    <script>var _hmt=_hmt||[];(function(){var hm=document.createElement("script");hm.src="//hm.baidu.com/hm.js?bd3701195d6b839a7858b504dea63bb5";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm,s);})();</script>
</head>
<body ng-app="xw" ng-controller="wxpayCtrl">

<nav class="order-nav nav">
    <span class="no-bottom-border">微信支付</span>
</nav>

<div class="wxpay-main" ng-cloak>
    <div class="text-center" ng-if="state == 'processing'">支付中...</div>
    <div class="text-center" ng-if="state == 'success'">支付成功!
        <!--<div class="follow">-->
            <!--<h5>关注新味公众号, 获得最新优惠活动和新品信息!</h5>-->
            <!--<img src="/mobile/src/img/xwgzh.jpg"/>-->
        <!--</div>-->
    </div>
    <div class="text-center" ng-if="state == 'fail1'">支付失败, 请稍后重试</div>
    <div class="text-center" ng-if="state == 'fail2'">支付失败, 请稍后重试.</div>
    <div class="text-center qr-pay" ng-if="state == 'fail3'">
        <h5>微信扫码支付</h5>
        <hr/>
        <p class="title">遇到不允许跨号支付?</p>
        <img src="/mobile/src/img/wxpay-qrcode.png"/>
        <p class="guide">长按图片[识别二维码]付款</p>
    </div>
</div>

</body>

<script src="/components/angular/angular.min.js?v=18"></script>
<script src="/components/ngstorage/ngStorage.min.js?v=18"></script>
<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js?v=18"></script>

<script src="/mobile/src/js/modules.js?v=18"></script>

<script src="/mobile/src/js/models.js?v=18"></script>
<script src="/mobile/src/js/service/debug.js?v=18"></script>
<script src="/mobile/src/js/config.js?v=18"></script>
<script src="/mobile/src/js/weixin.js?v=18"></script>
<script src="/mobile/src/js/controllers/wxpay.js?v=18"></script>
</html>