<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1,user-scalable=no">
    <%- include('includes/css.html') %>
    <title>结算订单</title>
    <script>var _hmt=_hmt||[];(function(){var hm=document.createElement("script");hm.src="//hm.baidu.com/hm.js?bd3701195d6b839a7858b504dea63bb5";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm,s);})();</script>
</head>
<body ng-app="xw" ng-controller="wxpayCtrl">
<img style="display:none;" src="/mobile/dist/img/thanksgiving2.jpg">
<nav class="order-nav nav">
    <span class="no-bottom-border">微信支付</span>
</nav>

<div class="wxpay-main" ng-cloak>
    <div class="text-center" ng-if="state == 'processing'">支付中...</div>

    <div class="text-center pay-success" ng-if="state == 'success'">
        <h5>支付成功!</h5>
        <div ng-if="showShareInfo">
            <hr/>
            <a href="/mobile/invite">分享给好友获取优惠券!</a>
        </div>
    </div>

    <div class="text-center" ng-if="state == 'fail1'">支付失败, 请稍后重试</div>
    <div class="text-center" ng-if="state == 'fail2'">支付失败, 请稍后重试.</div>
    <div class="text-center qr-pay" ng-if="state == 'fail3'">
        <h5>微信扫码支付</h5>
        <hr/>
        <p class="title">遇到不允许跨号支付?</p>
        <img src="/mobile/src/img/wxpay-qrcode.png"/>
        <p class="guide">长按图片[识别二维码]付款</p>
    </div>
</div>

</body>

<%- include('includes/js.html') %>
<!-- build-replace-->
<!-- build:wxpay(app/public/mobile/src) ../js/controllers/wxpay.js -->
<script src="/mobile/src/js/controllers/wxpay.js"></script>
<!-- endbuild -->
<!-- end-build-replace-->
</html>