@import "../base";
@import "favlist";

.cart-body {
  background-color: white;
}


$select-btn-width: 100px;
.cart-main {
  margin-bottom: 60px;
  padding:12px 12px 0;
  .select {
    @include retina-sprite-background(ForkIcon);
    background-image: none;
    border: 1px $menu-nav-bg-color solid;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    &.active {
      @include retina-background("icons/ForkIconHighlighted.png");
      border: none;
      //@include retina-sprite-background(ForkIconHighlighted)
    }
  }
}


.cart-block {
  h4, h5 {
    margin: 0;
  }
  h4 {
    font-size: 14px;
    line-height: 2.4;
    font-weight: normal;
    border-bottom: 2px solid black;
    position: relative;
    padding-left: 36px;

    .total {
      font-size: 13px;
      position: absolute;
      right: 0;
      bottom: 0;
    }

    .select {
      top: -2px;
    }
  }
}


.cart-list {
  overflow: hidden;
  background-color: white;
  position: relative;
  margin-bottom: 15px;

  &.no-reach-list {
    opacity: 0.6;
  }

  li {
    position: relative;

    &.out-of-stock {
      opacity: .7;
    }
  }
  .dish-wrapper {
    border-bottom: 1px solid rgba(188, 188, 188, 0.2);
    border-top: 0;
    padding: 10px 0;
  }
  li:last-child .dish-wrapper {
    border-bottom: 0;
  }
  .dish-img {
    left: 38px;
    position: absolute;
    width: $dish-img-height;
    height: $dish-img-height;
    background: 50% / cover no-repeat;
  }
  .dish-detail {
    margin-left: 132px;
    height: $dish-img-height;
    h5 {
      font-size: 15px;
      font-weight: normal;
      min-height: 32px;
    }
    span {
      display: block;
    }
    .sub-name {
      display: inline;
      font-size: 12px;
      color: gray;
    }
    .stock {
      font-size: 14px;
      &.out-of-stock {
        color: $primary-color;
      }
    }
    .rmb-char {
      color: $body-color;
      font-weight: 200;
    }
    > * {
      margin-bottom: 4px;
    }
  }
  .counter {
    position: absolute;
    height: 30px;
    line-height: 26px;
    text-align: center;
    right: 1px;
    top: 50px;
    outline: 1px solid $body-color;
    span {
      display: inline-block;
      font-size: 17px;
      height: 30px;
      width: 29px;
    }
    .number {
      width: 24px;
      height: 30px;
      color: inherit;
    }
  }
}


.no-delivery-tip {
  color: white;
  background-color: $primary-color;
  height: 50px;
  line-height: 50px;
  text-indent: 2em;
}


.empty-cart {
  .icon {
    margin: 34px auto;
    @include retina-sprite-background(EmptyCart)
  }
  .text {
    color:#969696;
  }
}