@import "../base";

$cook-font-lighter-color: #646464;

.dish-brief {
  background-color: white;

  img {
    width: 100%;
    height: 66.66vw; //see _eat.scss
    min-height: 200px; // adapt to iphone 5s width
  }
  .detail {
    position:relative;
    padding: 10px;
    h5 {
      font-size: 16px;
      font-weight: normal;
      margin-top: 5px;
    }
    .tips {
      margin-bottom: 15px;
    }
    .brief {
      font-size: 13px;
      margin-bottom: 7px;
    }
    .buy-button {
      position: fixed;
      top: 39%;
      top: calc(66.66vw + 14px);
      z-index: 1;
    }
  }
}

.info {
  img {
    width: 100%;
    min-height: 180px;
  }
  padding: 0 10px;
  margin: 0 8px $margin-to-cart-length;
  background-color: white;
}

.ingredients .img {
  width: 100% !important;
}

.info-block {
  color: $cook-font-lighter-color;
  p, span {
    font-size: 12px;
  }
  h6 {
    color: $cook-font-lighter-color;
    font-size: 13px;
  }
  h5 {
    color: $body-color;
    margin-top: 20px;
    text-align: center;
    line-height: 36px;
    border-top: 1px solid rgba(195, 195, 195, 0.33);
    border-bottom: 1px solid rgba(195, 195, 195, 0.33);
    &::before, &::after {
      content: ' - '
    }
  }
  &.feature-block h5 {
    border-top: 0;
    margin-top: 10px;
  }
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  .txt-info {
    overflow: hidden; // bfc
  }
  .feature:not(last-child) {
    margin-bottom: 10px;
  }
}