@import "../base";

.coupons-main {
  .flat-button.invalid {
    border-color: $invalid-text-color;
    color: $invalid-text-color;
  }
  .table-wrapper {
    overflow: auto;
    p {
      height: 40px;
      line-height: 40px;
      text-align: center;
      margin-bottom: 0;
    }
    table {
      min-width: 620px;
      text-align: center;
    }
  }

  .cards {
    padding: 0 10px;
    h5 {
      font-size: 13px;
      text-indent: .8em;
    }
    .card-item {
      background-color: white;
      border: 1px solid #cacaca;
      margin-bottom: 12px;
      padding: 16px 12px 16px 0;

      > * {
        display: inline-block;
        vertical-align: top;
      }
      .price {
        color: $primary-color;
        width: 23%;
        margin-top: 8px;
        font-size: 22px;
        text-align: center;
        font-weight: 500;
      }
      > div {
        width: 73%;
        h6 {
          color: black;
          margin: 0;
          font-size: 16px;
        }
        div {
          font-size: 12px;
          color: #A5A5A5;
        }
      }

      &.invalid {
        .price {
          color: #A5A5A5;
        }
        h6 {
          color: #A5A5A5;
        }
      }
    }
  }
}