@import "compass/utilities/sprites";
@import "../base";

$buy-height: 30px;
$out-of-stock-bg-color: #B9B9B9; //#75A3B7;

.address-selection {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 3em;
  text-align: center;
  -webkit-transition: transform .5s cubic-bezier(0.68, -1.06, 0.25, 1);
  transition: transform .5s cubic-bezier(0.68, -1.06, 0.25, 1);

  a >div {
    &::after {
      content: '';
      border-left: 2px solid;
      border-bottom: 2px solid;
      width: 9px;
      height: 9px;
      top: 13px;
      position: absolute;
      right: 1.2em;
      -webkit-transform: rotate(45deg);
      transform: rotate(-45deg);
    }
  }
  .no-address-tip {
    background-color: rgba(245, 245, 194, 0.83);
  }
  .address-tip {
    background-color: rgba(0, 0, 0, 0.73);
    color: white;
  }

  &.flash {
    @include scaleTipAnimation()
  }
}

.coupon-tip {
  position: fixed;
  top: 42px;
  background-color: #FFFCC7;
  width: 100%;
  z-index: 1;
  line-height: 2.5;
  font-size: 13px;
  strong {
    color: #D20F1E;
    margin-right: 1px;
  }
  .icon {
    display: inline-block;
    &.sounder {
      @include retina-sprite-background(sounderIcon);
      margin-right: 3px;
      margin-left: 6px;
      position: relative;
      top: 2px;
    }
    &.entry {
      @include retina-sprite-background(entryIcon);
      margin-left: 2px;
      position: relative;
      top: 2px;
    }
    //&.close {
    //  @include retina-sprite-background(CloseIcon);
    //  position: absolute;
    //  right: 7px;
    //  top: 6px;
    //}
  }
}

.img-group {
  img {
    width: 100%;
    min-height: 202px; // for browsers not supporting vw.
    height: 66.66vw; // view port width * 2/3 (actual image's height/width ratio)
  }

}

.menu-body {
  background-color: white;
}

.eat-nav {
  margin-bottom: 10px;
  font-size: 18px;
  color: #C1BEBE;
  span {
    border-bottom: solid 1px transparent;
    padding: 0 15px 11px;

    &:nth-child(2) {
      margin-right: 38px;
    }

    &.active {
      color: $primary-color;
      border-color: $primary-color;
    }
  }
}
.no-filter .count-operation {
  background-color: rgba(54, 55, 55, 0.78);
}
.food-list {
  margin: 0 auto;

  li {
    background-color: white;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: $margin-to-cart-length;
    }
  }
  .img-group {
    background: white url(../img/ImagePlaceholder.png) 50%/cover no-repeat;
    position: relative;
    overflow: hidden;
  }
  .detail {
    padding: 10px;
    position: relative;
    .title {
      margin: 9px 0 16px;
      font-size: 18px;
    }
    .brief {
      white-space: pre-line;
    }
    .user-actions {
      > div {
        display: inline-block;
      }
      .eat {
        margin-top: 10px;
        margin-left: .4em;
      }
    }
    .buy {
      line-height: $buy-height;
      height: $buy-height;
      position: absolute;
      width: 120px;
      right: 0;
      top: 0;
      font-size: 0;
      box-shadow: #C3C0C0 0 1px 1px;
      .price {
        background-color: $price-bg-color;
        font-size: 18px;
        &::before {
          content: '¥ '
        }
      }
      .button {
        background-color: $primary-color;
        color: white;
        font-size: 16px;
        &.out-of-stock {
          background-color: $out-of-stock-bg-color;
        }
      }
      span {
        height: $buy-height;
        text-align: center;
        width: 50%;
        display: inline-block;
      }
    }
  }
}

$address-icon-height: 40px;

.selection-cover {
  background-color: rgba(88, 88, 88, 0.48);
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}


/** 多属性选择面板 **/
$ms-border-color: #DEDEDE; // ms: multiple-selection
$ms-border: 1px solid $ms-border-color;
$sc-left-padding: 15px; //sc: selections-container
$sc-h5-font-size: 15px;

.close-button {
  @include retina-sprite-background(CloseIcon);
  //background: url(../img/icons/CloseIcon.png) 50%/contain no-repeat;
  position: absolute;
  right: 15px;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  margin: auto;
}

.selections-container {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  z-index: 10;
  box-shadow: #9C9999 0 0 1px;

  h4, h5 {
    font-weight: normal;
  }

  h4 {
    position: relative;
    margin: 0;
    height: 64px;
    line-height: 64px;
  }

  .properties {
    margin-bottom: 0;
    > li {
      border-top: $ms-border;
      padding-left: $sc-left-padding;
      padding-bottom: 14px;
      //&:last-child {
      //  border-bottom: $ms-border;
      //}
      h5 {
        font-size: $sc-h5-font-size;
        padding: 8px 0;
      }
    }
  }

  .selections {
    font-size: 16px;
    li {
      color: $primary-color;
      display: inline-block;
      padding: 0 1.5em;
      border: 1px solid $primary-color;
      height: 2.1em;
      line-height: 1.9em;
      border-radius: 6px;
      margin-bottom: 8px;
      &:not(:last-child) {
        margin-right: 0.7em;
      }
      &.selected {
        color: white;
        background-color: $primary-color;
      }
      &.no-stock {
        color: #CCCCCC;
        border-color: #CCCCCC;
      }
    }
  }

  .counter-wrapper {
    border-top: $ms-border;
    padding: 13px 0 15px $sc-left-padding;
    position: relative;
    i {
      line-height: 34px;
      font-style: normal;
      font-size: $sc-h5-font-size;
    }
    .counter {
      display: inline-block;
      position: absolute;
      right: $sc-left-padding;
      border: $ms-border;
      border-radius: 5px;
      line-height: 33px; // todo: 可能用padding比较好,否则会与border-bottom连不上
      height: 36px;
      font-size: 0;
      color: $primary-color;
      span {
        display: inline-block;
        width: 40px;
        font-size: 18px;
      }
      span:not(:last-child) {
        border-right: $ms-border;
      }
      .number {
        width: 60px;
      }
    }
  }

  .add-to-cart-button {
    position: relative;
    height: $bottom-bar-height;
    line-height: $bottom-bar-height;
    font-size: 17px;
    width: 100%;
    background-color: $primary-color;
    color: white;
    .rmb-char {
      position: absolute;
      left: $sc-left-padding;
    }
    &.invalid {
      background-color: #C7C7C7;
    }
  }
}

@media (max-width: 414px) {
  .detail .title{
    max-width: 330px;
  }
}

@media (max-width: 375px) {
  .detail .title {
    max-width: 290px;
  }
  .selections-container .block h4 {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  .detail .title {
    max-width: 250px;
  }
  .selections-container .block h4 {
    font-size: 14px;
  }
}