@import "compass/utilities/sprites";
@import "icons/*.png";
@import "../base";

/***** login *****/
.login-nav {
  margin-bottom: 23px;

  //a:nth-child(2) {
  //  margin-right: 38px;
  //}

  span {
    border-bottom: solid 1px transparent;
    padding: 0 15px 14px;

    &:nth-child(2) {
      margin-right: 38px;
    }

    &.active {
      color: $primary-color;
      border-color: $primary-color;
    }
  }
}

.login-form-group {
  background-color: white;
  position: relative;
}

.login-form, .signup-form {
  input {
    border: none;
    box-shadow: none !important;
  }
  .form-control {
    height: 40px;
  }
  .group {
    position: relative;
    .err-tip {
      line-height: 40px;
    }
  }
  button.invalid {
    background: $invalid-bg-color;
  }
}

.login-button {
  width: 95%;
  margin: 20px auto 0;
  border-radius: 0;
  //border:none;
}

.forget-pwd-container {
  text-align: right;
  margin: 7px 7px -10px;
  font-size: 13px;
  color: #71736F;
}

.test-wrapper {
  padding-left: 12px;
  margin-bottom: 10px;

  label {
    padding: 10px 0 5px;
  }
}

.sms-button {
  &.invalid {
    color: #A7A7A7;
  }
  position: absolute;
  border: 1px $primary-color solid;
  border-radius: 5px;
  width: 160px;
  text-align: center;
  height: 31px;
  line-height: 30px;
  top: 46px;
  right: 11px;
}