.order-list {
  li {
    margin: 10px auto;
    h4 {
      line-height: 3;
      font-size: 0;
      font-weight: 400;
      > * {
        display: inline-block;
        width: 50%;
      }
      .title {
        font-size: 14px;
      }
      .time {
        font-size: 13px;
      }
    }
  }
}