@import "../base";

$text-bg-gray-color: #E6E6E6;
$text-gray-color: #5D5D5D;

.search-address-main {
  padding:0 12px;

  form {
    padding: 13px 0 10px 8px;
    border-bottom: 1px solid gray;
    position: relative;

    input {
      width: 100%;
    }

    .confirm {
      position: absolute;
      bottom: 7px;
      right: 0;
      text-align: center;
      padding: 3px 11px;
      border: 1px solid black;
      &.invalid {
        border-color: $invalid-text-color;
      }
    }
  }

  .find-address-tip {
    font-size: 13px;
    background: $text-bg-gray-color;
    line-height: 1.8;
    text-indent: 0.5em;
    color: $text-gray-color;
  }

  .no-address-tip {
    text-align: center;
    padding-top: 20px;
    color: gray;
    h4 {
      font-weight: 400;
      font-size: 16px;
    }
  }

  .results {
    margin-top: 1.2em;
    h4 {
      font-size: 14px;
      margin-bottom: 4px;
    }
    p {
      font-size:  12px;
      margin-bottom: 14px;
    }
  }
}