@charset "UTF-8";
/* line 112, icons/*.png */
.icons-sprite {
  background-image: url('../img/icons-s7c884f0b6a.png');
  background-repeat: no-repeat;
}

/* line 16, ../sass/_base.scss */
html {
  font-family: Helvetica, Arial, sans-serif;
}

/* line 20, ../sass/_base.scss */
body {
  background-color: #f4f4f4;
  color: #4b4b4c;
}

/* line 26, ../sass/_base.scss */
a:link, a:visited, a:focus, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

/* line 32, ../sass/_base.scss */
ul, li {
  list-style: none;
  padding: 0;
}

/* line 37, ../sass/_base.scss */
input, textarea, select, option {
  border-radius: 0 !important;
  border: none !important;
  box-shadow: none !important;
}

/* line 43, ../sass/_base.scss */
::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

/* line 46, ../sass/_base.scss */
:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

/* line 49, ../sass/_base.scss */
::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
}

/* line 53, ../sass/_base.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 61, ../sass/_base.scss */
.form-horizontal .control-label {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: left;
}

/* line 67, ../sass/_base.scss */
label {
  font-weight: 400;
}

/* line 73, ../sass/_base.scss */
.nav {
  background-color: white;
  text-align: center;
  line-height: 45px;
  margin-bottom: 10px;
  position: relative;
  box-shadow: #DEDEDE 0 0 1px;
}

/* line 82, ../sass/_base.scss */
.back-icon {
  background: url(../img/icons/NavBarBackIcon.png) no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  width: 47px;
  height: 34px;
  top: 12px;
}

/* line 92, ../sass/_base.scss */
.form-line {
  margin: 0 5px 0 12px;
  border-bottom: 1px solid #bcbcbc;
  border-top: 0;
  opacity: 0.5;
}

/* line 99, ../sass/_base.scss */
.plus-char::before {
  content: 'X';
}

/* line 103, ../sass/_base.scss */
.rmb-char::before {
  content: "¥ ";
}

/* line 106, ../sass/_base.scss */
.rmb-char.negative::before {
  content: "- ¥ ";
}

/* line 109, ../sass/_base.scss */
[ng-cloak] {
  display: none;
}

/* line 3, ../sass/invited.scss */
.invited-main {
  background-color: white;
  text-align: center;
}
