@charset "UTF-8";
/* line 23, ../sass/_base.scss */
html {
  font-family: Helvetica, Arial, sans-serif;
}

/* line 27, ../sass/_base.scss */
body {
  background-color: #f1f1f1;
  color: #4b4b4c;
}

/* line 33, ../sass/_base.scss */
a:link, a:visited, a:focus, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

/* line 39, ../sass/_base.scss */
ul, li {
  list-style: none;
  padding: 0;
}

/* line 44, ../sass/_base.scss */
input:focus, input, textarea, select, option {
  border-radius: 0 !important;
  border: none !important;
  box-shadow: none !important;
  outline: 0;
}

/* line 51, ../sass/_base.scss */
i {
  font-style: normal;
}

/* line 55, ../sass/_base.scss */
::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

/* line 58, ../sass/_base.scss */
:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

/* line 61, ../sass/_base.scss */
::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
}

/* line 65, ../sass/_base.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 73, ../sass/_base.scss */
.form-horizontal .control-label {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: left;
}

/* line 79, ../sass/_base.scss */
label {
  font-weight: 400;
}

/* line 110, ../sass/_base.scss */
.nav {
  background-color: white;
  text-align: center;
  line-height: 45px;
  margin-bottom: 10px;
  position: relative;
  box-shadow: #DEDEDE 0 0 1px;
}
/* line 118, ../sass/_base.scss */
.nav span {
  border-bottom: solid 1px transparent;
  padding: 0 15px 11px;
}
/* line 126, ../sass/_base.scss */
.nav span.active {
  color: #f44d4d;
  border-color: #f44d4d;
}

/* line 133, ../sass/_base.scss */
.white-body {
  background-color: white;
}

/* line 137, ../sass/_base.scss */
.back-icon {
  background-repeat: no-repeat;
  background-image: url('../img/icons-s66e3f122eb.png');
  background-position: 0 -458px;
  height: 20px;
  width: 44px;
  -moz-background-size: 98px auto;
  -o-background-size: 98px auto;
  -webkit-background-size: 98px auto;
  background-size: 98px auto;
  position: absolute;
  left: 0;
  top: 12px;
}

/* line 144, ../sass/_base.scss */
.time-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url('../img/icons-s66e3f122eb.png');
  background-position: 0 -444px;
  height: 14px;
  width: 14px;
  -moz-background-size: 98px auto;
  -o-background-size: 98px auto;
  -webkit-background-size: 98px auto;
  background-size: 98px auto;
}

/* line 150, ../sass/_base.scss */
.people-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url('../img/icons-s66e3f122eb.png');
  background-position: 0 -431px;
  height: 13px;
  width: 13px;
  -moz-background-size: 98px auto;
  -o-background-size: 98px auto;
  -webkit-background-size: 98px auto;
  background-size: 98px auto;
}

/* line 157, ../sass/_base.scss */
.like-icon {
  display: inline-block;
  height: 14px;
  width: 14px;
  background: url('../img/icons/MenuLikeIcon.png?1447323318') 50%/cover no-repeat;
}
/* line 160, ../sass/_base.scss */
.like-icon.like {
  height: 14px;
  width: 14px;
  background: url('../img/icons/MenuLikeIconHighlighted.png?1447323318') 50%/cover no-repeat;
}

/* line 167, ../sass/_base.scss */
.form-line {
  margin: 0 12px 0 12px;
  border-bottom: 1px solid #bcbcbc;
  border-top: 0;
  opacity: 0.5;
}

/* line 174, ../sass/_base.scss */
.plus-char::before {
  content: 'X';
}

/* line 178, ../sass/_base.scss */
.rmb-char::before {
  content: "¥ ";
}

/* line 181, ../sass/_base.scss */
.rmb-char.negative::before {
  content: "- ¥ ";
}

/* line 185, ../sass/_base.scss */
.no-padding-left {
  padding-left: 0;
}

/* line 191, ../sass/_base.scss */
form .err-tip {
  color: #f44d4d;
  position: absolute;
  top: 0;
  right: 1em;
}

/* line 203, ../sass/_base.scss */
[ng-cloak] {
  display: none;
}

/* line 200, icons/*.png */
.icons-sprite {
  background-image: url('../img/icons-sb46cdebfd9.png');
  background-repeat: no-repeat;
}

/***** login *****/
/* line 6, ../sass/pages/_login.scss */
.login-nav {
  margin-bottom: 23px;
}
/* line 13, ../sass/pages/_login.scss */
.login-nav span {
  border-bottom: solid 1px transparent;
  padding: 0 15px 14px;
}
/* line 17, ../sass/pages/_login.scss */
.login-nav span:nth-child(2) {
  margin-right: 38px;
}
/* line 21, ../sass/pages/_login.scss */
.login-nav span.active {
  color: #f44d4d;
  border-color: #f44d4d;
}

/* line 28, ../sass/pages/_login.scss */
.login-form-group {
  background-color: white;
  position: relative;
}

/* line 34, ../sass/pages/_login.scss */
.login-form input, .signup-form input {
  border: none;
  box-shadow: none !important;
}
/* line 38, ../sass/pages/_login.scss */
.login-form .form-control, .signup-form .form-control {
  height: 40px;
}
/* line 41, ../sass/pages/_login.scss */
.login-form .group, .signup-form .group {
  position: relative;
}
/* line 43, ../sass/pages/_login.scss */
.login-form .group .err-tip, .signup-form .group .err-tip {
  line-height: 40px;
}
/* line 47, ../sass/pages/_login.scss */
.login-form button.invalid, .signup-form button.invalid {
  background: #F9F9F9;
}

/* line 52, ../sass/pages/_login.scss */
.login-button {
  width: 95%;
  margin: 20px auto 0;
  border-radius: 0;
}

/* line 59, ../sass/pages/_login.scss */
.forget-pwd-container {
  text-align: right;
  margin: 7px 7px -10px;
  font-size: 13px;
  color: #71736F;
}

/* line 66, ../sass/pages/_login.scss */
.test-wrapper {
  padding-left: 12px;
  margin-bottom: 10px;
}
/* line 70, ../sass/pages/_login.scss */
.test-wrapper label {
  padding: 10px 0 5px;
}

/* line 75, ../sass/pages/_login.scss */
.sms-button {
  position: absolute;
  border: 1px #f44d4d solid;
  border-radius: 5px;
  width: 160px;
  text-align: center;
  height: 31px;
  line-height: 30px;
  top: 46px;
  right: 11px;
}
/* line 76, ../sass/pages/_login.scss */
.sms-button.invalid {
  color: #A7A7A7;
}

/* line 8, ../sass/pages/_eat.scss */
.img-group img {
  width: 100%;
  min-height: 202px;
  height: 66.66vw;
}

/* line 15, ../sass/pages/_eat.scss */
.menu-body {
  background-color: white;
}

/* line 19, ../sass/pages/_eat.scss */
.eat-nav {
  margin-bottom: 10px;
  font-size: 18px;
  color: #C1BEBE;
}
/* line 23, ../sass/pages/_eat.scss */
.eat-nav span {
  border-bottom: solid 1px transparent;
  padding: 0 15px 11px;
}
/* line 27, ../sass/pages/_eat.scss */
.eat-nav span:nth-child(2) {
  margin-right: 38px;
}
/* line 31, ../sass/pages/_eat.scss */
.eat-nav span.active {
  color: #f44d4d;
  border-color: #f44d4d;
}

/* line 37, ../sass/pages/_eat.scss */
.no-filter .count-operation {
  background-color: rgba(54, 55, 55, 0.78);
}

/* line 40, ../sass/pages/_eat.scss */
.food-list {
  margin: 0 auto;
}
/* line 43, ../sass/pages/_eat.scss */
.food-list li {
  background-color: white;
  margin-bottom: 10px;
}
/* line 46, ../sass/pages/_eat.scss */
.food-list li:last-child {
  margin-bottom: 60px;
}
/* line 50, ../sass/pages/_eat.scss */
.food-list .img-group {
  background: white url(../img/ImagePlaceholder.png) 50%/cover no-repeat;
  position: relative;
  overflow: hidden;
}
/* line 55, ../sass/pages/_eat.scss */
.food-list .detail {
  padding: 10px;
  position: relative;
}
/* line 58, ../sass/pages/_eat.scss */
.food-list .detail .title {
  margin: 9px 0 16px;
  font-size: 18px;
}
/* line 63, ../sass/pages/_eat.scss */
.food-list .detail .user-actions > div {
  display: inline-block;
}
/* line 66, ../sass/pages/_eat.scss */
.food-list .detail .user-actions .eat {
  margin-top: 10px;
  margin-left: .4em;
}
/* line 71, ../sass/pages/_eat.scss */
.food-list .detail .buy {
  line-height: 30px;
  height: 30px;
  position: absolute;
  width: 120px;
  right: 0;
  top: 0;
  font-size: 0;
  box-shadow: #C3C0C0 0 1px 1px;
}
/* line 80, ../sass/pages/_eat.scss */
.food-list .detail .buy .price {
  background-color: #ede2d0;
  font-size: 18px;
}
/* line 83, ../sass/pages/_eat.scss */
.food-list .detail .buy .price::before {
  content: "¥ ";
}
/* line 87, ../sass/pages/_eat.scss */
.food-list .detail .buy .button {
  background-color: #f44d4d;
  color: white;
  font-size: 16px;
}
/* line 91, ../sass/pages/_eat.scss */
.food-list .detail .buy .button.out-of-stock {
  background-color: #75A3B7;
}
/* line 95, ../sass/pages/_eat.scss */
.food-list .detail .buy span {
  height: 30px;
  text-align: center;
  width: 50%;
  display: inline-block;
}

/* line 107, ../sass/pages/_eat.scss */
.selection-cover {
  background-color: rgba(88, 88, 88, 0.48);
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

/** 多属性选择面板 **/
/* line 121, ../sass/pages/_eat.scss */
.selections-container {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  z-index: 10;
  box-shadow: #9C9999 0 0 1px;
}
/* line 129, ../sass/pages/_eat.scss */
.selections-container h4, .selections-container h5 {
  font-weight: normal;
}
/* line 133, ../sass/pages/_eat.scss */
.selections-container h4 {
  position: relative;
  margin: 0;
  height: 64px;
  line-height: 64px;
}
/* line 140, ../sass/pages/_eat.scss */
.selections-container .close-button {
  background: url(../img/icons/CloseIcon.png) 50%/contain no-repeat;
  width: 1.1em;
  height: 100%;
  position: absolute;
  right: 15px;
  opacity: 0.5;
  top: 0;
}
/* line 150, ../sass/pages/_eat.scss */
.selections-container .properties {
  margin-bottom: 0;
}
/* line 152, ../sass/pages/_eat.scss */
.selections-container .properties > li {
  border-top: 1px solid #DEDEDE;
  padding-left: 15px;
  padding-bottom: 14px;
}
/* line 159, ../sass/pages/_eat.scss */
.selections-container .properties > li h5 {
  font-size: 15px;
  padding: 8px 0;
}
/* line 166, ../sass/pages/_eat.scss */
.selections-container .selections {
  font-size: 16px;
}
/* line 168, ../sass/pages/_eat.scss */
.selections-container .selections li {
  color: #f44d4d;
  display: inline-block;
  padding: 0 1.5em;
  border: 1px solid #f44d4d;
  height: 2.1em;
  line-height: 1.9em;
  border-radius: 6px;
  margin-bottom: 8px;
}
/* line 177, ../sass/pages/_eat.scss */
.selections-container .selections li:not(:last-child) {
  margin-right: 0.7em;
}
/* line 180, ../sass/pages/_eat.scss */
.selections-container .selections li.selected {
  color: white;
  background-color: #f44d4d;
}
/* line 184, ../sass/pages/_eat.scss */
.selections-container .selections li.no-stock {
  color: #CCCCCC;
  border-color: #CCCCCC;
}
/* line 191, ../sass/pages/_eat.scss */
.selections-container .counter-wrapper {
  border-top: 1px solid #DEDEDE;
  padding: 13px 0 15px 15px;
  position: relative;
}
/* line 195, ../sass/pages/_eat.scss */
.selections-container .counter-wrapper i {
  line-height: 34px;
  font-style: normal;
  font-size: 15px;
}
/* line 200, ../sass/pages/_eat.scss */
.selections-container .counter-wrapper .counter {
  display: inline-block;
  position: absolute;
  right: 15px;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  line-height: 33px;
  height: 36px;
  font-size: 0;
  color: #f44d4d;
}
/* line 210, ../sass/pages/_eat.scss */
.selections-container .counter-wrapper .counter span {
  display: inline-block;
  width: 40px;
  font-size: 18px;
}
/* line 215, ../sass/pages/_eat.scss */
.selections-container .counter-wrapper .counter span:not(:last-child) {
  border-right: 1px solid #DEDEDE;
}
/* line 218, ../sass/pages/_eat.scss */
.selections-container .counter-wrapper .counter .number {
  width: 60px;
}
/* line 224, ../sass/pages/_eat.scss */
.selections-container .add-to-cart-button {
  position: relative;
  height: 53px;
  line-height: 53px;
  font-size: 17px;
  width: 100%;
  background-color: #f44d4d;
  color: white;
}
/* line 232, ../sass/pages/_eat.scss */
.selections-container .add-to-cart-button .rmb-char {
  position: absolute;
  left: 15px;
}
/* line 236, ../sass/pages/_eat.scss */
.selections-container .add-to-cart-button.invalid {
  background-color: #C7C7C7;
}

@media (max-width: 414px) {
  /* line 243, ../sass/pages/_eat.scss */
  .detail .title {
    max-width: 330px;
  }
}
@media (max-width: 375px) {
  /* line 249, ../sass/pages/_eat.scss */
  .detail .title {
    max-width: 290px;
  }

  /* line 252, ../sass/pages/_eat.scss */
  .selections-container .block h4 {
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  /* line 258, ../sass/pages/_eat.scss */
  .detail .title {
    max-width: 250px;
  }

  /* line 261, ../sass/pages/_eat.scss */
  .selections-container .block h4 {
    font-size: 14px;
  }
}
/* line 266, ../sass/pages/_eat.scss */
.menu-nav {
  font-size: 16px;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #262626;
  height: 52px;
  line-height: 52px;
}
/* line 276, ../sass/pages/_eat.scss */
.menu-nav > div {
  -webkit-transition: .5s width ease;
  transition: .5s width ease;
  display: inline-block;
  text-align: center;
  width: 21%;
}
/* line 282, ../sass/pages/_eat.scss */
.menu-nav > div.active {
  font-weight: 900;
}
/* line 284, ../sass/pages/_eat.scss */
.menu-nav > div.active span {
  border-top: 7px solid;
  padding: 9px 7px;
}
/* line 292, ../sass/pages/_eat.scss */
.menu-nav.empty > div {
  width: 32%;
}
/* line 297, ../sass/pages/_eat.scss */
.menu-nav .go-to-cart {
  position: absolute;
  right: 0;
  width: 100px;
  background-color: #f44d4d;
  -webkit-transition: transform 0.5s cubic-bezier(0.68, -1.06, 0.25, 1);
  transition: transform 0.5s cubic-bezier(0.68, -1.06, 0.25, 1);
}
/* line 305, ../sass/pages/_eat.scss */
.menu-nav .go-to-cart .bag-icon {
  position: absolute;
  left: 22px;
  top: 0;
  bottom: 4px;
  margin: auto;
  background-repeat: no-repeat;
  background-image: url('../img/icons-s66e3f122eb.png');
  background-position: 0 -523px;
  height: 21px;
  width: 15px;
  -moz-background-size: 98px auto;
  -o-background-size: 98px auto;
  -webkit-background-size: 98px auto;
  background-size: 98px auto;
}
/* line 313, ../sass/pages/_eat.scss */
.menu-nav .go-to-cart .bag-icon i {
  position: absolute;
  bottom: 1px;
  right: 0;
  left: 0;
  font-size: 12px;
  line-height: normal;
}
/* line 323, ../sass/pages/_eat.scss */
.menu-nav .go-to-cart .price {
  position: relative;
  right: -16px;
}
/* line 326, ../sass/pages/_eat.scss */
.menu-nav .go-to-cart .price::before {
  content: '¥';
  position: absolute;
  top: 1px;
  left: -0.6em;
  line-height: normal;
  font-size: 10px;
}
/* line 336, ../sass/pages/_eat.scss */
.menu-nav .go-to-cart.flash {
  -webkit-transform: matrix3d(1.2, 0, 0, 0, 0, 1.2, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

/* line 3, ../sass/pages/_order.scss */
.form-block {
  padding: 3px 15px 3px 12px;
  background-color: white;
  margin-bottom: 12px;
}
/* line 7, ../sass/pages/_order.scss */
.form-block .col-xs-3 {
  padding-right: 5px;
}
/* line 10, ../sass/pages/_order.scss */
.form-block .col-xs-9, .form-block .col-xs-7 {
  padding-left: 0;
}
/* line 13, ../sass/pages/_order.scss */
.form-block .form-line {
  margin: 0;
}
/* line 16, ../sass/pages/_order.scss */
.form-block [type=radio] {
  margin-right: 4px;
}
/* line 19, ../sass/pages/_order.scss */
.form-block input, .form-block textarea, .form-block select {
  background-color: #f1f1f1;
}
/* line 23, ../sass/pages/_order.scss */
.form-block .row {
  line-height: 2.5;
}
/* line 27, ../sass/pages/_order.scss */
.form-block .remark {
  margin-bottom: 10px;
}
/* line 31, ../sass/pages/_order.scss */
.form-block .order-list .title {
  padding-left: 15px;
}
/* line 35, ../sass/pages/_order.scss */
.form-block .order-list .select {
  border-radius: 50%;
  background-color: #e2e2e2;
  width: 22px;
  height: 22px;
  line-height: 23px;
  padding: 0;
  position: relative;
  right: -23px;
  top: 6px;
  color: white;
}
/* line 46, ../sass/pages/_order.scss */
.form-block .order-list .select.active {
  background-color: #ff9595;
}
/* line 50, ../sass/pages/_order.scss */
.form-block .time-btn-group {
  margin-top: 7px;
}
/* line 53, ../sass/pages/_order.scss */
.form-block .time-btn {
  width: 252px;
  margin-right: 10px;
  border-radius: 5px;
  padding: 3px 20px;
  background-color: #e2e2e2;
  line-height: 1.2;
}
/* line 60, ../sass/pages/_order.scss */
.form-block .time-btn.active {
  color: white;
  background-color: #f44d4d;
}
/* line 65, ../sass/pages/_order.scss */
.form-block .promotion-group {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 70, ../sass/pages/_order.scss */
.form-block .balance-group {
  margin-left: 8px;
}

/* line 75, ../sass/pages/_order.scss */
.dish-list .form-line:last-of-type {
  border-color: transparent;
}

/* line 80, ../sass/pages/_order.scss */
.pay .row {
  position: relative;
  padding-left: 43px;
}
/* line 84, ../sass/pages/_order.scss */
.pay .icon {
  height: 23px;
  left: 19px;
  top: 5px;
  position: absolute;
  background: url(../../img/icons/ForkIcon.png) no-repeat;
  background-size: contain;
}
/* line 91, ../sass/pages/_order.scss */
.pay .icon.active {
  background: url(../../img/icons/ForkIconHighlighted.png) no-repeat;
  background-size: contain;
}

/* line 98, ../sass/pages/_order.scss */
.flat-button {
  border: 1px #f44d4d solid;
  border-radius: 4px;
  text-align: center;
  padding: 5px 10px;
  color: #f44d4d;
  line-height: 30px;
}

/* line 111, ../sass/pages/_order.scss */
.price-block {
  background: transparent;
  margin-top: -10px;
}
/* line 114, ../sass/pages/_order.scss */
.price-block .group-on {
  color: #f44d4d;
}
/* line 117, ../sass/pages/_order.scss */
.price-block .price {
  width: 5.5em;
}
/* line 120, ../sass/pages/_order.scss */
.price-block .sign {
  padding-right: 0;
}

/* line 125, ../sass/pages/_order.scss */
.confirm-button {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  height: 52px;
  margin: -12px auto 0;
}
/* line 131, ../sass/pages/_order.scss */
.confirm-button.valid {
  background-color: #f44d4d;
  color: white;
}
/* line 135, ../sass/pages/_order.scss */
.confirm-button.invalid {
  background-color: #eee;
}

/* line 140, ../sass/pages/_order.scss */
.pay-window {
  position: fixed;
  top: 36%;
  width: 95%;
  margin: 0 auto;
  right: 0;
  left: 0;
  background-color: white;
  padding: 30px;
  border-radius: 3px;
  box-shadow: 2px 2px 5px gray;
  border: 1px darkgrey solid;
}
/* line 152, ../sass/pages/_order.scss */
.pay-window .order-success-tip {
  text-align: center;
  font-size: 16px;
  margin-bottom: 48px;
}
/* line 157, ../sass/pages/_order.scss */
.pay-window .confirm-button {
  text-align: center;
  background: #44b549;
  color: white;
}

/* line 3, ../sass/pages/_orderlist.scss */
.order-list-wrapper table {
  word-break: keep-all;
  width: 1000px;
}

/* line 8, ../sass/pages/_orderlist.scss */
.repay {
  display: block;
  min-width: 50px;
  text-align: center;
  height: 25px;
  border-radius: 2px;
  line-height: 25px;
  border: 1px solid gray;
  background-color: white;
}

/* line 2, ../sass/pages/_addresslist.scss */
.address-main .address-list {
  margin: 0 24px;
}
/* line 5, ../sass/pages/_addresslist.scss */
.address-main .address-list li {
  position: relative;
  margin-bottom: 7px;
  background-color: white;
  padding-left: 37px;
}
/* line 11, ../sass/pages/_addresslist.scss */
.address-main .address-list li .select-button {
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/icons/ForkIcon.png) 50% no-repeat;
  background-size: 65%;
  width: 36px;
  height: 100%;
}
/* line 19, ../sass/pages/_addresslist.scss */
.address-main .address-list li .select-button.active {
  background: url(../img/icons/ForkIconHighlighted.png) 50% no-repeat;
  background-size: 65%;
}
/* line 24, ../sass/pages/_addresslist.scss */
.address-main .address-list li .detail {
  padding-bottom: 8px;
  overflow-x: hidden;
}
/* line 28, ../sass/pages/_addresslist.scss */
.address-main .address-list li .edit {
  background-color: #dddddd;
  color: #848280;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 63px;
  line-height: 63px;
}
/* line 39, ../sass/pages/_addresslist.scss */
.address-main .address-list .warn-invalid-address {
  position: absolute;
  height: 100%;
  width: calc(100% - 63px);
  left: 0;
  top: 0;
  margin-right: 63px;
  line-height: 63px;
  background-color: rgba(247, 3, 3, 0.49);
  color: #F6FB04;
  font-size: 16px;
}
/* line 53, ../sass/pages/_addresslist.scss */
.address-main .no-address-tip {
  margin: 52px;
  font-size: 16px;
}

/* line 59, ../sass/pages/_addresslist.scss */
.icon-add {
  position: absolute;
  top: 0;
  width: 45px;
  line-height: 38px;
  height: 45px;
  right: 0;
  font-size: 34px;
}
/* line 67, ../sass/pages/_addresslist.scss */
.icon-add::before {
  content: "+";
}

/* line 3, ../sass/pages/_addressedit.scss */
.address-edit-nav {
  margin: 0;
}
/* line 5, ../sass/pages/_addressedit.scss */
.address-edit-nav .next-step {
  color: #BDBDBD;
  position: absolute;
  right: 0;
  width: 78px;
}
/* line 10, ../sass/pages/_addressedit.scss */
.address-edit-nav .next-step.active {
  color: inherit;
}
/* line 14, ../sass/pages/_addressedit.scss */
.address-edit-nav::after {
  content: '';
  display: block;
  border-bottom: solid 1px #bcbcbc;
  opacity: 0.5;
  border-top: 0;
}

/* line 23, ../sass/pages/_addressedit.scss */
.address-edit-form {
  padding: 0 5px;
}
/* line 25, ../sass/pages/_addressedit.scss */
.address-edit-form input {
  border: none;
  box-shadow: none !important;
}
/* line 29, ../sass/pages/_addressedit.scss */
.address-edit-form .form-control {
  height: 40px;
}
/* line 32, ../sass/pages/_addressedit.scss */
.address-edit-form .form-inline .form-control {
  display: inline-block;
  width: auto;
}
/* line 36, ../sass/pages/_addressedit.scss */
.address-edit-form select {
  min-width: 7em;
  box-shadow: none;
  border: none;
  text-indent: 0.3em;
  width: 30%;
}
/* line 43, ../sass/pages/_addressedit.scss */
.address-edit-form .form-control-container {
  position: relative;
}
/* line 45, ../sass/pages/_addressedit.scss */
.address-edit-form .form-control-container .form-tip {
  position: absolute;
  padding-top: 10px;
  top: 0;
  font-size: 14px;
  line-height: 1.42;
  right: 12px;
  color: #f44d4d;
}

/* line 57, ../sass/pages/_addressedit.scss */
.address-edit-body {
  background-color: white;
}

/* line 61, ../sass/pages/_addressedit.scss */
.suggestion-addresses-wrapper {
  background-color: rgba(29, 29, 29, 0.69);
  color: white;
  position: absolute;
  width: 100%;
  overflow: auto;
  max-height: 400px;
  min-height: 300px;
  padding: 5px;
  z-index: 10;
  border-radius: 3px;
}
/* line 72, ../sass/pages/_addressedit.scss */
.suggestion-addresses-wrapper h5 {
  margin-top: 5px;
  margin-bottom: 0;
}
/* line 77, ../sass/pages/_addressedit.scss */
.suggestion-addresses-wrapper .search-addresses li {
  background: url(../img/icons/HouseIcon.png) 8px 50% no-repeat;
  background-size: auto 37%;
  padding: 10px 10px 10px 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 82, ../sass/pages/_addressedit.scss */
.suggestion-addresses-wrapper .search-addresses li .general-address {
  font-size: 12px;
  padding-top: 3px;
  font-weight: 100;
}
/* line 89, ../sass/pages/_addressedit.scss */
.suggestion-addresses-wrapper .address-not-found {
  padding: 27px;
}

/* line 94, ../sass/pages/_addressedit.scss */
.action-group {
  height: 100px;
  padding: 80px 20px 0;
  color: #f44d4d;
}
/* line 99, ../sass/pages/_addressedit.scss */
.action-group .glyphicon-trash {
  padding-right: 2px;
}
/* line 102, ../sass/pages/_addressedit.scss */
.action-group .locate-icon {
  background: url(../img/icons/LocationIconEnabled.png) 50% no-repeat;
  background-size: 17%;
  background-position-x: 0;
  padding-left: 24px;
}

/* line 5, ../sass/pages/_favlist.scss */
.fav-nav {
  margin-bottom: 0;
  font-size: 16px;
}

/* line 11, ../sass/pages/_favlist.scss */
.fav-block h4, .fav-block h5 {
  margin: 0;
}
/* line 14, ../sass/pages/_favlist.scss */
.fav-block h4 {
  background-color: #E4E3E3;
  font-size: 14px;
  line-height: 2.4;
  font-weight: 100;
  text-indent: 0.8em;
}
/* line 21, ../sass/pages/_favlist.scss */
.fav-block .fav-list {
  background-color: white;
  position: relative;
  padding: 0 12px;
  margin-bottom: 15px;
}
/* line 26, ../sass/pages/_favlist.scss */
.fav-block .fav-list .dish-wrapper {
  border-bottom: 1px solid rgba(188, 188, 188, 0.2);
  border-top: 0;
  padding: 10px 0;
}
/* line 31, ../sass/pages/_favlist.scss */
.fav-block .fav-list li:last-child .dish-wrapper {
  border-bottom: 0;
}
/* line 34, ../sass/pages/_favlist.scss */
.fav-block .fav-list .dish-img {
  position: absolute;
  left: 12px;
  width: 75px;
  height: 75px;
  background: 50% / cover no-repeat;
}
/* line 41, ../sass/pages/_favlist.scss */
.fav-block .fav-list .dish-detail {
  height: 75px;
  margin-left: 95px;
}
/* line 44, ../sass/pages/_favlist.scss */
.fav-block .fav-list .dish-detail > * {
  margin-bottom: 7px;
}
/* line 47, ../sass/pages/_favlist.scss */
.fav-block .fav-list .dish-detail h5 {
  font-weight: 100;
  font-size: 16px;
}
/* line 51, ../sass/pages/_favlist.scss */
.fav-block .fav-list .dish-detail span {
  display: block;
}
/* line 54, ../sass/pages/_favlist.scss */
.fav-block .fav-list .dish-detail .stock {
  font-size: 14px;
}
/* line 56, ../sass/pages/_favlist.scss */
.fav-block .fav-list .dish-detail .stock.out-of-stock {
  color: #f44d4d;
}
/* line 60, ../sass/pages/_favlist.scss */
.fav-block .fav-list .dish-detail .rmb-char {
  color: #f44d4d;
  font-weight: 200;
}

/* line 5, ../sass/pages/_cook.scss */
.dish-brief {
  background-color: white;
}
/* line 8, ../sass/pages/_cook.scss */
.dish-brief img {
  width: 100%;
  height: 66.66vw;
  min-height: 200px;
}
/* line 13, ../sass/pages/_cook.scss */
.dish-brief .detail {
  position: relative;
  padding: 10px;
}
/* line 16, ../sass/pages/_cook.scss */
.dish-brief .detail h5 {
  font-size: 16px;
  font-weight: normal;
  margin-top: 5px;
}
/* line 21, ../sass/pages/_cook.scss */
.dish-brief .detail .brief {
  font-size: 13px;
  margin-bottom: 7px;
}
/* line 25, ../sass/pages/_cook.scss */
.dish-brief .detail .buy-button {
  position: fixed;
  top: 39%;
  top: calc(66.66vw + 14px);
  z-index: 1;
}

/* line 34, ../sass/pages/_cook.scss */
.info {
  padding: 0 10px;
  margin: 0 8px 60px;
  background-color: white;
}
/* line 35, ../sass/pages/_cook.scss */
.info img {
  width: 100%;
  min-height: 180px;
}

/* line 44, ../sass/pages/_cook.scss */
.ingredients .img {
  width: 100% !important;
}

/* line 48, ../sass/pages/_cook.scss */
.info-block {
  color: #646464;
}
/* line 50, ../sass/pages/_cook.scss */
.info-block p, .info-block span {
  font-size: 12px;
}
/* line 53, ../sass/pages/_cook.scss */
.info-block h6 {
  color: #646464;
  font-size: 13px;
}
/* line 57, ../sass/pages/_cook.scss */
.info-block h5 {
  color: #4b4b4c;
  margin-top: 20px;
  text-align: center;
  line-height: 36px;
  border-top: 1px solid rgba(195, 195, 195, 0.33);
  border-bottom: 1px solid rgba(195, 195, 195, 0.33);
}
/* line 64, ../sass/pages/_cook.scss */
.info-block h5::before, .info-block h5::after {
  content: " - ";
}
/* line 68, ../sass/pages/_cook.scss */
.info-block.feature-block h5 {
  border-top: 0;
  margin-top: 10px;
}
/* line 72, ../sass/pages/_cook.scss */
.info-block .row {
  margin-right: 0;
  margin-left: 0;
}
/* line 76, ../sass/pages/_cook.scss */
.info-block .txt-info {
  overflow: hidden;
}
/* line 79, ../sass/pages/_cook.scss */
.info-block .feature:not(last-child) {
  margin-bottom: 10px;
}

/* line 4, ../sass/pages/_cart.scss */
.cart-body {
  background-color: white;
}

/* line 10, ../sass/pages/_cart.scss */
.cart-main {
  margin-bottom: 60px;
  padding: 12px 12px 0;
}
/* line 13, ../sass/pages/_cart.scss */
.cart-main .select {
  background-repeat: no-repeat;
  background-image: url('../img/icons-s66e3f122eb.png');
  background-position: 0 -234px;
  height: 24px;
  width: 24px;
  -moz-background-size: 98px auto;
  -o-background-size: 98px auto;
  -webkit-background-size: 98px auto;
  background-size: 98px auto;
  background-image: none;
  border: 1px #262626 solid;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
/* line 23, ../sass/pages/_cart.scss */
.cart-main .select.active {
  height: 24px;
  width: 24px;
  background: url('../img/icons/ForkIconHighlighted.png?1444051628') 50%/cover no-repeat;
  border: none;
}

/* line 33, ../sass/pages/_cart.scss */
.cart-block h4, .cart-block h5 {
  margin: 0;
}
/* line 36, ../sass/pages/_cart.scss */
.cart-block h4 {
  font-size: 14px;
  line-height: 2.4;
  font-weight: normal;
  border-bottom: 2px solid black;
  position: relative;
  padding-left: 36px;
}
/* line 44, ../sass/pages/_cart.scss */
.cart-block h4 .total {
  font-size: 13px;
  position: absolute;
  right: 0;
  bottom: 0;
}
/* line 51, ../sass/pages/_cart.scss */
.cart-block h4 .select {
  top: -2px;
}

/* line 58, ../sass/pages/_cart.scss */
.cart-list {
  overflow: hidden;
  background-color: white;
  position: relative;
  margin-bottom: 15px;
}
/* line 63, ../sass/pages/_cart.scss */
.cart-list li {
  position: relative;
}
/* line 66, ../sass/pages/_cart.scss */
.cart-list li.out-of-stock {
  opacity: .7;
}
/* line 70, ../sass/pages/_cart.scss */
.cart-list .dish-wrapper {
  border-bottom: 1px solid rgba(188, 188, 188, 0.2);
  border-top: 0;
  padding: 10px 0;
}
/* line 75, ../sass/pages/_cart.scss */
.cart-list li:last-child .dish-wrapper {
  border-bottom: 0;
}
/* line 78, ../sass/pages/_cart.scss */
.cart-list .dish-img {
  left: 38px;
  position: absolute;
  width: 75px;
  height: 75px;
  background: 50% / cover no-repeat;
}
/* line 85, ../sass/pages/_cart.scss */
.cart-list .dish-detail {
  margin-left: 132px;
  height: 75px;
}
/* line 88, ../sass/pages/_cart.scss */
.cart-list .dish-detail h5 {
  font-size: 15px;
  font-weight: normal;
  min-height: 32px;
}
/* line 93, ../sass/pages/_cart.scss */
.cart-list .dish-detail span {
  display: block;
}
/* line 96, ../sass/pages/_cart.scss */
.cart-list .dish-detail .sub-name {
  display: inline;
  font-size: 12px;
  color: gray;
}
/* line 101, ../sass/pages/_cart.scss */
.cart-list .dish-detail .stock {
  font-size: 14px;
}
/* line 103, ../sass/pages/_cart.scss */
.cart-list .dish-detail .stock.out-of-stock {
  color: #f44d4d;
}
/* line 107, ../sass/pages/_cart.scss */
.cart-list .dish-detail .rmb-char {
  color: #4b4b4c;
  font-weight: 200;
}
/* line 111, ../sass/pages/_cart.scss */
.cart-list .dish-detail > * {
  margin-bottom: 4px;
}
/* line 115, ../sass/pages/_cart.scss */
.cart-list .counter {
  position: absolute;
  height: 30px;
  line-height: 26px;
  text-align: center;
  right: 1px;
  top: 50px;
  outline: 1px solid #4b4b4c;
}
/* line 123, ../sass/pages/_cart.scss */
.cart-list .counter span {
  display: inline-block;
  font-size: 17px;
  height: 30px;
  width: 29px;
}
/* line 129, ../sass/pages/_cart.scss */
.cart-list .counter .number {
  width: 24px;
  height: 30px;
  color: inherit;
}

/* line 138, ../sass/pages/_cart.scss */
.no-delivery-tip {
  color: white;
  background-color: #f44d4d;
  height: 50px;
  line-height: 50px;
  text-indent: 2em;
}

/* line 148, ../sass/pages/_cart.scss */
.empty-cart .icon {
  margin: 34px auto;
  background-repeat: no-repeat;
  background-image: url('../img/icons-s66e3f122eb.png');
  background-position: 0 -117px;
  height: 98px;
  width: 98px;
  -moz-background-size: 98px auto;
  -o-background-size: 98px auto;
  -webkit-background-size: 98px auto;
  background-size: 98px auto;
}
/* line 152, ../sass/pages/_cart.scss */
.empty-cart .text {
  color: #969696;
}

/* line 3, ../sass/pages/_invite.scss */
.invite-body {
  background-color: white;
}

/* line 8, ../sass/pages/_invite.scss */
.invite-img-wrapper img {
  width: 90%;
}

/* line 13, ../sass/pages/_invite.scss */
.notes {
  margin-top: -10px;
  line-height: 1.9;
  margin-bottom: 3em;
  font-size: 15px;
}

/* line 20, ../sass/pages/_invite.scss */
.share-block {
  border: 2px solid #f44d4d;
  border-radius: 12px;
  background-color: #f44d4d;
  overflow: hidden;
  font-size: 15px;
  position: absolute;
  width: 93%;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 33, ../sass/pages/_invite.scss */
.share-block .content {
  background-color: #FFF6F6;
  padding: 15px;
}
/* line 36, ../sass/pages/_invite.scss */
.share-block .content select {
  width: 100%;
  -webkit-appearance: none;
  border: 1px solid #f44d4d !important;
  border-radius: 5px !important;
  padding: 0.3em !important;
  padding-right: 1.3em !important;
  background: url(../img/up-triangle.svg?a) 100% 45%/12px no-repeat white;
}
/* line 46, ../sass/pages/_invite.scss */
.share-block .content .txt {
  margin: 0 0 15px;
}
/* line 48, ../sass/pages/_invite.scss */
.share-block .content .txt .money {
  font-size: 40px;
  font-weight: 100;
  color: #f44d4d;
  padding-left: 2px;
  vertical-align: middle;
}
/* line 55, ../sass/pages/_invite.scss */
.share-block .content .txt .codes {
  line-height: 1.5;
  margin: 0;
  height: 57px;
  padding-top: 17px;
}
/* line 60, ../sass/pages/_invite.scss */
.share-block .content .txt .codes .caption {
  padding-right: 0;
}
/* line 63, ../sass/pages/_invite.scss */
.share-block .content .txt .codes .code {
  padding-left: .5em;
  background-color: #DAD5D5;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}
/* line 73, ../sass/pages/_invite.scss */
.share-block .content .inputs {
  margin: 0;
}
/* line 76, ../sass/pages/_invite.scss */
.share-block .content .col-xs-4:first-child {
  padding-left: 0;
}
/* line 79, ../sass/pages/_invite.scss */
.share-block .content .col-xs-8:last-child {
  padding-right: 0;
}
/* line 84, ../sass/pages/_invite.scss */
.share-block .button {
  color: white;
  background-color: #f44d4d;
  line-height: 2.5;
  font-weight: 100;
}

/* line 92, ../sass/pages/_invite.scss */
.tip {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
/* line 102, ../sass/pages/_invite.scss */
.tip .operation {
  font-size: 22px;
  line-height: 1.8;
  width: 360px;
  margin: 95px auto;
  text-align: center;
}
/* line 108, ../sass/pages/_invite.scss */
.tip .operation img {
  width: 54px;
  margin: 8px;
}
/* line 113, ../sass/pages/_invite.scss */
.tip .top-right-arrow {
  width: 82px;
  height: 103px;
  background: url(../img/top-right-arrow.png) no-repeat;
  background-size: 66px;
  position: absolute;
  top: 9px;
  right: -7px;
}

/* line 4, ../sass/pages/_coupons.scss */
.coupons-main .flat-button.invalid {
  border-color: #A7A7A7;
  color: #A7A7A7;
}
/* line 8, ../sass/pages/_coupons.scss */
.coupons-main .table-wrapper {
  overflow: auto;
}
/* line 10, ../sass/pages/_coupons.scss */
.coupons-main .table-wrapper p {
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 0;
}
/* line 16, ../sass/pages/_coupons.scss */
.coupons-main .table-wrapper table {
  min-width: 620px;
  text-align: center;
}

/* line 3, ../sass/pages/_wxpay.scss */
.wxpay-main {
  font-size: 16px;
  margin-top: 15px;
}
/* line 6, ../sass/pages/_wxpay.scss */
.wxpay-main .follow {
  width: 57%;
  margin: 90px auto 0;
}
/* line 10, ../sass/pages/_wxpay.scss */
.wxpay-main .follow h5 {
  text-align: justify;
  font-weight: 100;
  font-size: 16px;
  line-height: 1.4;
}
/* line 16, ../sass/pages/_wxpay.scss */
.wxpay-main .follow img {
  width: 100%;
}
/* line 21, ../sass/pages/_wxpay.scss */
.wxpay-main .qr-pay, .wxpay-main .pay-success {
  width: 95%;
  border: 1px solid #DADADA;
  border-radius: 3px;
  margin: 0 auto;
  background-color: white;
  padding: 0 7px;
}
/* line 29, ../sass/pages/_wxpay.scss */
.wxpay-main .qr-pay a, .wxpay-main .pay-success a {
  padding: 7px;
  color: white;
  display: block;
  background-color: #44b549;
  width: 68%;
  margin: 14px auto;
  font-size: 16px;
  border-radius: 2px;
}
/* line 40, ../sass/pages/_wxpay.scss */
.wxpay-main .qr-pay .title, .wxpay-main .pay-success .title {
  font-size: 12px;
  margin: 7px 0;
}
/* line 44, ../sass/pages/_wxpay.scss */
.wxpay-main .qr-pay .guide, .wxpay-main .pay-success .guide {
  font-size: 14px;
}
/* line 48, ../sass/pages/_wxpay.scss */
.wxpay-main .qr-pay h5, .wxpay-main .pay-success h5 {
  font-weight: 100;
}
/* line 51, ../sass/pages/_wxpay.scss */
.wxpay-main .qr-pay img, .wxpay-main .pay-success img {
  width: 45%;
  margin-bottom: 15px;
}
/* line 55, ../sass/pages/_wxpay.scss */
.wxpay-main .qr-pay hr, .wxpay-main .pay-success hr {
  margin: 0;
}

/* line 3, ../sass/pages/_balance.scss */
.balance-main {
  margin-top: -10px;
}
/* line 6, ../sass/pages/_balance.scss */
.balance-main .wrapper {
  background-color: white;
  padding-top: 24px;
  padding-bottom: 2px;
}
/* line 10, ../sass/pages/_balance.scss */
.balance-main .wrapper .balance-big-icon {
  background-repeat: no-repeat;
  background-image: url('../img/icons-s66e3f122eb.png');
  background-position: 0 0;
  height: 98px;
  width: 98px;
  -moz-background-size: 98px auto;
  -o-background-size: 98px auto;
  -webkit-background-size: 98px auto;
  background-size: 98px auto;
}
/* line 13, ../sass/pages/_balance.scss */
.balance-main .wrapper .title {
  font-weight: 100;
}
/* line 16, ../sass/pages/_balance.scss */
.balance-main .wrapper .balance {
  font-size: 50px;
  font-weight: 200;
}
/* line 21, ../sass/pages/_balance.scss */
.balance-main .wrapper .charge-group a {
  margin: 10px auto;
  display: block;
  font-size: 18px;
  line-height: 2.3;
  width: 95%;
  border: 1px solid;
  border-radius: 4px;
}
/* line 29, ../sass/pages/_balance.scss */
.balance-main .wrapper .charge-group a.online-charge {
  color: #f44d4d;
}
/* line 36, ../sass/pages/_balance.scss */
.balance-main .charge-history {
  background-color: white;
  display: block;
  line-height: 2.3;
  margin-top: 10px;
  font-size: 17px;
}

/* line 4, ../sass/pages/_chargebalance.scss */
.charge-balance-main .form-group {
  margin-bottom: 0;
}
/* line 6, ../sass/pages/_chargebalance.scss */
.charge-balance-main .form-group input {
  background-color: white;
}
/* line 10, ../sass/pages/_chargebalance.scss */
.charge-balance-main .charge-button {
  display: block;
  text-align: center;
  background-color: white;
  margin: 0 10px;
  line-height: 2.8;
  color: #f44d4d;
}
/* line 17, ../sass/pages/_chargebalance.scss */
.charge-balance-main .charge-button.invalid {
  color: #B1B1B1;
}

/* line 3, ../sass/pages/_balancerecords.scss */
.balance-records-body {
  background-color: white;
}

/* line 6, ../sass/pages/_balancerecords.scss */
.balance-records-main {
  margin-top: -10px;
  padding: 0 14px;
}
/* line 9, ../sass/pages/_balancerecords.scss */
.balance-records-main li {
  position: relative;
  border-bottom: 1px #F1F1F1 solid;
  padding: 2px 0 4px;
}
/* line 14, ../sass/pages/_balancerecords.scss */
.balance-records-main li .record-detail h5 {
  font-weight: 100;
  font-size: 15px;
  margin-bottom: 2px;
}
/* line 19, ../sass/pages/_balancerecords.scss */
.balance-records-main li .record-detail div {
  color: gray;
}
/* line 23, ../sass/pages/_balancerecords.scss */
.balance-records-main li .number {
  position: absolute;
  right: 2px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 30px;
  line-height: 30px;
  font-size: 24px;
  font-weight: 100;
  color: #f44d4d;
}
/* line 34, ../sass/pages/_balancerecords.scss */
.balance-records-main li .number::before {
  content: '+';
  vertical-align: text-bottom;
}
/* line 38, ../sass/pages/_balancerecords.scss */
.balance-records-main li .number.minus {
  color: #72CA62;
}
/* line 40, ../sass/pages/_balancerecords.scss */
.balance-records-main li .number.minus::before {
  content: "-";
}

/* line 3, ../sass/pages/_chargebalanceonline.scss */
.cur-balance {
  line-height: 50px;
  color: #6B6B6B;
  padding: 0 10px;
  margin-bottom: 20px;
  background-color: white;
}
/* line 10, ../sass/pages/_chargebalanceonline.scss */
.cur-balance i {
  font-style: normal;
  color: #4b4b4c;
}

/* line 17, ../sass/pages/_chargebalanceonline.scss */
.charge-balance-online-main .selections {
  background-color: white;
  padding-left: 18px;
  margin-bottom: 20px;
}
/* line 21, ../sass/pages/_chargebalanceonline.scss */
.charge-balance-online-main .selections li {
  line-height: 41px;
}
/* line 23, ../sass/pages/_chargebalanceonline.scss */
.charge-balance-online-main .selections li:not(:last-child) {
  border-bottom: 1px solid #F1F1F1;
}
/* line 26, ../sass/pages/_chargebalanceonline.scss */
.charge-balance-online-main .selections li span {
  display: inline-block;
}
/* line 28, ../sass/pages/_chargebalanceonline.scss */
.charge-balance-online-main .selections li span:first-child {
  width: 40%;
}
/* line 31, ../sass/pages/_chargebalanceonline.scss */
.charge-balance-online-main .selections li span:nth-child(2) {
  width: 49%;
}
/* line 36, ../sass/pages/_chargebalanceonline.scss */
.charge-balance-online-main .selections .glyphicon-ok {
  color: #f44d4d;
}
/* line 40, ../sass/pages/_chargebalanceonline.scss */
.charge-balance-online-main .confirm {
  line-height: 50px;
  background-color: white;
  text-align: center;
  color: #f44d4d;
}

/* line 3, ../sass/pages/_orderaddress.scss */
html.order-address-html {
  height: 100%;
}
/* line 6, ../sass/pages/_orderaddress.scss */
html.order-address-html body {
  height: 100%;
}

/* line 11, ../sass/pages/_orderaddress.scss */
.order-address-main {
  padding: 12px;
}
/* line 14, ../sass/pages/_orderaddress.scss */
.order-address-main .address-list {
  margin-bottom: 51px;
}
/* line 17, ../sass/pages/_orderaddress.scss */
.order-address-main .address-list li {
  border: 2px solid #DCDFDE;
  padding: 5px 0;
  color: #777;
  position: relative;
}
/* line 22, ../sass/pages/_orderaddress.scss */
.order-address-main .address-list li:not(:first-child) {
  margin: 12px 0;
}
/* line 26, ../sass/pages/_orderaddress.scss */
.order-address-main .address-list li .deliverable-tag {
  font-size: 12px;
  position: absolute;
  z-index: 10;
  right: 0;
  top: 6px;
  color: white;
  background-color: #E2E2E2;
  line-height: 2;
  padding: 0 .9em;
}
/* line 38, ../sass/pages/_orderaddress.scss */
.order-address-main .address-list li form {
  position: absolute;
  background-color: white;
  top: 0;
  width: 100%;
}
/* line 45, ../sass/pages/_orderaddress.scss */
.order-address-main .address-list li form > div, .order-address-main .address-list li > div {
  line-height: 34px;
  padding-left: 10px;
  height: 40px;
  position: relative;
}
/* line 54, ../sass/pages/_orderaddress.scss */
.order-address-main .address-list li form > div.with-tag .err-tip {
  right: 83px;
}
/* line 58, ../sass/pages/_orderaddress.scss */
.order-address-main .address-list li form > div.selects {
  width: 100%;
}
/* line 60, ../sass/pages/_orderaddress.scss */
.order-address-main .address-list li form > div.selects .select {
  position: relative;
  display: inline-block;
  width: 31%;
}
/* line 64, ../sass/pages/_orderaddress.scss */
.order-address-main .address-list li form > div.selects .select::after {
  font-weight: 700;
  content: '';
  position: absolute;
  right: 10px;
  top: 16px;
  border: 5px transparent solid;
  border-top: 6px black solid;
}
/* line 74, ../sass/pages/_orderaddress.scss */
.order-address-main .address-list li form > div.selects select {
  width: 100%;
  height: 37px;
  background-color: white;
  -webkit-appearance: none;
}
/* line 83, ../sass/pages/_orderaddress.scss */
.order-address-main .address-list li .location {
  position: absolute;
  right: 13px;
  border: 1px solid;
  top: 0;
  margin: auto;
  bottom: 0;
  line-height: 26px;
  padding: 0 10px;
  font-size: 12px;
  height: 27px;
}
/* line 96, ../sass/pages/_orderaddress.scss */
.order-address-main .address-list li input {
  width: 100%;
  height: 37px;
  line-height: 1.428;
}
/* line 103, ../sass/pages/_orderaddress.scss */
.order-address-main .address-list li .cur-show {
  display: none;
}
/* line 107, ../sass/pages/_orderaddress.scss */
.order-address-main .address-list li .user-actions {
  display: none;
}
/* line 111, ../sass/pages/_orderaddress.scss */
.order-address-main .address-list li.cur {
  padding: 0;
  border-color: black;
  color: black;
}
/* line 116, ../sass/pages/_orderaddress.scss */
.order-address-main .address-list li.cur form > div, .order-address-main .address-list li.cur > div {
  line-height: 38px;
}
/* line 120, ../sass/pages/_orderaddress.scss */
.order-address-main .address-list li.cur form > div:not(:last-child), .order-address-main .address-list li.cur > div:not(:last-child) {
  border-bottom: 2px dotted white;
}
/* line 124, ../sass/pages/_orderaddress.scss */
.order-address-main .address-list li.cur .deliverable-tag {
  background-color: black;
}
/* line 128, ../sass/pages/_orderaddress.scss */
.order-address-main .address-list li.cur .cur-show {
  display: block;
}
/* line 132, ../sass/pages/_orderaddress.scss */
.order-address-main .address-list li.cur .user-actions {
  opacity: .5;
  display: block;
  position: absolute;
  right: 5px;
  bottom: 0;
}
/* line 138, ../sass/pages/_orderaddress.scss */
.order-address-main .address-list li.cur .user-actions span {
  padding: .5em;
}
/* line 140, ../sass/pages/_orderaddress.scss */
.order-address-main .address-list li.cur .user-actions span:not(:last-child) {
  margin-right: 1.3em;
}
/* line 147, ../sass/pages/_orderaddress.scss */
.order-address-main .address-list li.cur.edit form > div, .order-address-main .address-list li.cur.edit > div {
  border-bottom-color: #bbbbbb;
}
/* line 150, ../sass/pages/_orderaddress.scss */
.order-address-main .address-list li.cur.edit .user-actions {
  display: none;
}

/* line 6, ../sass/pages/_search-address.scss */
.search-address-main {
  padding: 0 12px;
}
/* line 9, ../sass/pages/_search-address.scss */
.search-address-main form {
  padding: 13px 0 10px 8px;
  border-bottom: 1px solid gray;
  position: relative;
}
/* line 14, ../sass/pages/_search-address.scss */
.search-address-main form input {
  width: 100%;
}
/* line 18, ../sass/pages/_search-address.scss */
.search-address-main form .confirm {
  position: absolute;
  bottom: 7px;
  right: 0;
  text-align: center;
  padding: 3px 11px;
  border: 1px solid black;
}
/* line 25, ../sass/pages/_search-address.scss */
.search-address-main form .confirm.invalid {
  border-color: #A7A7A7;
}
/* line 31, ../sass/pages/_search-address.scss */
.search-address-main .find-address-tip {
  font-size: 13px;
  background: #E6E6E6;
  line-height: 1.8;
  text-indent: 0.5em;
  color: #5D5D5D;
}
/* line 39, ../sass/pages/_search-address.scss */
.search-address-main .no-address-tip {
  text-align: center;
  padding-top: 20px;
  color: gray;
}
/* line 43, ../sass/pages/_search-address.scss */
.search-address-main .no-address-tip h4 {
  font-weight: 400;
  font-size: 16px;
}
/* line 49, ../sass/pages/_search-address.scss */
.search-address-main .results {
  margin-top: 1.2em;
}
/* line 51, ../sass/pages/_search-address.scss */
.search-address-main .results h4 {
  font-size: 14px;
  margin-bottom: 4px;
}
/* line 55, ../sass/pages/_search-address.scss */
.search-address-main .results p {
  font-size: 12px;
  margin-bottom: 14px;
}

/* line 3, ../sass/pages/_order-pay.scss */
.order-pay-main {
  padding: 2px 14px 8px;
  margin-bottom: 51px;
}
/* line 7, ../sass/pages/_order-pay.scss */
.order-pay-main .block {
  margin-bottom: 7px;
  overflow: hidden;
}
/* line 11, ../sass/pages/_order-pay.scss */
.order-pay-main .block input, .order-pay-main .block select, .order-pay-main .block textarea {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}
/* line 17, ../sass/pages/_order-pay.scss */
.order-pay-main .block textarea.border {
  border: 1px solid black !important;
}
/* line 21, ../sass/pages/_order-pay.scss */
.order-pay-main .block select {
  -webkit-appearance: none;
  background-color: white;
}
/* line 26, ../sass/pages/_order-pay.scss */
.order-pay-main .block h4 {
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 1em;
}
/* line 31, ../sass/pages/_order-pay.scss */
.order-pay-main .block h4::before, .order-pay-main .block h4::after {
  content: ' — ';
}
/* line 36, ../sass/pages/_order-pay.scss */
.order-pay-main .block h4 + div:not(.border) {
  margin-top: -10px;
}
/* line 40, ../sass/pages/_order-pay.scss */
.order-pay-main .block div:not(.border) + div.border {
  margin-top: 5px;
}
/* line 45, ../sass/pages/_order-pay.scss */
.order-pay-main .block.price-group div {
  line-height: 2.2;
}
/* line 48, ../sass/pages/_order-pay.scss */
.order-pay-main .block.price-group .total {
  font-size: 16px;
}
/* line 53, ../sass/pages/_order-pay.scss */
.order-pay-main .block .select-group {
  text-align: center;
}
/* line 55, ../sass/pages/_order-pay.scss */
.order-pay-main .block .select-group .select {
  position: relative;
  display: inline-block;
}
/* line 58, ../sass/pages/_order-pay.scss */
.order-pay-main .block .select-group .select:first-child {
  width: 44%;
}
/* line 61, ../sass/pages/_order-pay.scss */
.order-pay-main .block .select-group .select:last-child {
  width: 53%;
}
/* line 64, ../sass/pages/_order-pay.scss */
.order-pay-main .block .select-group .select:first-child:last-child {
  width: 100%;
}
/* line 69, ../sass/pages/_order-pay.scss */
.order-pay-main .block .select-group.one-time {
  text-align: left;
}
/* line 74, ../sass/pages/_order-pay.scss */
.order-pay-main .block > div {
  font-size: 15px;
  position: relative;
  line-height: 2.55;
}
/* line 79, ../sass/pages/_order-pay.scss */
.order-pay-main .block > div .dish-title {
  display: inline-block;
  max-width: 85%;
}
@media (max-width: 320px) {
  /* line 79, ../sass/pages/_order-pay.scss */
  .order-pay-main .block > div .dish-title {
    font-size: 14px;
  }
}
/* line 87, ../sass/pages/_order-pay.scss */
.order-pay-main .block > div .quantity {
  font-style: italic;
  font-size: 13px;
}
/* line 92, ../sass/pages/_order-pay.scss */
.order-pay-main .block > div .fee {
  position: absolute;
  right: 0;
}
@media (max-width: 320px) {
  /* line 92, ../sass/pages/_order-pay.scss */
  .order-pay-main .block > div .fee {
    font-size: 14px;
    top: 2px;
  }
}
/* line 101, ../sass/pages/_order-pay.scss */
.order-pay-main .block > div .exchange-invite-code {
  right: 0.5em;
}
/* line 103, ../sass/pages/_order-pay.scss */
.order-pay-main .block > div .exchange-invite-code a {
  color: #428bca;
}
/* line 108, ../sass/pages/_order-pay.scss */
.order-pay-main .block > div.border, .order-pay-main .block > div .border {
  border: 1px solid black;
  padding: 0 3px 0 8px;
  margin: 11px 0;
}
/* line 112, ../sass/pages/_order-pay.scss */
.order-pay-main .block > div.border .checkbox.icon, .order-pay-main .block > div .border .checkbox.icon {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 7px;
  height: 24px;
  width: 24px;
  background: url('../img/icons/ForkIconHighlighted.png?1444051628') 50%/cover no-repeat;
}
/* line 120, ../sass/pages/_order-pay.scss */
.order-pay-main .block > div.border .checkbox.icon.inactive, .order-pay-main .block > div .border .checkbox.icon.inactive {
  background-repeat: no-repeat;
  background-image: url('../img/icons-s66e3f122eb.png');
  background-position: 0 -234px;
  height: 24px;
  width: 24px;
  -moz-background-size: 98px auto;
  -o-background-size: 98px auto;
  -webkit-background-size: 98px auto;
  background-size: 98px auto;
}
/* line 125, ../sass/pages/_order-pay.scss */
.order-pay-main .block > div.has-icon {
  padding-left: 37px;
}
/* line 129, ../sass/pages/_order-pay.scss */
.order-pay-main .block > div.select::after, .order-pay-main .block > div .select::after {
  font-weight: 700;
  content: '···';
  position: absolute;
  right: 8px;
  top: 0;
}

@media (max-width: 320px) {
  /* line 141, ../sass/pages/_order-pay.scss */
  .order-pay-main .coupon-group span {
    font-size: 13px;
  }

  /* line 144, ../sass/pages/_order-pay.scss */
  .select-group:not(.one-time) select {
    font-size: 12px;
  }
}
/* line 3, ../sass/_components.scss */
.shopping-progress-bar {
  padding-top: 4px;
}
/* line 6, ../sass/_components.scss */
.shopping-progress-bar .states {
  line-height: 2.3;
  font-size: 0;
  color: #B9B9B9;
}
/* line 10, ../sass/_components.scss */
.shopping-progress-bar .states span {
  display: inline-block;
  width: 33%;
  text-align: center;
  font-size: 15px;
}
/* line 16, ../sass/_components.scss */
.shopping-progress-bar .states span.cur {
  color: black;
}
/* line 23, ../sass/_components.scss */
.shopping-progress-bar .state-bar-container {
  height: 8px;
  background-color: #DBDCDD;
  overflow: hidden;
}
/* line 28, ../sass/_components.scss */
.shopping-progress-bar .state-bar-container .indicator {
  height: 100%;
  background-color: black;
  position: relative;
}
/* line 33, ../sass/_components.scss */
.shopping-progress-bar .state-bar-container .indicator.state1 {
  width: 33%;
}
/* line 36, ../sass/_components.scss */
.shopping-progress-bar .state-bar-container .indicator.state2 {
  width: 66%;
}
/* line 39, ../sass/_components.scss */
.shopping-progress-bar .state-bar-container .indicator.state3 {
  width: 99%;
}
/* line 43, ../sass/_components.scss */
.shopping-progress-bar .state-bar-container .indicator::after {
  content: '';
  border: 4px solid transparent;
  border-left-color: black;
  position: absolute;
  right: -8px;
}

/* line 56, ../sass/_components.scss */
.cart-bar2 {
  font-size: 0;
  margin: 0;
  height: 51px;
  line-height: 51px;
  box-shadow: #9C9999 0 0 1px;
  width: 100%;
  position: fixed;
  z-index: 10;
  bottom: 0;
}
/* line 67, ../sass/_components.scss */
.cart-bar2 > * {
  display: inline-block;
  font-size: 16px;
  text-align: center;
}
/* line 73, ../sass/_components.scss */
.cart-bar2 .back-to-menu {
  width: 38.2%;
  color: #C7C7C7;
  background-color: #262626;
}
/* line 79, ../sass/_components.scss */
.cart-bar2 .next {
  width: 61.8%;
  background-color: #f44d4d;
  color: white;
}
/* line 83, ../sass/_components.scss */
.cart-bar2 .next.invalid {
  background-color: #B3B3B3;
}

/* line 89, ../sass/_components.scss */
.buy-button {
  position: absolute;
  background-color: #f44d4d;
  top: 8px;
  right: 0;
  text-align: center;
  padding: 2px;
  color: white;
  width: 63px;
}
/* line 98, ../sass/_components.scss */
.buy-button .text {
  font-size: 12px;
  margin: -4px 0 1px;
}
/* line 102, ../sass/_components.scss */
.buy-button .price {
  font-size: 18px;
  margin-right: -2px;
}
/* line 105, ../sass/_components.scss */
.buy-button .price span {
  position: relative;
}
/* line 107, ../sass/_components.scss */
.buy-button .price span::before {
  content: '¥';
  position: absolute;
  top: 1px;
  left: -0.6em;
  line-height: normal;
  font-size: 10px;
}
/* line 118, ../sass/_components.scss */
.buy-button.out-of-stock {
  background-color: #B9B9B9;
}

/* line 123, ../sass/_components.scss */
.geetest-sms-button-group {
  position: relative;
}
/* line 125, ../sass/_components.scss */
.geetest-sms-button-group .geetest-sms-button {
  text-align: center;
  height: 40px;
  line-height: 38px;
  color: #4b4b4c;
  margin: 5px 12px;
  border: 1px solid;
}
/* line 133, ../sass/_components.scss */
.geetest-sms-button-group .geetest-sms-button.invalid {
  color: #A7A7A7;
}
/* line 137, ../sass/_components.scss */
.geetest-sms-button-group span {
  display: block;
}

/* line 142, ../sass/_components.scss */
#geetestContainer {
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
}

/* line 149, ../sass/_components.scss */
.tips {
  margin-bottom: 15px;
  font-size: 13px;
  color: #696969;
}
/* line 153, ../sass/_components.scss */
.tips span {
  vertical-align: text-top;
  margin-right: 0.4em;
}
/* line 154, ../sass/_components.scss */
.tips span:not(:first-child) {
  margin-left: 1em;
}
