/* line 48, icons/*.png */
.icons-sprite, .back-icon {
  background-image: url('../img/icons-sfaf432e4e6.png');
  background-repeat: no-repeat;
}

/* line 5, ../sass/_base.scss */
html {
  font-family: Helvetica, Arial, sans-serif;
}

/* line 9, ../sass/_base.scss */
body {
  background-color: #f4f4f4;
  color: #4b4b4c;
}

/* line 15, ../sass/_base.scss */
a:link, a:visited, a:focus, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

/* line 21, ../sass/_base.scss */
::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

/* line 24, ../sass/_base.scss */
:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

/* line 27, ../sass/_base.scss */
::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
}

/* line 37, ../sass/_base.scss */
.nav {
  background-color: white;
}

/* line 41, ../sass/_base.scss */
.back-icon {
  background-position: 0 0;
  background-size: contain;
  position: absolute;
  left: 0;
  width: 47px;
  height: 100px;
  top: 12px;
}

/***** login *****/
/* line 6, ../sass/_login.scss */
.login-nav {
  text-align: center;
  margin-bottom: 23px;
}
/* line 10, ../sass/_login.scss */
.login-nav a:nth-child(2) {
  margin-right: 38px;
}
/* line 14, ../sass/_login.scss */
.login-nav span {
  line-height: 45px;
  border-bottom: solid 1px transparent;
  padding: 0 15px 14px;
}
/* line 19, ../sass/_login.scss */
.login-nav span:nth-child(2) {
  margin-right: 38px;
}
/* line 23, ../sass/_login.scss */
.login-nav span.active {
  color: #f44d4d;
  border-color: #f44d4d;
}

/* line 30, ../sass/_login.scss */
.login-form-group {
  background-color: white;
  position: relative;
}

/* line 36, ../sass/_login.scss */
.login-form input, .signup-form input {
  border: none;
  box-shadow: none !important;
  border-radius: 0;
}
/* line 41, ../sass/_login.scss */
.login-form .form-control, .signup-form .form-control {
  height: 40px;
}

/* line 46, ../sass/_login.scss */
.login-button {
  width: 95%;
  margin: 20px auto 0;
}

/* line 52, ../sass/_login.scss */
.sms-button {
  position: absolute;
  border: 1px #f44d4d solid;
  border-radius: 5px;
  width: 160px;
  text-align: center;
  height: 31px;
  line-height: 30px;
  top: 46px;
  right: 11px;
}

/* line 64, ../sass/_login.scss */
.login-form-line {
  margin: 0 5px 0 12px;
  border-bottom: 1px solid #bcbcbc;
  border-top: 0;
  opacity: 0.5;
}
