@charset "UTF-8";
/* line 112, icons/*.png */
.icons-sprite {
  background-image: url('../img/icons-s7c884f0b6a.png');
  background-repeat: no-repeat;
}

/* line 16, ../sass/_base.scss */
html {
  font-family: Helvetica, Arial, sans-serif;
}

/* line 20, ../sass/_base.scss */
body {
  background-color: #f4f4f4;
  color: #4b4b4c;
}

/* line 26, ../sass/_base.scss */
a:link, a:visited, a:focus, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

/* line 32, ../sass/_base.scss */
ul, li {
  list-style: none;
  padding: 0;
}

/* line 37, ../sass/_base.scss */
input, textarea, select, option {
  border-radius: 0 !important;
  border: none !important;
  box-shadow: none !important;
}

/* line 43, ../sass/_base.scss */
::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

/* line 46, ../sass/_base.scss */
:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

/* line 49, ../sass/_base.scss */
::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3) !important;
}

/* line 53, ../sass/_base.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 61, ../sass/_base.scss */
.form-horizontal .control-label {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: left;
}

/* line 67, ../sass/_base.scss */
label {
  font-weight: 400;
}

/* line 73, ../sass/_base.scss */
.nav {
  background-color: white;
  text-align: center;
  line-height: 45px;
  margin-bottom: 10px;
  position: relative;
  box-shadow: #DEDEDE 0 0 1px;
}

/* line 82, ../sass/_base.scss */
.back-icon {
  background: url(../img/icons/NavBarBackIcon.png) no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  width: 47px;
  height: 34px;
  top: 12px;
}

/* line 92, ../sass/_base.scss */
.form-line {
  margin: 0 5px 0 12px;
  border-bottom: 1px solid #bcbcbc;
  border-top: 0;
  opacity: 0.5;
}

/* line 99, ../sass/_base.scss */
.plus-char::before {
  content: 'X';
}

/* line 103, ../sass/_base.scss */
.rmb-char::before {
  content: "¥ ";
}

/* line 106, ../sass/_base.scss */
.rmb-char.negative::before {
  content: "- ¥ ";
}

/* line 109, ../sass/_base.scss */
[ng-cloak] {
  display: none;
}

/***** login *****/
/* line 6, ../sass/_login.scss */
.login-nav {
  margin-bottom: 23px;
}
/* line 13, ../sass/_login.scss */
.login-nav span {
  border-bottom: solid 1px transparent;
  padding: 0 15px 14px;
}
/* line 17, ../sass/_login.scss */
.login-nav span:nth-child(2) {
  margin-right: 38px;
}
/* line 21, ../sass/_login.scss */
.login-nav span.active {
  color: #f44d4d;
  border-color: #f44d4d;
}

/* line 28, ../sass/_login.scss */
.login-form-group {
  background-color: white;
  position: relative;
}

/* line 34, ../sass/_login.scss */
.login-form input, .signup-form input {
  border: none;
  box-shadow: none !important;
}
/* line 38, ../sass/_login.scss */
.login-form .form-control, .signup-form .form-control {
  height: 40px;
}

/* line 43, ../sass/_login.scss */
.login-button {
  width: 95%;
  margin: 20px auto 0;
}

/* line 49, ../sass/_login.scss */
.forget-pwd-container {
  text-align: right;
  margin: 7px 7px -10px;
  font-size: 13px;
  color: #71736F;
}

/* line 56, ../sass/_login.scss */
.sms-button {
  position: absolute;
  border: 1px #f44d4d solid;
  border-radius: 5px;
  width: 160px;
  text-align: center;
  height: 31px;
  line-height: 30px;
  top: 46px;
  right: 11px;
}
/* line 57, ../sass/_login.scss */
.sms-button.invalid {
  color: #A7A7A7;
}

/* line 9, ../sass/_eat.scss */
.img-group img {
  width: 100%;
  min-height: 202px;
  height: 63.33vw;
}

/* line 16, ../sass/_eat.scss */
.eat-nav {
  margin-bottom: 10px;
  color: #f44d4d;
  font-size: 18px;
}
/* line 20, ../sass/_eat.scss */
.eat-nav .profile-icon {
  background: url(../img/icons/NavBarProfileIcon.png) no-repeat;
  height: 46px;
  position: absolute;
  width: 46px;
  background-size: contain;
  right: 0;
}

/* line 29, ../sass/_eat.scss */
.no-filter .count-operation {
  background-color: rgba(54, 55, 55, 0.78);
}

/* line 32, ../sass/_eat.scss */
.eat-list {
  width: 95%;
  margin: 0 auto;
}
/* line 36, ../sass/_eat.scss */
.eat-list li {
  background-color: white;
  margin-bottom: 17px;
  box-shadow: #DEDEDE 0 1px 1px;
}
/* line 40, ../sass/_eat.scss */
.eat-list li:last-child {
  margin-bottom: 60px;
}
/* line 44, ../sass/_eat.scss */
.eat-list .img-group {
  position: relative;
  overflow: hidden;
}
/* line 47, ../sass/_eat.scss */
.eat-list .img-group .count-operation {
  font-size: 0;
  font-weight: 100;
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  color: white;
}
/* line 55, ../sass/_eat.scss */
.eat-list .img-group .count-operation > div {
  height: 100%;
  display: inline-block;
  text-align: center;
  font-size: 50px;
  position: relative;
}
/* line 61, ../sass/_eat.scss */
.eat-list .img-group .count-operation > div .vertical-center {
  font-weight: 100;
  left: 0;
  height: 50px;
  line-height: 45px;
  width: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
}
/* line 73, ../sass/_eat.scss */
.eat-list .img-group .count-operation .subtract {
  width: 20%;
}
/* line 76, ../sass/_eat.scss */
.eat-list .img-group .count-operation .count {
  width: 60%;
}
/* line 79, ../sass/_eat.scss */
.eat-list .img-group .count-operation .add {
  width: 20%;
}
/* line 84, ../sass/_eat.scss */
.eat-list .img-group.blur img {
  /*    -webkit-filter: blur(10px);
      -moz-filter: blur(10px);
      filter: blur(10px);*/
}
/* line 89, ../sass/_eat.scss */
.eat-list .detail {
  padding: 0 10px 10px;
  position: relative;
}
/* line 92, ../sass/_eat.scss */
.eat-list .detail .title {
  margin: 12px 0 16px;
  font-size: 18px;
}
/* line 96, ../sass/_eat.scss */
.eat-list .detail .buy {
  line-height: 30px;
  height: 30px;
  position: absolute;
  width: 120px;
  right: 0;
  top: 0;
  font-size: 0;
  box-shadow: #C3C0C0 0 1px 1px;
}
/* line 105, ../sass/_eat.scss */
.eat-list .detail .buy .price {
  background-color: #ede2d0;
  font-size: 18px;
}
/* line 108, ../sass/_eat.scss */
.eat-list .detail .buy .price::before {
  content: "¥ ";
}
/* line 112, ../sass/_eat.scss */
.eat-list .detail .buy .button {
  background-color: #f44d4d;
  color: white;
  font-size: 16px;
}
/* line 116, ../sass/_eat.scss */
.eat-list .detail .buy .button.out-of-stock {
  background-color: #75A3B7;
}
/* line 120, ../sass/_eat.scss */
.eat-list .detail .buy span {
  height: 30px;
  text-align: center;
  width: 50%;
  display: inline-block;
}

/* line 131, ../sass/_eat.scss */
.selection-cover {
  background-color: rgba(88, 88, 88, 0.48);
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}

/** 多属性选择面板 **/
/* line 145, ../sass/_eat.scss */
.selections-container {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  z-index: 10;
  box-shadow: #9C9999 0 0 1px;
}
/* line 153, ../sass/_eat.scss */
.selections-container h4, .selections-container h5 {
  font-weight: 100;
}
/* line 157, ../sass/_eat.scss */
.selections-container h4 {
  position: relative;
  margin: 0;
  height: 64px;
  line-height: 64px;
  font-weight: 100;
}
/* line 165, ../sass/_eat.scss */
.selections-container .close-button {
  background: url(../img/icons/CloseIcon.png) 50%/contain no-repeat;
  width: 1.1em;
  height: 100%;
  position: absolute;
  right: 15px;
  opacity: 0.5;
  top: 0;
}
/* line 175, ../sass/_eat.scss */
.selections-container .properties {
  margin-bottom: 0;
}
/* line 177, ../sass/_eat.scss */
.selections-container .properties > li {
  border-top: 1px solid #DEDEDE;
  padding-left: 15px;
  padding-bottom: 14px;
}
/* line 184, ../sass/_eat.scss */
.selections-container .properties > li h5 {
  font-size: 15px;
  padding: 8px 0;
}
/* line 191, ../sass/_eat.scss */
.selections-container .selections {
  font-size: 16px;
}
/* line 193, ../sass/_eat.scss */
.selections-container .selections li {
  color: #f44d4d;
  display: inline-block;
  padding: 0 1.5em;
  border: 1px solid #f44d4d;
  height: 2.1em;
  line-height: 1.9em;
  border-radius: 6px;
}
/* line 201, ../sass/_eat.scss */
.selections-container .selections li:not(:last-child) {
  margin-right: 0.7em;
}
/* line 204, ../sass/_eat.scss */
.selections-container .selections li.selected {
  color: white;
  background-color: #f44d4d;
}
/* line 211, ../sass/_eat.scss */
.selections-container .counter-wrapper {
  border-top: 1px solid #DEDEDE;
  padding: 13px 0 15px 15px;
  position: relative;
}
/* line 215, ../sass/_eat.scss */
.selections-container .counter-wrapper i {
  line-height: 34px;
  font-style: normal;
  font-size: 15px;
}
/* line 220, ../sass/_eat.scss */
.selections-container .counter-wrapper .counter {
  display: inline-block;
  position: absolute;
  right: 15px;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  line-height: 34px;
  height: 36px;
  font-size: 0;
  color: #f44d4d;
}
/* line 230, ../sass/_eat.scss */
.selections-container .counter-wrapper .counter span {
  display: inline-block;
  width: 40px;
  font-size: 18px;
}
/* line 235, ../sass/_eat.scss */
.selections-container .counter-wrapper .counter span:not(:last-child) {
  border-right: 1px solid #DEDEDE;
}
/* line 238, ../sass/_eat.scss */
.selections-container .counter-wrapper .counter .number {
  width: 60px;
}
/* line 244, ../sass/_eat.scss */
.selections-container .add-to-cart-button {
  position: relative;
  height: 53px;
  line-height: 53px;
  font-size: 17px;
  width: 100%;
  background-color: #f44d4d;
  color: white;
}
/* line 252, ../sass/_eat.scss */
.selections-container .add-to-cart-button .rmb-char {
  position: absolute;
  left: 15px;
}
/* line 256, ../sass/_eat.scss */
.selections-container .add-to-cart-button.invalid {
  background-color: #C7C7C7;
}

/* line 264, ../sass/_eat.scss */
.address-cover {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgba(206, 208, 165, 0.7);
}

/* line 272, ../sass/_eat.scss */
.eat-address {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 9px 0 9px 40px;
  background-color: rgba(223, 223, 223, 0.8);
  box-shadow: #9C9999 0 0 1px;
  height: 53px;
}
/* line 280, ../sass/_eat.scss */
.eat-address .address-icon {
  position: absolute;
  height: 40px;
  width: 35px;
  left: 12px;
  bottom: -2px;
  background: url(../img/icons/LocationPinIcon.png) no-repeat;
  background-size: 48%;
}
/* line 290, ../sass/_eat.scss */
.eat-address .address-content .address-title {
  font-size: 10px;
}
/* line 293, ../sass/_eat.scss */
.eat-address .address-content .address-detail {
  font-size: 13px;
}
/* line 297, ../sass/_eat.scss */
.eat-address .cart {
  background: url(../img/icons/ToolbarCartIcon.png) no-repeat;
  background-size: 48%;
  position: absolute;
  right: -10px;
  top: 17px;
  width: 48px;
  height: 40px;
}
/* line 305, ../sass/_eat.scss */
.eat-address .cart .total-count {
  font-size: 10px;
  text-align: center;
  color: white;
  position: absolute;
  left: 17px;
  width: 14px;
  height: 14px;
  line-height: 14px;
  top: -4px;
  background: red;
  border-radius: 50%;
}

/* line 321, ../sass/_eat.scss */
.address-group {
  background-color: rgba(241, 241, 241, 0.78);
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* line 326, ../sass/_eat.scss */
.address-group .eat-address {
  position: relative;
}
/* line 329, ../sass/_eat.scss */
.address-group .address-list {
  font-size: 13px;
  padding: 0 7px;
  margin-bottom: 0;
}
/* line 333, ../sass/_eat.scss */
.address-group .address-list li {
  background-color: white;
  margin-top: 6px;
  padding: 17px 20px;
}
/* line 337, ../sass/_eat.scss */
.address-group .address-list li.active {
  border-left: #f44d4d 4px solid;
  padding-left: 16px;
}
/* line 343, ../sass/_eat.scss */
.address-group .address-button-wrapper {
  text-align: center;
  padding: 20px 26px;
}
/* line 346, ../sass/_eat.scss */
.address-group .address-button-wrapper span {
  border-radius: 3px;
  background-color: #8C8C8C;
  color: white;
  padding: 10px 33px;
}
/* line 352, ../sass/_eat.scss */
.address-group .address-button-wrapper > span {
  margin-right: 42px;
}

/* line 3, ../sass/_order.scss */
.form-block {
  padding: 3px 15px 3px 12px;
  background-color: white;
  margin-bottom: 12px;
}
/* line 7, ../sass/_order.scss */
.form-block .col-xs-3 {
  padding-right: 5px;
}
/* line 10, ../sass/_order.scss */
.form-block .col-xs-9, .form-block .col-xs-7 {
  padding-left: 0;
}
/* line 13, ../sass/_order.scss */
.form-block .form-line {
  margin: 0;
}
/* line 16, ../sass/_order.scss */
.form-block [type=radio] {
  margin-right: 4px;
}
/* line 19, ../sass/_order.scss */
.form-block input, .form-block textarea, .form-block select {
  background-color: #f4f4f4;
}
/* line 23, ../sass/_order.scss */
.form-block .row {
  line-height: 2.5;
}
/* line 27, ../sass/_order.scss */
.form-block .remark {
  margin-bottom: 10px;
}
/* line 31, ../sass/_order.scss */
.form-block .order-list .title {
  padding-left: 15px;
}
/* line 35, ../sass/_order.scss */
.form-block .order-list .select {
  border-radius: 50%;
  background-color: #e2e2e2;
  width: 22px;
  height: 22px;
  line-height: 23px;
  padding: 0;
  position: relative;
  right: -23px;
  top: 6px;
  color: white;
}
/* line 46, ../sass/_order.scss */
.form-block .order-list .select.active {
  background-color: #ff9595;
}
/* line 50, ../sass/_order.scss */
.form-block .time-btn-group {
  margin-top: 7px;
}
/* line 53, ../sass/_order.scss */
.form-block .time-btn {
  width: 252px;
  margin-right: 10px;
  border-radius: 5px;
  padding: 3px 20px;
  background-color: #e2e2e2;
  line-height: 1.2;
}
/* line 60, ../sass/_order.scss */
.form-block .time-btn.active {
  color: white;
  background-color: #f44d4d;
}
/* line 65, ../sass/_order.scss */
.form-block .promotion-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 71, ../sass/_order.scss */
.dish-list .form-line:last-of-type {
  border-color: transparent;
}

/* line 76, ../sass/_order.scss */
.pay .row {
  position: relative;
  padding-left: 43px;
}
/* line 80, ../sass/_order.scss */
.pay .icon {
  height: 23px;
  left: 19px;
  top: 5px;
  position: absolute;
  background: url(../img/icons/ForkIcon.png) no-repeat;
  background-size: contain;
}
/* line 87, ../sass/_order.scss */
.pay .icon.active {
  background: url(../img/icons/ForkIconHighlighted.png) no-repeat;
  background-size: contain;
}

/* line 94, ../sass/_order.scss */
.flat-button {
  border: 1px #f44d4d solid;
  border-radius: 4px;
  text-align: center;
  padding: 5px 10px;
  color: #f44d4d;
  line-height: 30px;
}

/* line 107, ../sass/_order.scss */
.price-block {
  background: transparent;
  margin-top: -10px;
}
/* line 110, ../sass/_order.scss */
.price-block .group-on {
  color: #f44d4d;
}
/* line 113, ../sass/_order.scss */
.price-block .price {
  width: 5.5em;
}
/* line 116, ../sass/_order.scss */
.price-block .sign {
  padding-right: 0;
}

/* line 121, ../sass/_order.scss */
.confirm-button {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  height: 52px;
  margin: -12px auto 0;
}
/* line 127, ../sass/_order.scss */
.confirm-button.valid {
  background-color: #f44d4d;
  color: white;
}
/* line 131, ../sass/_order.scss */
.confirm-button.invalid {
  background-color: #eee;
}

/* line 136, ../sass/_order.scss */
.pay-window {
  position: fixed;
  top: 36%;
  width: 95%;
  margin: 0 auto;
  right: 0;
  left: 0;
  background-color: white;
  padding: 30px;
  border-radius: 3px;
  box-shadow: 2px 2px 5px gray;
  border: 1px darkgrey solid;
}
/* line 148, ../sass/_order.scss */
.pay-window .order-success-tip {
  text-align: center;
  font-size: 16px;
  margin-bottom: 48px;
}
/* line 153, ../sass/_order.scss */
.pay-window .confirm-button {
  text-align: center;
  background: #44b549;
  color: white;
}

/* line 3, ../sass/_orderlist.scss */
.order-list-wrapper table {
  word-break: keep-all;
  width: 1000px;
}

/* line 8, ../sass/_orderlist.scss */
.repay {
  display: block;
  min-width: 50px;
  text-align: center;
  height: 25px;
  border-radius: 2px;
  line-height: 25px;
  border: 1px solid gray;
  background-color: white;
}

/* line 1, ../sass/_addresslist.scss */
.address-list {
  margin: 0 24px;
}
/* line 4, ../sass/_addresslist.scss */
.address-list li {
  position: relative;
  margin-bottom: 7px;
  background-color: white;
  padding-left: 37px;
}
/* line 10, ../sass/_addresslist.scss */
.address-list li .select-button {
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/icons/ForkIcon.png) 50% no-repeat;
  background-size: 65%;
  width: 36px;
  height: 100%;
}
/* line 18, ../sass/_addresslist.scss */
.address-list li .select-button.active {
  background: url(../img/icons/ForkIconHighlighted.png) 50% no-repeat;
  background-size: 65%;
}
/* line 23, ../sass/_addresslist.scss */
.address-list li .detail {
  padding-bottom: 8px;
  overflow-x: hidden;
}
/* line 27, ../sass/_addresslist.scss */
.address-list li .edit {
  background-color: #dddddd;
  color: #848280;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 63px;
  line-height: 63px;
}
/* line 38, ../sass/_addresslist.scss */
.address-list .warn-invalid-address {
  position: absolute;
  height: 100%;
  width: calc(100% - 63px);
  left: 0;
  top: 0;
  margin-right: 63px;
  line-height: 63px;
  background-color: rgba(247, 3, 3, 0.49);
  color: #F6FB04;
  font-size: 16px;
}

/* line 52, ../sass/_addresslist.scss */
.icon-add {
  position: absolute;
  top: 0;
  width: 45px;
  line-height: 38px;
  height: 45px;
  right: 0;
  font-size: 34px;
}
/* line 60, ../sass/_addresslist.scss */
.icon-add::before {
  content: "+";
}

/* line 3, ../sass/_addressedit.scss */
.address-edit-nav {
  margin: 0;
}
/* line 5, ../sass/_addressedit.scss */
.address-edit-nav .next-step {
  color: #BDBDBD;
  position: absolute;
  right: 0;
  width: 78px;
}
/* line 10, ../sass/_addressedit.scss */
.address-edit-nav .next-step.active {
  color: inherit;
}
/* line 14, ../sass/_addressedit.scss */
.address-edit-nav::after {
  content: '';
  display: block;
  border-bottom: solid 1px #bcbcbc;
  opacity: 0.5;
  border-top: 0;
}

/* line 23, ../sass/_addressedit.scss */
.address-edit-form {
  padding: 0 5px;
}
/* line 25, ../sass/_addressedit.scss */
.address-edit-form input {
  border: none;
  box-shadow: none !important;
}
/* line 29, ../sass/_addressedit.scss */
.address-edit-form .form-control {
  height: 40px;
}
/* line 32, ../sass/_addressedit.scss */
.address-edit-form .form-inline .form-control {
  display: inline-block;
  width: auto;
}
/* line 36, ../sass/_addressedit.scss */
.address-edit-form select {
  min-width: 7em;
  box-shadow: none;
  border: none;
  text-indent: 0.3em;
  width: 30%;
}

/* line 45, ../sass/_addressedit.scss */
.address-edit-body {
  background-color: white;
}

/* line 49, ../sass/_addressedit.scss */
.suggestion-addresses-wrapper {
  background-color: rgba(29, 29, 29, 0.69);
  color: white;
  position: absolute;
  width: 100%;
  overflow: auto;
  max-height: 400px;
  min-height: 300px;
  padding: 5px;
  z-index: 10;
  border-radius: 3px;
}
/* line 60, ../sass/_addressedit.scss */
.suggestion-addresses-wrapper h5 {
  margin-top: 5px;
  margin-bottom: 0;
}
/* line 65, ../sass/_addressedit.scss */
.suggestion-addresses-wrapper .search-addresses li {
  background: url(../img/icons/HouseIcon.png) 8px 50% no-repeat;
  background-size: auto 37%;
  padding: 10px 10px 10px 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 70, ../sass/_addressedit.scss */
.suggestion-addresses-wrapper .search-addresses li .general-address {
  font-size: 12px;
  padding-top: 3px;
  font-weight: 100;
}
/* line 77, ../sass/_addressedit.scss */
.suggestion-addresses-wrapper .address-not-found {
  padding: 27px;
}

/* line 82, ../sass/_addressedit.scss */
.action-group {
  height: 100px;
  padding: 80px 20px 0;
  color: #f44d4d;
}
/* line 87, ../sass/_addressedit.scss */
.action-group .glyphicon-trash {
  padding-right: 2px;
}
/* line 90, ../sass/_addressedit.scss */
.action-group .locate-icon {
  background: url(../img/icons/LocationIconEnabled.png) 50% no-repeat;
  background-size: 17%;
  background-position-x: 0;
  padding-left: 24px;
}

/* line 3, ../sass/_invite.scss */
.invite-body {
  background-color: white;
}

/* line 8, ../sass/_invite.scss */
.invite-img-wrapper img {
  width: 90%;
}

/* line 13, ../sass/_invite.scss */
.notes {
  margin-top: -10px;
  line-height: 1.9;
  margin-bottom: 3em;
  font-size: 15px;
}

/* line 20, ../sass/_invite.scss */
.share-block {
  border: 2px solid #f44d4d;
  border-radius: 12px;
  background-color: #f44d4d;
  overflow: hidden;
  font-size: 15px;
  position: absolute;
  width: 93%;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: auto;
}
/* line 33, ../sass/_invite.scss */
.share-block .content {
  background-color: #FFF6F6;
  padding: 15px;
}
/* line 36, ../sass/_invite.scss */
.share-block .content select {
  width: 100%;
  -webkit-appearance: none;
  border: 1px solid #f44d4d !important;
  border-radius: 5px !important;
  padding: 0.3em !important;
  padding-right: 1.3em !important;
  background: url(../img/up-triangle.svg?a) 100% 45%/12px no-repeat white;
}
/* line 46, ../sass/_invite.scss */
.share-block .content .txt {
  margin: 0 0 15px;
}
/* line 48, ../sass/_invite.scss */
.share-block .content .txt .money {
  font-size: 40px;
  font-weight: 100;
  color: #f44d4d;
  padding-left: 2px;
  vertical-align: middle;
}
/* line 55, ../sass/_invite.scss */
.share-block .content .txt .codes {
  line-height: 1.5;
  margin: 0;
  height: 57px;
  padding-top: 17px;
}
/* line 60, ../sass/_invite.scss */
.share-block .content .txt .codes .caption {
  padding-right: 0;
}
/* line 63, ../sass/_invite.scss */
.share-block .content .txt .codes .code {
  padding-left: .5em;
  background-color: #DAD5D5;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}
/* line 73, ../sass/_invite.scss */
.share-block .content .inputs {
  margin: 0;
}
/* line 76, ../sass/_invite.scss */
.share-block .content .col-xs-4:first-child {
  padding-left: 0;
}
/* line 79, ../sass/_invite.scss */
.share-block .content .col-xs-8:last-child {
  padding-right: 0;
}
/* line 84, ../sass/_invite.scss */
.share-block .button {
  color: white;
  background-color: #f44d4d;
  line-height: 2.5;
  font-weight: 100;
}

/* line 92, ../sass/_invite.scss */
.tip {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
/* line 102, ../sass/_invite.scss */
.tip .operation {
  font-size: 22px;
  line-height: 1.8;
  width: 360px;
  margin: 95px auto;
  text-align: center;
}
/* line 108, ../sass/_invite.scss */
.tip .operation img {
  width: 54px;
  margin: 8px;
}
/* line 113, ../sass/_invite.scss */
.tip .top-right-arrow {
  width: 82px;
  height: 103px;
  background: url(../img/top-right-arrow.png) no-repeat;
  background-size: 66px;
  position: absolute;
  top: 9px;
  right: -7px;
}

/* line 4, ../sass/_coupons.scss */
.coupons-main .flat-button.invalid {
  border-color: #A7A7A7;
  color: #A7A7A7;
}
/* line 8, ../sass/_coupons.scss */
.coupons-main .table-wrapper {
  overflow: auto;
}
/* line 10, ../sass/_coupons.scss */
.coupons-main .table-wrapper p {
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 0;
}
/* line 16, ../sass/_coupons.scss */
.coupons-main .table-wrapper table {
  min-width: 620px;
  text-align: center;
}
