<div class="selection-cover" ng-cloak ng-if="dish" ng-click="hide()"></div>
<div class="selections-container" ng-if="dish" ng-cloak>
    <div class="block">
        <h4 class="text-center">{{dish.title.zh}}<span ng-click="hide()" class="button close-button"></span></h4>
        <ul class="properties" ng-if="dish.preferences.length">
            <li ng-repeat="property in dish.preferences track by property._id">
                <h5>{{property.name.zh}}</h5>
                <ul class="selections">
                    <li ng-repeat="selection in property.foodMaterial track by selection._id"
                        ng-click="(!selection.outOfStock && selection.dish.isPublished) && (dish.curSelection[property.name.zh] = selection.dish)"
                        ng-class="{'no-stock': (selection.outOfStock || !selection.dish.isPublished),
                        selected: dish.curSelection[property.name.zh] == selection.dish}">
                        {{selection.dish.title.zh}}
                    </li>
                </ul>
            </li>
        </ul>
        <div class="counter-wrapper">
            <i>份数</i>
            <div class="counter text-center">
                <span ng-click="dish.count>0 && (dish.count=dish.count-1)" class="minus">-</span>
                <span class="number">{{dish.count}}</span>
                <span ng-click="dish.count=dish.count+1" class="add">+</span>
            </div>
        </div>
        <div class="add-to-cart-button text-center"
             ng-class="{invalid: dish.count == 0}"
             ng-click="dish.count>0 && addToCart(dish)">
            加入购物袋
        </div>
    </div>
</div>