@import "base";

.address-edit-nav {
  margin: 0;
  .next-step {
    color: #BDBDBD;
    position: absolute;
    right: 0;
    width: 78px;
    &.active {
      color: inherit;
    }
  }
  &::after {
    content: '';
    display: block;
    border-bottom: solid 1px $form-line-color;
    opacity: 0.5;
    border-top: 0;
  }
}

.address-edit-form {
  padding: 0 5px;
  input {
    border: none;
    box-shadow: none !important;
  }
  .form-control {
    height: 40px;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
  }
  select {
    min-width: 7em;
    box-shadow: none;
    border: none;
    text-indent: 0.3em;
    width: 30%;
  }
  .form-control-container {
    position: relative;
    .form-tip {
      position: absolute;
      padding-top: 10px;
      top: 0;
      font-size: 14px;
      line-height: 1.42;
      right: 12px;
      color: $primary-color
    }
  }
}

.address-edit-body {
  background-color: white;
}

.suggestion-addresses-wrapper {
  background-color: rgba(29, 29, 29, 0.69);
  color: white;
  position: absolute;
  width: 100%;
  overflow: auto;
  max-height: 400px;
  min-height: 300px;
  padding: 5px;
  z-index: 10;
  border-radius: 3px;
  h5 {
    margin-top: 5px;
    margin-bottom: 0;
  }
  .search-addresses {
    li {
      background: url(../img/icons/HouseIcon.png) 8px 50% no-repeat;
      background-size: auto 37%;
      padding: 10px 10px 10px 40px;
      border-bottom: 1px solid rgba(255,255,255,0.2);
      .general-address {
        font-size: 12px;
        padding-top: 3px;
        font-weight: 100;
      }
    }
  }
  .address-not-found {
    padding: 27px;
  }
}

.action-group {
  height: 100px;
  padding: 80px 20px 0;
  color: $primary-color;

  .glyphicon-trash {
    padding-right: 2px;
  }
  .locate-icon {
    background: url(../img/icons/LocationIconEnabled.png) 50% no-repeat;
    background-size: 17%;
    background-position-x: 0;
    padding-left: 24px;
  }
}