@import "base";

$select-btn-width: 100px;
.fav-list.cart-list {
  overflow: hidden;
  li {
    position: relative;
  }
  .select {
    background: url(../img/icons/ForkIcon.png) no-repeat 50% 50%/contain;
    width: 24px;
    height: 100%;
    position: absolute;
  }
  .dish-img {
    left: 38px;
  }
  .dish-detail {
    width: 120px;
    margin-left: 132px;
    h5 {
      font-size: 15px;
    }
  }
  .counter {
    position: absolute;
    height: 26px;
    line-height: 24px;
    text-align: center;
    right: -14px;
    top: 50px;
    span {
      display: inline-block;
      width: 40px;
      height: 26px;
      font-size: 18px;
      color: #A5A5A5;
    }
    .number {
      width: 45px;
      height: 26px;
      background-color: #E2E2E2;
      color: inherit;
      border-radius: 5px;
    }
  }
}


.cart-bar2 {
  font-size: 13px;
  margin: 0;
  height: $cart-bar-height;
  line-height: $cart-bar-height;
  box-shadow: #9C9999 0 0 1px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #EDE2D0;

  .select-all {
    background: url(../img/icons/ForkIconWhite.png) no-repeat 20% 50%/24%;
    padding-left: 49px;
    padding-right: 0;
  }

  .buy-button {
    background-color: $primary-color;
    color: white;
    font-size: 16px;
  }
}