@import "base";

.shopping-progress-bar {
  padding-top: 4px;

  .states {
    line-height: 2.3;
    font-size: 0;
    color: #B9B9B9;
    span {
      display: inline-block;
      width: 33%;
      text-align: center;
      font-size: 15px;

      &.cur {
        color: black;
      }
    }
  }

  $state-bar-height: 8px;
  .state-bar-container {
    height: $state-bar-height;
    background-color: #DBDCDD;
    overflow: hidden;

    .indicator {
      height: 100%;
      background-color: black;
      position: relative;

      &.state1 {
        width: 33%;
      }
      &.state2 {
        width: 66%;
      }
      &.state3 {
        width: 99%;
      }

      &::after {
        content: '';
        border: $state-bar-height/2 solid transparent;
        border-left-color: black;
        position: absolute;
        right: -$state-bar-height;
      }
    }
  }
}


// 作为新购物流程的footer
.cart-bar2 {
  font-size: 0;
  margin: 0;
  height: $cart-bar-height;
  line-height: $cart-bar-height;
  box-shadow: #9C9999 0 0 1px;
  width: 100%;
  position: fixed;
  z-index: 10;
  bottom: 0;

  & > * {
    display: inline-block;
    font-size: 16px;
    text-align: center;
  }

  .back-to-menu {
    width: 38.2%;
    color: #C7C7C7;
    background-color: $menu-nav-bg-color;
  }

  .next {
    width: 61.8%;
    background-color: $primary-color;
    color: white;
    &.invalid {
      background-color: #B3B3B3;
    }
  }
}

.buy-button {
  position: absolute;
  background-color: $primary-color;
  top: 8px;
  right: 0;
  text-align: center;
  padding: 2px;
  color: white;
  width: 63px;
  .text {
    font-size: 12px;
    margin: -4px 0 1px;
  }
  .price {
    font-size: 18px;
    margin-right: -2px;
    span {
      position: relative;
      &::before {
        content: '¥';
        position: absolute;
        top: 1px;
        left: -0.6em;
        line-height: normal;
        font-size: 10px;
      }
    }
  }

  &.out-of-stock {
    background-color:#B9B9B9;
  }
}

.geetest-sms-button-group {
  position: relative;
  .geetest-sms-button {
    text-align: center;
    height: 40px;
    line-height: 38px;
    color: $body-color;
    margin: 5px 12px;
    border: 1px solid;

    &.invalid {
      color: $invalid-text-color;
    }
  }
  span {
    display: block;
  }
}

#geetestContainer {
  position:absolute;
  z-index: 999;
  top: 0;
  left: 0;
}

.tips {
  margin-bottom: 15px;
  font-size: 13px;
  color: #696969;
  span {
    &:not(:first-child) {
      margin-left: 1em;
    }
    vertical-align: text-top;
    margin-right: 0.4em;
  }
}

.xw-modal-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;

  .xw-modal-backdrop {
    background-color: rgba(0, 0, 0, 0.55);
    position: absolute;
    height: 100%;
    width: 100%;
  }

  .xw-modal-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    z-index: 1;
  }
}

.xw-confirm {
  .xw-modal-content {
    height: 150px;
    width: 76%;
    max-width: 249px;
    border-radius: 4px;
    text-align: center;

    .text {
      height: 100px;
      text-align: center;
      line-height: 100px;
      font-size: 15px;
    }

    .button-group {
      font-size: 0;
      span {
        font-size: 14px;
        padding: 7px 13px;
        border: 1px solid;
        &:not(:last-child) {
          margin-right: 22px;
        }
      }
    }
  }
}