@import "compass/utilities/sprites";
@import "icons/*.png";
@import "base";

$buy-height: 30px;
$out-of-stock-bg-color: #75A3B7;

.img-group {
  img {
    width: 100%;
    min-height: 202px; // for browsers not supporting vw.
    height: 63.33vw; // 95% view port width * 2/3 (actual image's height/width ratio)
  }
}

.eat-nav {
  margin-bottom: 10px;
  font-size: 18px;
  color: #C1BEBE;
  .profile-icon {
    background: url(../img/icons/NavBarProfileIcon.png) no-repeat;
    height: 46px;
    position: absolute;
    width: 46px;
    background-size: contain;
    right: 0;
  }
  span {
    border-bottom: solid 1px transparent;
    padding: 0 15px 11px;

    &:nth-child(2) {
      margin-right: 38px;
    }

    &.active {
      color: $primary-color;
      border-color: $primary-color;
    }
  }
}
.no-filter .count-operation {
  background-color: rgba(54, 55, 55, 0.78);
}
.food-list {
  width: 95%;
  margin: 0 auto;

  li {
    background-color: white;
    margin-bottom: 17px;
    box-shadow: #DEDEDE 0 1px 1px;
    &:last-child {
      margin-bottom: $margin-to-cart-length;
    }
  }
  .img-group {
    background: white url(../img/ImagePlaceholder.png) 50%/cover no-repeat;
    position: relative;
    overflow: hidden;
    .count-operation {
      font-size: 0;
      font-weight: 100;
      top: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      color: white;
      > div {
        height: 100%;
        display: inline-block;
        text-align: center;
        font-size: 50px;
        position: relative;
        .vertical-center {
          font-weight: 100;
          left: 0;
          height: 50px;
          line-height: 45px;
          width: 100%;
          position: absolute;
          margin: auto;
          top: 0;
          bottom: 0;
        }
      }
      .subtract {
        width: 20%;
      }
      .count {
        width: 60%;
      }
      .add {
        width: 20%;
      }
    }
  }
  .img-group.blur img{
/*    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    filter: blur(10px);*/
  }
  .detail {
    padding: 0 10px 10px;
    position: relative;
    .title {
      margin: 12px 0 16px;
      font-size: 18px;
    }
    .user-actions {
      .like-icon {
        margin-top: 7px;
      }
    }
    .buy {
      line-height: $buy-height;
      height: $buy-height;
      position: absolute;
      width: 120px;
      right: 0;
      top: 0;
      font-size: 0;
      box-shadow: #C3C0C0 0 1px 1px;
      .price {
        background-color: $price-bg-color;
        font-size: 18px;
        &::before {
          content: '¥ '
        }
      }
      .button {
        background-color: $primary-color;
        color: white;
        font-size: 16px;
        &.out-of-stock {
          background-color: $out-of-stock-bg-color;
        }
      }
      span {
        height: $buy-height;
        text-align: center;
        width: 50%;
        display: inline-block;
      }
    }
  }
}

$address-icon-height: 40px;

.selection-cover {
  background-color: rgba(88, 88, 88, 0.48);
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}


/** 多属性选择面板 **/
$ms-border-color: #DEDEDE; // ms: multiple-selection
$ms-border: 1px solid $ms-border-color;
$sc-left-padding: 15px; //sc: selections-container
$sc-h5-font-size: 15px;
.selections-container {
  position: fixed;
  bottom: 0;
  background-color: white;
  width: 100%;
  z-index: 10;
  box-shadow: #9C9999 0 0 1px;

  h4, h5 {
    font-weight: 100;
  }

  h4 {
    position: relative;
    margin: 0;
    height: 64px;
    line-height: 64px;
    font-weight: 100;
  }

  .close-button {
    background: url(../img/icons/CloseIcon.png) 50%/contain no-repeat;
    width: 1.1em;
    height: 100%;
    position: absolute;
    right: 15px;
    opacity: 0.5;
    top: 0;
  }

  .properties {
    margin-bottom: 0;
    > li {
      border-top: $ms-border;
      padding-left: $sc-left-padding;
      padding-bottom: 14px;
      //&:last-child {
      //  border-bottom: $ms-border;
      //}
      h5 {
        font-size: $sc-h5-font-size;
        padding: 8px 0;
      }
    }
  }

  .selections {
    font-size: 16px;
    li {
      color: $primary-color;
      display: inline-block;
      padding: 0 1.5em;
      border: 1px solid $primary-color;
      height: 2.1em;
      line-height: 1.9em;
      border-radius: 6px;
      &:not(:last-child) {
        margin-right: 0.7em;
      }
      &.selected {
        color: white;
        background-color: $primary-color;
      }
      &:first-child {
        margin-bottom: 8px;
      }
    }
  }

  .counter-wrapper {
    border-top: $ms-border;
    padding: 13px 0 15px $sc-left-padding;
    position: relative;
    i {
      line-height: 34px;
      font-style: normal;
      font-size: $sc-h5-font-size;
    }
    .counter {
      display: inline-block;
      position: absolute;
      right: $sc-left-padding;
      border: $ms-border;
      border-radius: 5px;
      line-height: 33px; // todo: 可能用padding比较好,否则会与border-bottom连不上
      height: 36px;
      font-size: 0;
      color: $primary-color;
      span {
        display: inline-block;
        width: 40px;
        font-size: 18px;
      }
      span:not(:last-child) {
        border-right: $ms-border;
      }
      .number {
        width: 60px;
      }
    }
  }

  .add-to-cart-button {
    position: relative;
    height: $bottom-bar-height;
    line-height: $bottom-bar-height;
    font-size: 17px;
    width: 100%;
    background-color: $primary-color;
    color: white;
    .rmb-char {
      position: absolute;
      left: $sc-left-padding;
    }
    &.invalid {
      background-color: #C7C7C7;
    }
  }
}


$address-height: 40px;
.address-cover {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgba(206, 208, 165, 0.7);
}

.eat-address {
  @include cart-bar(-10px);
  position: relative;

  padding: 9px 0 9px $address-icon-height;
  .address-icon {
    position: absolute;
    height: $address-icon-height;
    width: 35px;
    left: 12px;
    bottom: -2px;
    background: url(../img/icons/LocationPinIcon.png) no-repeat;
    background-size: 48%;
  }
  .address-content {
    .address-title {
      font-size: 10px;
    }
    .address-detail {
      font-size: 13px;
    }
  }
}

.address-group {
  background-color: rgba(241, 241, 241, 0.78);
  position: fixed;
  bottom: 0;
  width: 100%;
  .address-list {
    font-size: 13px;
    padding: 0 7px;
    margin-bottom: 0;
    li {
      background-color: white;
      margin-top: 6px;
      padding: 17px 20px;
      &.active {
        border-left: $primary-color 4px solid;
        padding-left: 16px;
      }
    }
  }
  .address-button-wrapper {
    text-align: center;
    padding: 20px 26px;
    span {
      border-radius: 3px;
      background-color: #8C8C8C;
      color: white;
      padding: 10px 33px;
    }
    > span {
      margin-right: 42px;
    }
  }
}

@media (max-width: 414px) {
  .detail .title{
    max-width: 262px;
  }
}

@media (max-width: 375px) {
  .detail .title {
    max-width: 218px;
  }
  .selections-container .block h4 {
    font-size: 16px;
  }
}

@media (max-width: 320px) {
  .detail .title {
    max-width: 163px;
  }
  .selections-container .block h4 {
    font-size: 14px;
  }
}