@import "compass/utilities/sprites";
@import "icons/*.png";
@import "base";

$buy-height: 30px;

.img-group {
  img {
    width: 100%;
  }
}

.eat-nav {
  margin-bottom: 10px;
  color: $primary-color;
  font-size: 18px;
  .profile-icon {
    background: url(../img/icons/NavBarProfileIcon.png) no-repeat;
    height: 46px;
    position: absolute;
    width: 46px;
    background-size: contain;
    right: 0;
  }
}
.no-filter .count-operation {
  background-color: rgba(54, 55, 55, 0.78);
}
.eat-list {
  width: 95%;
  margin: 0 auto;

  li {
    background-color: white;
    margin-bottom: 17px;
    &:last-child {
      margin-bottom: 60px;
    }
  }
  .img-group {
    position: relative;
    overflow: hidden;
    .count-operation {
      font-size: 0;
      font-weight: 100;
      top: 0;
      position: absolute;
      height: 100%;
      width: 100%;
      color: white;
      > div {
        height: 100%;
        display: inline-block;
        text-align: center;
        font-size: 50px;
        position: relative;
        .vertical-center {
          font-weight: 100;
          left: 0;
          height: 50px;
          line-height: 45px;
          width: 100%;
          position: absolute;
          margin: auto;
          top: 0;
          bottom: 0;
        }
      }
      .subtract {
        width: 20%;
      }
      .count {
        width: 60%;
      }
      .add {
        width: 20%;
      }
    }
  }
  .img-group.blur img{
/*    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    filter: blur(10px);*/
  }
  .detail {
    padding: 0 10px 10px;
    position: relative;
    .title {
      margin: 12px 0 16px;
      font-size: 18px;
    }
    .buy {
      line-height: $buy-height;
      height: $buy-height;
      position: absolute;
      width: 120px;
      right: 0;
      top: 0;
      font-size: 0;
      .price {
        background-color: $price-bg-color;
        font-size: 18px;
        &::before {
          content: '¥ '
        }
      }
      .button {
        background-color: $primary-color;
        color: white;
        font-size: 16px;
      }
      span {
        height: $buy-height;
        text-align: center;
        width: 50%;
        display: inline-block;
      }
    }
  }
}

$address-height: 40px;
.address-cover {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: rgba(206, 208, 165, 0.7);
}

.eat-address {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 9px 0 9px $address-height;
  background-color: rgba(223, 223, 223, 0.9);
  height: 53px;
  .address-icon {
    position: absolute;
    height: 40px;
    width: 35px;
    left: 12px;
    bottom: -2px;
    background: url(../img/icons/LocationPinIcon.png) no-repeat;
    background-size: 48%;
  }
  .address-content {
    .address-title {
      font-size: 10px;
    }
    .address-detail {
      font-size: 13px;
    }
  }
  .cart {
    background: url(../img/icons/ToolbarCartIcon.png) no-repeat;
    background-size: 48%;
    position: absolute;
    right: -10px;
    top: 17px;
    width: 48px;
    height: 40px;
    .total-count {
      position: absolute;
      left: 17px;
      width: 10px;
      height: 10px;
      top: -4px;
      background: red;
      border-radius: 50%;
    }
  }
}

.address-group {
  background-color: rgba(241, 241, 241, 0.78);
  position: fixed;
  bottom: 0;
  width: 100%;
  .eat-address {
    position: relative;
  }
  .address-list {
    font-size: 13px;
    padding: 0 7px;
    margin-bottom: 0;
    li {
      background-color: white;
      margin-top: 6px;
      padding: 17px 20px;
      &.active {
        border-left: $primary-color 4px solid;
        padding-left: 16px;
      }
    }
  }
  .address-button-wrapper {
    text-align: center;
    padding: 20px 26px;
    span {
      border-radius: 3px;
      background-color: #8C8C8C;
      color: white;
      padding: 10px 33px;
    }
    > span {
      margin-right: 42px;
    }
  }
}