@import "base";

.wxpay-main {
  font-size: 16px;
  margin-top: 15px;
  .follow {
    width: 57%;
    margin: 90px auto 0;

    h5 {
      text-align: justify;
      font-weight: 100;
      font-size: 16px;
      line-height: 1.4;
    }
    img {
      width: 100%
    }
  }

  .qr-pay {
    width: 95%;
    border: 1px solid #DADADA;
    border-radius: 3px;
    margin: 0 auto;
    background-color: white;
    padding: 0 7px;

    .title {
      font-size: 12px;
      margin: 7px 0;
    }
    .guide {
      font-size: 14px;
    }

    h5 {
      font-weight: 100;
    }
    img {
      width: 45%;
      margin-bottom: 15px;
    }
    hr {
      margin: 0;
    }
  }
}