<div class="col-lg-12">

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title panel-titlenew">
                <span ng-show="css.isAddNewStatus">新增 Coupon 优惠{{data.coupon.user ? '券' : '码'}}  </span>
                <span ng-hide="css.isAddNewStatus">修改 Coupon 优惠{{data.coupon.user ? '券' : '码'}} - {{data.coupon.name.zh}} - {{data.coupon._id}}</span>
                <a class="btn btn-sm btn-info pull-right" ui-sref="menu.coupons" role="button">返回</a>
            </h3>
        </div>

        <div class="panel-body">
            <form class="form-horizontal" name="couponForm" role="form" novalidate ng-cloak>

                <div class="form-group has-feedback" ng-class="{'has-success':couponForm.couponNameZh.$dirty&&couponForm.couponNameZh.$valid||couponForm.couponNameEn.$dirty&&couponForm.couponNameEn.$valid, 'has-error':couponForm.couponNameZh.$dirty&&couponForm.couponNameZh.$invalid||couponForm.couponNameEn.$dirty&&couponForm.couponNameEn.$invalid}">
                    <label for="inputCouponNameZh" class="col-lg-2 control-label" >名称</label>

                    <div class="col-lg-3">
                        <input type="text" class="form-control" id="inputCouponNameZh" placeholder="中文" name="couponNameZh" ng-model="data.coupon.name.zh" required ng-minlength="2" ng-maxlength="30">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="couponForm.couponNameZh.$dirty&&couponForm.couponNameZh.$valid"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="couponForm.couponNameZh.$dirty&&couponForm.couponNameZh.$invalid"></span>
                    </div>

                    <div class="col-lg-3">
                        <input type="text" class="form-control" id="inputCouponNameEn" placeholder="英文" name="couponNameEn" ng-model="data.coupon.name.en" required ng-minlength="2" ng-maxlength="30">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="couponForm.couponNameEn.$dirty&&couponForm.couponNameEn.$valid"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="couponForm.couponNameEn.$dirty&&couponForm.couponNameEn.$invalid"></span>
                    </div>

                    <div class="col-lg-4">
                        <span class="help-block" ng-if="couponForm.couponNameZh.$dirty&&couponForm.couponNameZh.$error.required">请填入信息！</span>
                        <span class="help-block" ng-if="couponForm.couponNameZh.$dirty&&couponForm.couponNameZh.$error.minlength || couponForm.couponNameZh.$dirty&&couponForm.couponNameZh.$error.maxlength">字符长度错误！</span>

                        <span class="help-block" ng-if="couponForm.couponNameEn.$dirty&&couponForm.couponNameEn.$error.required">请填入信息！</span>
                        <span class="help-block" ng-if="couponForm.couponNameEn.$dirty&&couponForm.couponNameEn.$error.minlength || couponForm.couponNameZh.$dirty&&couponForm.couponNameZh.$error.maxlength">字符长度错误！</span>
                    </div>
                </div>


                <div class="form-group has-feedback" ng-if="data.coupon.couponType=='promocode' || data.coupon.couponType=='promocodepercentage'" ng-class="{'has-success':couponForm.couponPrice.$dirty&&couponForm.couponPrice.$valid, 'has-error':couponForm.couponPrice.$dirty&&couponForm.couponPrice.$invalid}">
                    <label class="col-lg-2 control-label" >优惠码类型</label>

                    <div class="col-lg-6">
                        <label class="radio-inline">
                            <input type="radio" ng-value="'promocode'" ng-model="data.coupon.couponType">优惠码金额
                        </label>
                        <label class="radio-inline">
                            <input type="radio"  ng-value="'promocodepercentage'" ng-model="data.coupon.couponType">优惠码百分比
                        </label>
                        <label class="radio-inline">
                            <input type="radio"  ng-value="'coupon'" ng-model="data.coupon.couponType">优惠券（绑定用户）
                        </label>
                        <label class="radio-inline">
                            <input type="radio"  ng-value="'accountchargecode'" ng-model="data.coupon.couponType">新味币充值码
                        </label>
                    </div>

                </div>

                <div class="form-group has-feedback"  ng-class="{'has-success':couponForm.couponPrice.$dirty&&couponForm.couponPrice.$valid, 'has-error':couponForm.couponPrice.$dirty&&couponForm.couponPrice.$invalid}">
                    <label for="inputCouponPrice" class="col-lg-2 control-label" >优惠金额</label>

                    <div class="col-lg-8">
                        <input type="number" class="form-control" id="inputCouponPrice" placeholder="优惠金额 元" name="couponPrice" ng-model="data.coupon.price" required min="0" max="200">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="couponForm.couponPrice.$dirty&&couponForm.couponPrice.$valid"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="couponForm.couponPrice.$dirty&&couponForm.couponPrice.$invalid"></span>
                    </div>

                    <div class="col-lg-2">
                        <span class="help-block" ng-if="couponForm.couponPrice.$dirty&&couponForm.couponPrice.$error.required">请填入信息！</span>
                        <span class="help-block" ng-if="couponForm.couponPrice.$dirty&&couponForm.couponPrice.$error.min || couponForm.couponPrice.$dirty&&couponForm.couponPrice.$error.max">字符错误9-200！</span>
                    </div>

                </div>

                <div class="form-group has-feedback" ng-if="data.coupon.couponType==='promocodepercentage'" ng-class="{'has-success':couponForm.couponPrice2.$dirty&&couponForm.couponPrice2.$valid, 'has-error':couponForm.couponPrice2.$dirty&&couponForm.couponPrice2.$invalid}">
                    <label for="inputCouponPrice2" class="col-lg-2 control-label" >优惠订单金额百分比</label>

                    <div class="col-lg-8">
                        <input type="number" class="form-control" id="inputCouponPrice2" placeholder="百分比" name="couponPrice2" ng-model="data.coupon.price" required min="30" max="99">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="couponForm.couponPrice2.$dirty&&couponForm.couponPrice2.$valid"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="couponForm.couponPrice2.$dirty&&couponForm.couponPrice2.$invalid"></span>
                    </div>

                    <div class="col-lg-2">
                        <span class="help-block" ng-if="couponForm.couponPrice2.$dirty&&couponForm.couponPrice2.$error.required">请填入信息！</span>
                        <span class="help-block" ng-if="couponForm.couponPrice2.$dirty&&couponForm.couponPrice2.$error.min || couponForm.couponPrice2.$dirty&&couponForm.couponPrice2.$error.max">字符错误30-99！</span>
                    </div>

                </div>


                <div class="form-group has-feedback" ng-if="!data.coupon.user" ng-class="{'has-success':couponForm.couponCode.$dirty&&couponForm.couponCode.$valid, 'has-error':couponForm.couponCode.$dirty&&couponForm.couponCode.$invalid}">
                    <label for="inputCouponCode" class="col-lg-2 control-label" >优惠代码字符</label>

                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="inputCouponCode" placeholder="优惠码字符" name="couponCode" ng-model="data.coupon.code" required ng-minlength="10" ng-maxlength="10">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="couponForm.couponCode.$dirty&&couponForm.couponCode.$valid"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="couponForm.couponCode.$dirty&&couponForm.couponCode.$invalid"></span>
                    </div>

                    <div class="col-lg-2">
                        <span class="help-block" ng-if="couponForm.couponCode.$dirty&&couponForm.couponCode.$error.required">请填入信息！</span>
                        <span class="help-block" ng-if="couponForm.couponCode.$dirty&&couponForm.couponCode.$error.minlength || couponForm.couponCode.$dirty&&couponForm.couponCode.$error.maxlength">字符错误10-10！</span>
                    </div>

                </div>


                <div class="form-group has-feedback" ng-class="{'has-success':couponForm.couponPriceLimit.$dirty&&couponForm.couponPriceLimit.$valid, 'has-error':couponForm.couponPriceLimit.$dirty&&couponForm.couponPriceLimit.$invalid}">
                    <label for="inputCouponPriceLimit" class="col-lg-2 control-label" >订单金额限制</label>

                    <div class="col-lg-8">
                        <input type="number" class="form-control" id="inputCouponPriceLimit" placeholder="金额限制 元" name="couponPriceLimit" ng-model="data.coupon.priceLimit" min="10" max="1000">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="couponForm.couponPriceLimit.$dirty&&couponForm.couponPriceLimit.$valid"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="couponForm.couponPriceLimit.$dirty&&couponForm.couponPriceLimit.$invalid"></span>
                    </div>

                    <div class="col-lg-2">
                        <span class="help-block" ng-if="couponForm.couponPriceLimit.$dirty&&couponForm.couponPriceLimit.$error.required">请填入信息！</span>
                        <span class="help-block" ng-if="couponForm.couponPriceLimit.$dirty&&couponForm.couponPriceLimit.$error.min || couponForm.couponPriceLimit.$dirty&&couponForm.couponPriceLimit.$error.max">字符错误10-1000！</span>
                    </div>

                </div>



                <div class="form-group has-feedback" ng-if="!data.coupon.user">
                    <label class="col-lg-2 control-label" >总使用次数是否限制</label>

                    <div class="col-lg-6">
                        <label class="radio-inline">
                            <input type="radio" ng-value="1" ng-model="data.coupon.usedTime">只能使用一次
                        </label>
                        <label class="radio-inline">
                            <input type="radio"  ng-value="0" ng-model="data.coupon.usedTime">无限次,（请选择下面的 每个用户只能用一次）
                        </label>
                    </div>
                </div>

                <div class="form-group has-feedback" ng-if="!data.coupon.user" ng-class="{'has-success':couponForm.couponUsedTime.$dirty&&couponForm.couponUsedTime.$valid, 'has-error':couponForm.couponUsedTime.$dirty&&couponForm.couponUsedTime.$invalid}">
                    <label for="inputCouponUsedTime" class="col-lg-2 control-label" >总使用次数限制数量</label>

                    <div class="col-lg-8">
                        <input type="number" class="form-control" id="inputCouponUsedTime" placeholder="总使用次数限制" name="couponUsedTime" ng-model="data.coupon.usedTime" required min="0" max="500">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="couponForm.couponUsedTime.$dirty&&couponForm.couponUsedTime.$valid"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="couponForm.couponUsedTime.$dirty&&couponForm.couponUsedTime.$invalid"></span>
                    </div>

                    <div class="col-lg-2">
                        <span class="help-block" ng-if="couponForm.couponUsedTime.$dirty&&couponForm.couponUsedTime.$error.required">请填入信息！</span>
                        <span class="help-block" ng-if="couponForm.couponUsedTime.$dirty&&couponForm.couponUsedTime.$error.min || couponForm.couponUsedTime.$dirty&&couponForm.couponUsedTime.$error.max">字符错误0-500！</span>
                    </div>

                </div>


                <div class="form-group has-feedback" ng-class="{'has-success':couponForm.couponIsUsed.$dirty&&couponForm.couponIsUsed.$valid, 'has-error':couponForm.couponIsUsed.$dirty&&couponForm.couponIsUsed.$invalid}">
                    <label class="col-lg-2 control-label" >是否已使用</label>

                    <div class="col-lg-8">
                        <label class="radio-inline">
                            <input type="radio" name="couponIsUsed"  ng-value="true" ng-model="data.coupon.isUsed">已使用
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="couponIsUsed"  ng-value="false" ng-model="data.coupon.isUsed">未使用 (仅当总使用次数为1次时, 才有效果, 一般用于绑定用户的优惠券)
                        </label>
                    </div>
                </div>


                <div class="form-group has-feedback" ng-if="!data.coupon.user" ng-class="{'has-success':couponForm.couponUsedCountLimit.$dirty&&couponForm.couponUsedCountLimit.$valid, 'has-error':couponForm.couponUsedCountLimit.$dirty&&couponForm.couponUsedCountLimit.$invalid}">
                    <label class="col-lg-2 control-label" >每人使用次数限制</label>

                    <div class="col-lg-8">
                        <label class="radio-inline">
                            <input type="radio" name="couponUsedCountLimit"  ng-value="1" ng-model="data.coupon.usedCountLimitOfOneUser">只能使用一次
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="couponUsedCountLimit"  ng-value="0" ng-model="data.coupon.usedCountLimitOfOneUser">每个用户可用多次 (该功能请谨慎使用, 这种优惠码尽量少发放, 请与总使用次数限制一起使用)
                        </label>
                    </div>
                </div>


                <div class="form-group has-feedback" ng-class="{'has-success':couponForm.couponUsedCountLimit.$dirty&&couponForm.couponUsedCountLimit.$valid, 'has-error':couponForm.couponUsedCountLimit.$dirty&&couponForm.couponUsedCountLimit.$invalid}">
                    <label class="col-lg-2 control-label" >绑定的用户ID</label>

                    <div class="col-lg-8">
                        <span class="help-block" ng-if="data.coupon.user"> <a ui-sref="menu.updateUser({ id: data.coupon.user })">{{data.coupon.user }}</a> </span>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-1">
                        <button type="submit" class="btn btn-primary" ng-show="css.isAddNewStatus" ng-disabled="couponForm.$invalid" ng-click="addNewCoupon(couponForm)">Save</button>
                        <button type="submit" class="btn btn-primary" ng-hide="css.isAddNewStatus" ng-disabled="couponForm.$invalid" ng-click="updateCoupon(couponForm)">Save</button>
                    </div>
                </div>
            </form>

        </div>
    </div>


</div>