
<div class="col-lg-12">

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title panel-titlenew">优惠码 列表
                <a class="btn btn-sm btn-info pull-right" ui-sref="menu.addNewCoupon" role="button">新增</a>
            </h3>
        </div>

        <div class="panel-body">
            <form class="form-horizontal" name="searchForm" novalidate ng-cloak>
                <div class="form-group has-feedback" ng-class="{'has-success':searchForm.keyword.$dirty&&searchForm.keyword.$valid, 'has-error':searchForm.keyword.$dirty&&searchForm.keyword.$invalid}">
                    <label for="inputKeyword" class="col-lg-2 control-label" >关键字实时筛选</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" id="inputKeyword" placeholder="keyword" name="keyword" ng-model="data.searchFilter" required ng-minlength="2">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="searchForm.keyword.$dirty&&searchForm.keyword.$valid"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="searchForm.keyword.$dirty&&searchForm.keyword.$invalid"></span>
                    </div>
                    <div class="col-lg-6">
                        <span class="form-validation help-block" ng-if="searchForm.keyword.$dirty&&searchForm.keyword.$error.required">请填入信息！</span>
                        <span class="form-validation help-block" ng-if="searchForm.keyword.$dirty&&searchForm.keyword.$error.minlength || searchForm.keyword.$dirty&&searchForm.keyword.$error.maxlength">输入的信息长度错误！</span>
                        <span class="form-validation help-block" ng-if="searchForm.keyword.$dirty&&searchForm.keyword.$error.asyncValid">验证失败！</span>
                    </div>
                </div>


                <div class="form-group has-feedback" ng-class="{'has-success':searchForm.couponStatus.$dirty&&searchForm.couponStatus.$valid, 'has-error':searchForm.couponStatus.$dirty&&searchForm.couponStatus.$invalid}">
                    <label  class="col-lg-2 control-label" >类型</label>
                    <div class="col-lg-8">
                        <label class="radio-inline" >
                            <input type="radio" name="couponStatus"  ng-value="'!=coupon'" ng-model="data.searchOptions.couponType" required>优惠码（用于线下）
                        </label>
                        <label class="radio-inline" >
                            <input type="radio" name="couponStatus"  ng-value="'coupon'" ng-model="data.searchOptions.couponType" required>优惠券（绑定用户）
                        </label>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-default" ng-click="searchOrderCount(searchForm)">Search</button>
                    </div>
                </div>
            </form>

        </div>
    </div>



    <nav>
        <ul class="pagination">
            <li>
                <span aria-hidden="true"> 共{{data.couponListCount}}条记录 </span>
            </li>

            <li>
                <a aria-label="Previous" ng-hide="data.couponListCurrentPage==1"  ng-click="changePagination(data.couponListCurrentPage - 1)"> <span aria-hidden="true">&laquo;</span></a>
            </li>
            <li ng-repeat="page in data.couponListPagesArray"><a ng-click="changePagination(page.value)">{{page.value}}</a></li>
            <li>
                <a aria-label="Next" ng-hide="data.couponListCurrentPage==data.couponListTotalPages"  ng-click="changePagination(data.couponListCurrentPage + 1)"><span aria-hidden="true">&raquo;</span> </a>
            </li>
        </ul>
    </nav>


    <table class="table table-striped table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>_id</th>
                <th>所属用户</th>
                <th>优惠码名称 中文</th>
                <th>优惠码名称 英文</th>
                <th>优惠码 code</th>
                <th>优惠金额</th>
                <th>订单金额限制</th>
                <th>使用次数限制</th>
                <th>每人使用次数限制</th>
                <th>有效期</th>
                <th>是否过期</th>

                <th>已使用次数</th>
                <th>是否已用</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="coupon in data.couponList | filter: data.searchFilter">
                <td><a ui-sref="menu.updateCoupon({ id: coupon._id })">{{coupon._id}}</a> </td>
                <td> <a ui-sref="menu.updateUser({ id: coupon.user })">{{coupon.user ? coupon.user : '' }}</a> </td>
                <td>{{coupon.name.zh}}</td>
                <td>{{coupon.name.en}}</td>
                <td>{{coupon.code}}</td>
                <td>{{coupon.price}}</td>
                <td>{{coupon.priceLimit}}</td>
                <td>{{coupon.usedTime}}</td>
                <td>{{coupon.usedCountLimitOfOneUser}}</td>

                <td>{{coupon.startDate | date:'yyyy-MM-dd HH:mm:ss'}} － {{coupon.endDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{coupon.isExpired}}</td>

                <td>{{coupon.isUsedCount}}</td>
                <td>{{coupon.isUsed}}</td>
                <td>
                    <div class="alert alert-danger" role="alert" ng-show="data.currentDeleteIndex===coupon._id">确认真的删除吗？
                        <button class="btn btn-danger" ng-click="delCoupon(coupon)">立即删除</button>
                        <button class="btn btn-info" ng-click="data.currentDeleteIndex=-1">返回</button>
                    </div>
                    <button class="btn btn-danger" ng-show="data.currentDeleteIndex!==coupon._id" ng-click="data.currentDeleteIndex=coupon._id">删除</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>




