
<div class="col-lg-12">

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title panel-titlenew">优惠码 列表
                <a class="btn btn-sm btn-info pull-right" ui-sref="menu.addNewCoupon" role="button">新增</a>
            </h3>
        </div>

        <div class="panel-body">
            <form class="form-horizontal" name="searchForm" novalidate ng-cloak>
                <div class="form-group has-feedback" ng-class="{'has-success':searchForm.keyword.$dirty&&searchForm.keyword.$valid, 'has-error':searchForm.keyword.$dirty&&searchForm.keyword.$invalid}">
                    <label for="inputKeyword" class="col-lg-2 control-label" >关键字实时筛选</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" id="inputKeyword" placeholder="keyword" name="keyword" ng-model="data.searchFilter" required ng-minlength="2">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="searchForm.keyword.$dirty&&searchForm.keyword.$valid"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="searchForm.keyword.$dirty&&searchForm.keyword.$invalid"></span>
                    </div>
                    <div class="col-lg-6">
                        <span class="form-validation help-block" ng-if="searchForm.keyword.$dirty&&searchForm.keyword.$error.required">请填入信息！</span>
                        <span class="form-validation help-block" ng-if="searchForm.keyword.$dirty&&searchForm.keyword.$error.minlength || searchForm.keyword.$dirty&&searchForm.keyword.$error.maxlength">输入的信息长度错误！</span>
                        <span class="form-validation help-block" ng-if="searchForm.keyword.$dirty&&searchForm.keyword.$error.asyncValid">验证失败！</span>
                    </div>
                </div>


                <div class="form-group has-feedback" ng-class="{'has-success':searchForm.couponStatus.$dirty&&searchForm.couponStatus.$valid, 'has-error':searchForm.couponStatus.$dirty&&searchForm.couponStatus.$invalid}">
                    <label  class="col-lg-2 control-label" >类型</label>
                    <div class="col-lg-10">
                        <label class="radio-inline" >
                            <input type="radio" name="couponStatus"  ng-value="''" ng-model="data.searchOptions.couponType" required>ALL
                        </label>
                        <label class="radio-inline" >
                            <input type="radio" name="couponStatus"  ng-value="'promocode'" ng-model="data.searchOptions.couponType" required>优惠码金额折扣
                        </label>
                        <label class="radio-inline" >
                            <input type="radio" name="couponStatus"  ng-value="'promocodepercentage'" ng-model="data.searchOptions.couponType" required>优惠码百分比折扣
                        </label>
                        <label class="radio-inline" >
                            <input type="radio" name="couponStatus"  ng-value="'coupon'" ng-model="data.searchOptions.couponType" required>优惠券(绑定用户)
                        </label>
                        <label class="radio-inline" >
                            <input type="radio" name="couponStatus"  ng-value="'couponchargecode'" ng-model="data.searchOptions.couponType" required>优惠券兑换码
                        </label>
                        <label class="radio-inline" >
                            <input type="radio" name="couponStatus"  ng-value="'accountchargecode'" ng-model="data.searchOptions.couponType" required>新味币充值码
                        </label>
                    </div>
                </div>

                <div class="form-group has-feedback" ng-class="{'has-success':searchForm.couponIsUsed.$dirty&&searchForm.couponIsUsed.$valid, 'has-error':searchForm.couponIsUsed.$dirty&&searchForm.couponIsUsed.$invalid}">
                    <label  class="col-lg-2 control-label" >是否使用(针对优惠券)</label>
                    <div class="col-lg-10">
                        <label class="radio-inline" >
                            <input type="radio" name="couponIsUsed"  ng-value="''" ng-model="data.searchOptions.isUsed" >ALL
                        </label>
                        <label class="radio-inline" >
                            <input type="radio" name="couponIsUsed"  ng-value="'false'" ng-model="data.searchOptions.isUsed" >未使用
                        </label>
                        <label class="radio-inline" >
                            <input type="radio" name="couponIsUsed"  ng-value="'true'" ng-model="data.searchOptions.isUsed" >已使用
                        </label>
                    </div>
                </div>

                <div class="form-group has-feedback" ng-class="{'has-success':searchForm.couponUsedCount.$dirty&&searchForm.couponUsedCount.$valid, 'has-error':searchForm.couponUsedCount.$dirty&&searchForm.couponUsedCount.$invalid}">
                    <label  class="col-lg-2 control-label" >使用次数(针对优惠码)</label>
                    <div class="col-lg-10">
                        <label class="radio-inline" >
                            <input type="radio" name="couponUsedCount"  ng-value="''" ng-model="data.searchOptions.isUsedCount" >ALL
                        </label>
                        <label class="radio-inline" >
                            <input type="radio" name="couponUsedCount"  ng-value="'0'" ng-model="data.searchOptions.isUsedCount" >未使用
                        </label>
                        <label class="radio-inline" >
                            <input type="radio" name="couponUsedCount"  ng-value="'>0'" ng-model="data.searchOptions.isUsedCount" >已使用过
                        </label>
                    </div>
                </div>


                <div class="form-group has-feedback" ng-class="{'has-success':searchForm.promoCode.$dirty&&searchForm.promoCode.$valid, 'has-error':searchForm.promoCode.$dirty&&searchForm.promoCode.$invalid}">
                    <label for="inputPromoCode" class="col-lg-2 control-label" >优惠码</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" id="inputPromoCode" placeholder="" name="promoCode" ng-model="data.searchOptions.code" ng-minlength="10">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="searchForm.promoCode.$dirty&&searchForm.promoCode.$valid"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="searchForm.promoCode.$dirty&&searchForm.promoCode.$invalid"></span>
                    </div>
                    <div class="col-lg-6">
                        <span class="form-validation help-block" ng-if="searchForm.promoCode.$dirty&&searchForm.promoCode.$error.required">请填入信息！</span>
                        <span class="form-validation help-block" ng-if="searchForm.promoCode.$dirty&&searchForm.promoCode.$error.minlength || searchForm.promoCode.$dirty&&searchForm.promoCode.$error.maxlength">输入的信息长度错误！</span>
                    </div>
                </div>



                <div class="form-group has-feedback" ng-class="{'has-success':searchForm.couponId.$dirty&&searchForm.couponId.$valid, 'has-error':searchForm.couponId.$dirty&&searchForm.couponId.$invalid}">
                    <label for="inputCouponId" class="col-lg-2 control-label" >优惠券或优惠码ID</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" id="inputCouponId" placeholder="优惠券ID" name="couponId" ng-model="data.searchOptions._id" ng-minlength="23">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="searchForm.couponId.$dirty&&searchForm.couponId.$valid"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="searchForm.couponId.$dirty&&searchForm.couponId.$invalid"></span>
                    </div>
                    <div class="col-lg-6">
                        <span class="form-validation help-block" ng-if="searchForm.couponId.$dirty&&searchForm.couponId.$error.required">请填入信息！</span>
                        <span class="form-validation help-block" ng-if="searchForm.couponId.$dirty&&searchForm.couponId.$error.minlength || searchForm.couponId.$dirty&&searchForm.couponId.$error.maxlength">输入的信息长度错误！</span>
                    </div>
                </div>



                <div class="form-group has-feedback" ng-class="{'has-success':searchForm.userId.$dirty&&searchForm.userId.$valid, 'has-error':searchForm.userId.$dirty&&searchForm.userId.$invalid}">
                    <label for="inputUserId" class="col-lg-2 control-label" >优惠券所属用户ID</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" id="inputUserId" placeholder="用户ID" name="userId" ng-model="data.searchOptions.user" ng-minlength="23">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="searchForm.userId.$dirty&&searchForm.userId.$valid"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="searchForm.userId.$dirty&&searchForm.userId.$invalid"></span>
                    </div>
                    <div class="col-lg-6">
                        <span class="form-validation help-block" ng-if="searchForm.userId.$dirty&&searchForm.userId.$error.required">请填入信息！</span>
                        <span class="form-validation help-block" ng-if="searchForm.userId.$dirty&&searchForm.userId.$error.minlength || searchForm.userId.$dirty&&searchForm.userId.$error.maxlength">输入的信息长度错误！</span>
                    </div>
                </div>


                <div class="form-group has-feedback" ng-class="{'has-success':searchForm.fromCouponId.$dirty&&searchForm.fromCouponId.$valid, 'has-error':searchForm.fromCouponId.$dirty&&searchForm.fromCouponId.$invalid}">
                    <label for="inputFromCouponId" class="col-lg-2 control-label" >来源于优惠码兑换码ID</label>
                    <div class="col-lg-4">
                        <input type="text" class="form-control" id="inputFromCouponId" placeholder="优惠码兑换码ID" name="fromCouponId" ng-model="data.searchOptions.fromCoupon" ng-minlength="10">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="searchForm.fromCouponId.$dirty&&searchForm.fromCouponId.$valid"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="searchForm.fromCouponId.$dirty&&searchForm.fromCouponId.$invalid"></span>
                    </div>
                    <div class="col-lg-6">
                        <span class="form-validation help-block" ng-if="searchForm.fromCouponId.$dirty&&searchForm.fromCouponId.$error.required">请填入信息！</span>
                        <span class="form-validation help-block" ng-if="searchForm.fromCouponId.$dirty&&searchForm.fromCouponId.$error.minlength || searchForm.fromCouponId.$dirty&&searchForm.fromCouponId.$error.maxlength">输入的信息长度错误！</span>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-default" ng-click="searchCouponCount(searchForm)">Search</button>
                    </div>
                </div>
            </form>

        </div>
    </div>



    <nav>
        <ul class="pagination">
            <li>
                <span aria-hidden="true"> 共{{data.couponListCount}}条记录 </span>
            </li>

            <li>
                <a aria-label="Previous" ng-hide="data.couponListCurrentPage==1"  ng-click="changePagination(data.couponListCurrentPage - 1)"> <span aria-hidden="true">&laquo;</span></a>
            </li>
            <li ng-repeat="page in data.couponListPagesArray"><a ng-click="changePagination(page.value)">{{page.value}}</a></li>
            <li>
                <a aria-label="Next" ng-hide="data.couponListCurrentPage==data.couponListTotalPages"  ng-click="changePagination(data.couponListCurrentPage + 1)"><span aria-hidden="true">&raquo;</span> </a>
            </li>
        </ul>
    </nav>


    <table class="table table-striped table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>_id / 创建时间</th>
                <th>所属用户</th>
                <th>优惠码名称</th>
                <th>类型</th>
                <th>优惠码 code</th>
                <th>优惠金额</th>
                <th>订单金额限制</th>
                <th>使用次数限制</th>
                <th>每人使用次数限制</th>
                <th>有效期</th>
                <th>是否过期</th>

                <th>已使用次数</th>
                <th>是否已用</th>
                <!--<th>操作</th>-->
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="coupon in data.couponList | filter: data.searchFilter">
                <td><a ui-sref="menu.updateCoupon({ id: coupon._id })">{{coupon._id}}</a>  <br/> {{coupon.createdAt | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                <td> <a ui-sref="menu.updateUser({ id: coupon.user })">{{coupon.user ? coupon.user : '' }}</a> </td>
                <td>{{coupon.name.zh}} <br>{{coupon.name.en}}</td>
                <td>
                    <span ng-show="coupon.couponType==='promocode'">优惠码 金额折扣</span>
                    <span ng-show="coupon.couponType==='promocodepercentage'">优惠码百分比折扣</span>
                    <span ng-show="coupon.couponType==='coupon'">优惠券</span>
                    <span ng-show="coupon.couponType==='couponchargecode'">优惠券兑换码</span>
                    <span ng-show="coupon.couponType==='accountchargecode'">新味币充值码</span>
                </td>
                <td>{{coupon.code}}</td>
                <td>{{coupon.price}} <span ng-if="coupon.couponType==='promocodepercentage'">%</span></td>
                <td>{{coupon.priceLimit}}</td>
                <td>{{coupon.usedTime}}</td>
                <td>{{coupon.usedCountLimitOfOneUser}}</td>

                <td>{{coupon.startDate | date:'yyyy-MM-dd HH:mm:ss'}} － {{coupon.endDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                <td>{{coupon.isExpired}}</td>

                <td>{{coupon.isUsedCount}}</td>
                <td>{{coupon.isUsed}}</td>
                <!--<td>-->
                    <!--<div class="alert alert-danger" role="alert" ng-show="data.currentDeleteIndex===coupon._id">确认真的删除吗？-->
                        <!--<button class="btn btn-danger" ng-click="delCoupon(coupon)">立即删除</button>-->
                        <!--<button class="btn btn-info" ng-click="data.currentDeleteIndex=-1">返回</button>-->
                    <!--</div>-->
                    <!--<button class="btn btn-danger" ng-show="data.currentDeleteIndex!==coupon._id" ng-click="data.currentDeleteIndex=coupon._id">删除</button>-->
                <!--</td>-->
            </tr>
        </tbody>
    </table>

</div>




