<div class="col-lg-12">

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title panel-titlenew">
                <span ng-show="css.isAddNewStatus">新增 Coupon 标签</span>
                <span ng-hide="css.isAddNewStatus">修改 Coupon 标签 - {{data.coupon.name.zh}} - {{data.coupon._id}}</span>
                <a class="btn btn-sm btn-info pull-right" ui-sref="menu.coupons" role="button">返回</a>
            </h3>
        </div>

        <div class="panel-body">
            <form class="form-horizontal" name="couponForm" role="form" novalidate ng-cloak>

                <div class="form-group has-feedback" ng-class="{'has-success':couponForm.couponNameZh.$dirty&&couponForm.couponNameZh.$valid||couponForm.couponNameEn.$dirty&&couponForm.couponNameEn.$valid, 'has-error':couponForm.couponNameZh.$dirty&&couponForm.couponNameZh.$invalid||couponForm.couponNameEn.$dirty&&couponForm.couponNameEn.$invalid}">
                    <label for="inputCouponNameZh" class="col-lg-2 control-label" >标签名称</label>

                    <div class="col-lg-3">
                        <input type="text" class="form-control" id="inputCouponNameZh" placeholder="中文" name="couponNameZh" ng-model="data.coupon.name.zh" required ng-minlength="2" ng-maxlength="30">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="couponForm.couponNameZh.$dirty&&couponForm.couponNameZh.$valid"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="couponForm.couponNameZh.$dirty&&couponForm.couponNameZh.$invalid"></span>
                    </div>

                    <div class="col-lg-3">
                        <input type="text" class="form-control" id="inputCouponNameEn" placeholder="英文" name="couponNameEn" ng-model="data.coupon.name.en" required ng-minlength="2" ng-maxlength="30">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-if="couponForm.couponNameEn.$dirty&&couponForm.couponNameEn.$valid"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true" ng-if="couponForm.couponNameEn.$dirty&&couponForm.couponNameEn.$invalid"></span>
                    </div>

                    <div class="col-lg-4">
                        <span class="form-validation help-block" ng-if="couponForm.couponNameZh.$dirty&&couponForm.couponNameZh.$error.required">请填入信息！</span>
                        <span class="form-validation help-block" ng-if="couponForm.couponNameZh.$dirty&&couponForm.couponNameZh.$error.minlength || couponForm.couponNameZh.$dirty&&couponForm.couponNameZh.$error.maxlength">字符长度错误！</span>

                        <span class="form-validation help-block" ng-if="couponForm.couponNameEn.$dirty&&couponForm.couponNameEn.$error.required">请填入信息！</span>
                        <span class="form-validation help-block" ng-if="couponForm.couponNameEn.$dirty&&couponForm.couponNameEn.$error.minlength || couponForm.couponNameZh.$dirty&&couponForm.couponNameZh.$error.maxlength">字符长度错误！</span>
                    </div>
                </div>

                <div class="form-group has-feedback" ng-class="{'has-success':couponForm.couponGroup.$dirty&&couponForm.couponGroup.$valid, 'has-error':couponForm.couponGroup.$dirty&&couponForm.couponGroup.$invalid}">
                    <label class="col-lg-2 control-label" >标签组</label>

                    <div class="col-lg-5">
                        <select class="form-control" name="couponGroup" ng-model="data.coupon.group" ng-options="group as group.zh for group in data.couponGroup">
                        </select>
                    </div>
                </div>

                <div class="form-group has-feedback" ng-class="{'has-success':couponForm.couponIsFilter.$dirty&&couponForm.couponIsFilter.$valid, 'has-error':couponForm.couponIsFilter.$dirty&&couponForm.couponIsFilter.$invalid}">
                    <label class="col-lg-2 control-label" >是否用于菜品筛选</label>

                    <div class="col-lg-4">
                        <label class="radio-inline">
                            <input type="radio" name="couponIsFilter" id="inlineRadio1" ng-value="true" ng-model="data.coupon.isFilter">是
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="couponIsFilter" id="inlineRadio2" ng-value="false" ng-model="data.coupon.isFilter">否
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-1">
                        <button type="submit" class="btn btn-primary" ng-show="css.isAddNewStatus" ng-disabled="couponForm.$invalid" ng-click="addNewCoupon(couponForm)">Save</button>
                        <button type="submit" class="btn btn-primary" ng-hide="css.isAddNewStatus" ng-disabled="couponForm.$invalid" ng-click="updateCoupon(couponForm)">Save</button>
                    </div>
                </div>
            </form>

        </div>
    </div>


</div>